[2019-07-29 16:58] ulivz commented on #1726
Actually, I don't want every member to be under too much pressure. so I expect our team to look like this in the end:

1. Curator of English Documents (1-2 persons) - focus on [docs](https://github.com/vuejs/vuepress/tree/master/packages/docs);
2. Curator of Chinese Documents (1-2 persons) - focus on [docs/zh](https://github.com/vuejs/vuepress/tree/master/packages/docs/zh/);
3. Lead of Plugin Ecol

[2019-07-29 17:49] #1623 closed

[2019-07-29 17:52] ulivz commented on #1631
Sorry for the delay to see this pull request, do you still need it?

[2019-07-29 18:35] f3ltron commented on #1631
no problem yeah it could be great as  the feature for me should exist when i watch the code. Maybe i am wrong ?

[2019-07-29 22:22] f3ltron opened #1729 "failed to resolved async component"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- create a vue js project with vue create examples
- adding --save-dev vuepress@next 1.0.0-rc.1
- running     "docs": "vuepress dev --no-clear-screen"

- adding a config.js in .vuepress folder

[code]
- adding a readme at the root of the docs

[code]

#### What is expected?

it should just work w

[2019-07-30 08:51] NickChen14 commented on #1729
Sorry, I have the similar issue.

#### Inside an Existing Vue Project

- `yarn add vuepress -D`
- add a config.js in .vuepress folder.
[code]
- add README.md in `src/pages/sitemap`
- `yarn docs:dev`
[code]

[code]

#### What is actually happening?
[code]

#### Other relevant information
- Output of `yarn vuepress info` in my VuePress project:

[code]

[2019-07-30 09:34] janvennemann commented on #1018
We have been working on a plugin that does versioning in VuePress. It's still in the early stages but we released a first version a couple of days ago. It's pretty similar to how Docusaurus does versioning so there are a few differences to @robsontenorio approach.

## Overview

- Docusaurus style versioning ported to VuePress
- `vuepress version <sourceDir> <versionNumber>` command to draft new ve

[2019-07-30 11:16] florimondmanca commented on #1018
That sounds promising @janvennemann!

Would it make sense to store versioned content in a dedicated folder, instead of non versioned content? This would allow to have extra pages anywhere and not place any extra constraints on folder structure. My intuition is that this could make discriminating versioned content easier as well. :-)

[2019-07-30 11:53] janvennemann commented on #1018
In our use case everything in the docs source folder needs to be versioned anyway and only a few extra pages are excerpt from that. That's the reason we choose it that way around. The folder `website/pages` is not hardcoded btw and can be configured in the plugin options.

But i see that for others only a specific folder could be of interest to be considered for versioning. I already thought about

[2019-07-30 18:45] bloqhead commented on #1716
So I managed to find a way to handle this using `additionalPages` in my config file.

I created a function (currently inside of `config.js` but could be moved elsewhere as middleware) that builds an array of the URLs from objects in a JSON file, and then pushes that array to `additionalPages`:

[code]

And then in `additionalPages` in my `config.js` file:

[code]

This builds all of my version URL

[2019-07-30 18:45] #1716 closed

[2019-07-30 22:20] chris-dura commented on #1729
This looks like maybe a problem introduced by `1.0.3`... I was experiencing the same problem and rolled back to `1.0.2` and I no longer receive that problem.

[code]

[2019-07-31 07:05] quanzaiyu commented on #1283
It takes effect when I changed some dynamically configurations, but changing fontmatter didn't work.

Some dynamically configurations related files are as follows:

`website\.vuepress\plugins\enhanceAppFiles\generateSidebars.js`

![未命名1564556356](https://user-images.githubusercontent.com/13745132/62190410-e1bfdf00-b3a3-11e9-94f1-6a2da17bbfa1.png)

`website\.vuepress\plugins\enhanceAppFiles\index.j

[2019-07-31 16:53] f3ltron commented on #1729
i will try to find the error in 1.0.3 next week i cant till there because coming to Canada ^^

[2019-07-31 16:55] f3ltron commented on #1726
this is awesome ! Of course i will apply ! :+1:

[2019-07-31 17:57] Mbensler opened #1732 "Menu links not displaying router-link-active"
- [x] I confirm that this is an issue rather than a question.

## Bug report

When using letters like Æ, Ø, Å in the menu text and menu links, the header active bottom border will not display. When using normal english characters in the text and links it works how it's supposed to.

#### Steps to reproduce

Use letters like Æ, Ø or Å in the nav menu text.

#### What is expected?

The border-bottom

[2019-07-31 18:40] rubyil commented on #1729
I removed node_modules and global vuepress installation, then ran npm install in the project folder and this solved the issue.

[2019-07-31 18:44] thunderBiscuit commented on #1703
This is a problem for us as well.

[2019-07-31 19:01] f3ltron commented on #1729
i dont understand how it can solve the problem to do that. I dont have vuepress global install. And npm install will install the exact same packages

[2019-07-31 19:08] blindedbymscience commented on #1729
I'd like to add that I also encountered this error.

At first I thought it had to do with an async promise in my custom component (in this case it was a cognito login popup) but after troubleshooting for a while I found that the issue only came up when I ran a build.

[code]

Diving deeper into the error messaging I found that it wasn't a problem with async code in the component, but rather that m

[2019-07-31 20:56] chris-dura commented on #1729
This means, depending on your component usage, you _may_ need to use the [`<ClientOnly/>` builtin component](https://v1.vuepress.vuejs.org/guide/using-vue.html#browser-api-access-restrictions), or move the `window` code to a `mounted()` or `beforeMount()` hook in your component.

However, this doesn't _precisely_ explain why it happens in `1.0.3` and _not_ `1.0.2` for my case, however.

[2019-08-01 08:13] f3ltron commented on #1729
@blindedbymscience you faced the same issue but it was about window after you investigate ? I am not sure i understand here ^^. I will check if i can have more infos in my day off this weekend

[2019-08-01 08:44] MissNanLan opened #1733 "Why css 、ttf 、woff path is correct ，but vuepress tell me it's incorrect？"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?
No error

#### What is actually happening?
![image](https://user-images.githubusercontent.com/22790863/62278675-21a5c580-b47b-11e9-8a32-d5a7ddc3431d.png)

vuepress console error message

![image](https://user-images.githubusercontent.com/22790863/62278709-33876880-b47b-11e9

[2019-08-01 15:26] kidonng commented on #1401
As [v1.0.3](https://github.com/vuejs/vuepress/releases/tag/v1.0.3) has released, you should be able to customize the code theme now.

[2019-08-01 16:56] blindedbymscience commented on #1729
@f3ltron In my case, the build was failing while running on AWS CodeBuild -in that Node environment there was no "window" object so that component was throwing errors while the build was running.

As soon as I removed the call in my code to window the build ran fine.

[2019-08-01 18:47] FriendlyUser commented on #1662
markdown-it-katex worked for me in my project for vuepress@1.0.3, keep in mind you may need to update your config file and include a link to css style sheet/
[code]

[2019-08-01 21:10] syffs commented on #465
@ulivz could you please advise whether this is now supported (even with a plugin) ?

This could be a great feature to be able to lock a WIP vuepress...

[2019-08-01 21:28] f3ltron commented on #1729
ok this is not relevant to this bug so

[2019-08-02 15:26] MickaMx commented on #1631
I'd be great to add that. I've been trying to import my vuetify component to vuepress but those components use vue-i18n and I can't find a way to make it work.
This feature could solve the problem

[2019-08-02 15:27] f3ltron commented on #1631
If i remember well it was exactly for that i created the issue because i faced the same probleme @MickaMx  :)

[2019-08-02 15:31] MickaMx commented on #1631
Did you found a way around ? other than the code you've add in this issue?

[2019-08-02 15:33] f3ltron commented on #1631
This part of code should be update. I could create the PR but just need some validation on it

[2019-08-02 15:35] f3ltron commented on #1631
yeah i found something but really not stable

[2019-08-02 18:05] chris-dura commented on #1727
These are added via a plugin in the default theme, so you could just remove that plugin in your config, I believe. Or, if you want to go nuclear, add this one line of CSS...

[2019-08-02 18:22] f3ltron commented on #1631
oh didnt remember ^ ^ i already created the pr @MickaMx  https://github.com/vuejs/vuepress/pull/1632

[2019-08-02 18:36] MickaMx commented on #1631
Yep, I saw that. It didn't got merge yet ^^

[2019-08-02 20:00] f3ltron opened #1735 "modifyHTML question"
## Feature request

Just want to understand what is it for ? The goal behind ? I can think about it just to be sure
 @ulivz

[2019-08-02 21:43] sinaa commented on #1729
I am facing the same issue, however, in my case, I am defining a custom plugin.

Everything compiles fine if I use a `for .. in` loop in the code, but fails if I use a `for .. of` loop in the module. I imagine it has something to do with the way the transpiling/webpack logic are set up.

[2019-08-04 08:31] timaschew commented on #1497
Nice, and yes your code looks better ;)

Yes I totally agree. But that can be a configuration, right? So everybody can use its own preferences.

I hope the bugs will be fixed soon. I actually expected that they will be fixed before 1.0 will go live, but 1.0 is already out.

\c @ulivz @Shigma

[2019-08-04 17:54] lauragift21 commented on #1726
Hi @ulivz I got your mail. Will be interested in taking on the role of Curator of English Documents.

[2019-08-04 17:55] ShailenNaidoo commented on #1726
Hi @ulivz, I am interested in taking a role as curator of English documents.

[2019-08-04 18:46] malgamves commented on #1726
Hey @ulivz I'd like to take up something with the Blog Plugin and theme don't mind helping out with English Documentation.

[2019-08-04 22:58] blakemorgan commented on #1726
@ulivz I'd like to take on the position of a core maintainer. If not that, then a curator of English documentation.

[2019-08-05 02:39] ulivz opened #1737 "Update the domain setting for documentation"
## Feature request

Since 1.x is stable enough, it's time to use [vuepress.vuejs.org](https://vuepress.vuejs.org) to host the latest documentation, while [v0.vuepress.vuejs.org](https://v0.vuepress.vuejs.org) could be used for the docs of 0.x.

Note that after this change, the [v1.vuepress.vuejs.org](https://v1.vuepress.vuejs.org) should be CNAME or redirected to [vuepress.vuejs.org](https://vuepr

[2019-08-05 06:17] RikkaW opened #1738 "Provide vuepress.ps1 for Windows"
## Feature request

Windows's CMD shows a "Terminate batch job (Y/N)?" when Ctrl-C, user have to press Y and Enter to exit. This is super annoying and meaningless, but PowerShell script does not have this problem.

#### What problem does this feature solve?
Get rid of "Terminate batch job (Y/N)?" on Windows.

#### How should this be implemented in your opinion?
Switch to @zkochan/cmd-shim which su

[2019-08-05 06:33] bungder commented on #1315
Why did you close this issue while it was never resolved?

[2019-08-05 11:57] starkovsky commented on #1726
Hi @ulivz
Position Curator of Russian Documents
(After finished translation and send PR)

[2019-08-05 13:21] cfjedimaster commented on #1726
@ulivz I'd like to take on a position related to the docs, English language.

[2019-08-05 13:23] danvega commented on #1726
@ulivz I would like to work on the english docs.

[2019-08-05 14:02] joshgrib commented on #1726
@ulivz I'd like to work on plugin ecology, I'd also be interested in helping with English documentation

[2019-08-05 19:59] viniciuskneves commented on #1642
Are you using NVM? It looks more like a Node error than Vuepress itself.
There is a similar issue from Gatsby here: https://github.com/gatsbyjs/gatsby/issues/13854
Try to install node without NVM (if you're using it) and try again.
Another solution is to try another version of Node itself.

[2019-08-05 20:49] sobolevn opened #1741 "Setup remark-lint for the docs"
## Feature request

As we have discussed with @sarahdayan the future roadmap of `remark-lint` adoption is:
1. I will set up the initial `remark`-based config at https://github.com/vuejs/vuepress/tree/master/packages/docs (estimate: 6.08.2019)
2. I will have to figure out what style rules does this repo already have, so the future diffs would be minimal (+1-2 days)
3. I will fix the style violation

[2019-08-05 20:57] chris-visser commented on #1732
After some investigation, this turns out to be a vue-router issue. The problem lies in the string comparison features of default Javascript. A similar issue is described on this Stackoverflow page:

https://stackoverflow.com/questions/10805711/javascript-string-comparison-fails-when-comparing-unicode-characters.

Since it takes a whole library just to add this functionality into the Vue router, it

[2019-08-06 07:08] posva commented on #1732
I don't understand very well what behavior is failing in Vue Router as a route with unicode is matched correctly and applies the active classes. Maybe there is a case that we didn't handle and in that case I will need a boiled down repro to check it

[2019-08-06 07:58] sobolevn opened #1747 "Create CONTRIBUTING.md"
## Feature request

We need to create a `CONTRIBUTING.md` guide.
Original idea from #1745  and #1741

#### What problem does this feature solve?

It allows new contributors to understand the process of creating new PRs to the repo.
Ideally, it covers topics like:
1. Forking and branching, including branch names and commit messages
2. Project and mono-repo layout
3. Code quality standards and agree

[2019-08-06 08:25] sarahdayan commented on #1747
Hey! @ulivz created one already, let's finish it :) https://github.com/vuejs/vuepress/pull/1739

[2019-08-06 09:27] kefranabg opened #1748 "Improve CircleCI workflow"
## Feature request

I've noticed that some improvements could be added to the CI process:

- Split the single main process into multiple jobs.
   **Why ?**
   - From a github PR, it would be easier to understand what's wrong when CI fails.
We'd have this:
![Sans titre](https://user-images.githubusercontent.com/9840435/62527015-abb6ab00-b83a-11e9-85da-b991507e5d9f.png)

      Instead of this:
![Cap

[2019-08-06 09:36] kefranabg opened #1749 "Enable CI build for forked Pull Requests"
## Feature request

CI process is not fired for forked pull requests.
It means no CI for external contributors 😭

We should turn on this on CircleCI:

![Capture d’écran 2019-08-06 à 11 30 20](https://user-images.githubusercontent.com/9840435/62529014-1ae1ce80-b83e-11e9-9bef-4db449f45848.jpg)

#### Are you willing to work on this yourself?

I don't think I have permission on CircleCI for now 😄

[2019-08-06 11:04] reanim8ed opened #1750 "Page TOC and search in the content"
## Feature request

I would like to migrate my wiki from Gitbook and VuePress is one of my main options, especially because of the speed, but I'm missing a couple of important features and without them usefulness of the wiki is redused greatly:
- Table Of Content in the page could be implemented as the right sidebar: http://bit.ly/2KnU15a
- Search could include results from the content too: http:/

[2019-08-06 12:10] edisdev commented on #1726
@ulivz  Hi Sir,

I would you like to work software development for project. :) I will make PR :)

[2019-08-06 14:08] aliartiza75 commented on #1671
@xr0master currently, when I click on the collapsible sidebar a drop-down list is shown but on the right side, a default page(README.md) is being shown.

What I want is to display a default page instead of README.md regarding the collapsible sidebar unless the user clicks on any particular item of the dropdown menu

[2019-08-06 14:40] Youdaman commented on #896
Another way to enable CoffeeScript is just extending the build/webpack section of nuxt.config.js like so:
[code]

I've seen other issues about lang="coffee" not working out of the box and it seems you can use other pre-processors like pug and stylus by just installing their npm modules and respective loaders, however CoffeeScript requires adding the above to the webpack config manually -- perhaps

[2019-08-06 17:10] brentcappello commented on #1729
Same issue. Clean install into a clean project. V1.0.3.
I'm still investigating.

[2019-08-06 17:40] Mbensler commented on #1732
Thanks for the answers.

After having tested it further, I've noticed that using unicode characters in the menu text **CAN** actually work, but only if you **DON'T** use unicode characters in the link. I am in a situation where I need to be able to use unicode chars in both the text and the link.

I've made a repo with some short descriptions that may or may not help you. I think I've probably exp

[2019-08-06 19:11] JessicaSachs opened #1751 "configureWebpack breaks when it is a function"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Repository Link: https://github.com/JessicaSachs/vuepress-broken-configurewebpack

1. Create a Vuepress project with a README.md inside of `docs/`
2. Add a `config.js` file with the below contents

[code]

3. Run the project
4. Open Chrome and the dev tools

#### What is expected?

Site renders t

[2019-08-06 19:39] chris-visser commented on #1732
@posva is right. (thanks btw). I've tested it with the vue-router examples. I will dive a bit deeper. vuepress doesn't seem to do any custom matching..

![Screenshot from 2019-08-06 21-38-25](https://user-images.githubusercontent.com/2496739/62571799-92414d80-b892-11e9-8854-4f430850b5eb.png)

[2019-08-06 21:13] posva commented on #1732
please, let me know if you find something we need to fix on vue-router!

[2019-08-06 22:45] IgorHalfeld commented on #1726
@ulivz
I would you like to work with Plugin Ecology, Blog plugin and theme or Core Maintainers :D

[2019-08-06 23:27] micas06gua commented on #1471
worked perfectly!

[2019-08-07 07:11] wsdo opened #1752 "- [ ] vuejs markdown not support"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information
- [ ] vuejs  markdown not support
- Output of `npx vuepress info` in my VuePress project:

[2019-08-07 07:12] wsdo commented on #1752
- [ ] vuejs  markdown  todo   not support

[2019-08-07 13:19] falstack opened #1753 "TypeError: Cannot assign to read only property 'exports' of object '#<Object>'"
## Bug report

#### Steps to reproduce

1. vue create some-project
2. yarn add -D vuepress
3. vuepress dev docs
4. open chrome devtool，you can see console:
[code]
5. vuepress build docs，you can see shell:
[code]
6. about repo：[vuepress-bug-report](https://github.com/falstack/vuepress-bug-report)

#### What is expected?

vuepress can work with vue-cli

#### What is actually happening?

vuepress can

[2019-08-07 13:27] mayashavin commented on #1726
@ulivz I'd love to take
1. Core maintainers
or
2. Lead of innovation ability

[2019-08-07 14:54] ulivz commented on #1749
Wow, cool! I just open it.

![image](https://user-images.githubusercontent.com/23133919/62633117-38aa5300-b966-11e9-9468-f9abd3e991c4.png)

[2019-08-07 14:54] #1749 closed

[2019-08-07 16:10] marvinatgithub commented on #1753
Similar problem here - I used _npm_. But `vuepress dev docs` works for me. Just `npm run docs:dev` (see below) ([more](https://vuepress.vuejs.org/guide/getting-started.html#inside-an-existing-project)) returns the mentioned error.

[code]
Error message:

<img width="684" alt="error-message" src="https://user-images.githubusercontent.com/41446164/62637891-b194b500-b93c-11e9-9e8d-986e5d0a5c38.png">

[2019-08-07 16:16] falstack commented on #1753
@marvinatgithub Yes，i use it too，sorry i'm lazy-:D

[2019-08-07 18:22] f3ltron commented on #1753
duplicate of #1729

[2019-08-07 18:23] f3ltron commented on #1753
and it seem's introduce a bug #1708

[2019-08-07 18:24] f3ltron commented on #1729
i will try to revert the thing in the #1708

[2019-08-07 18:25] f3ltron commented on #1752
as vuepress use markdown you can add plugin from makdown it. I will give you a look this weekend when i will have time

[2019-08-07 20:42] chris-visser commented on #1732
I've found the issue and the fix. The issue is related to `./package/@vuepress/core/lib/node/Page.js`. All scanned filepaths are 'fixed' with `encodeURI` meaning the special chars get converted to their encoded form. This doesnt happen with the link's uri, that's why it does show the correct file, but its not matching it for the link to make it an active state.

Here's a snippet of that code:

[co

[2019-08-07 20:59] staghouse opened #1757 "Change default CSS preprocessor to SCSS"
## Feature request

Change the default engine from Stylus to SCSS

#### What problem does this feature solve?

There are very few plug-n-play packages that support linting of Stylus, while inversely is true of SCSS - including the support of Vue itself.

#### What does the proposed API look like?

n/a

#### How should this be implemented in your opinion?

Same implementation

#### Are you willing

[2019-08-07 21:40] jlooper commented on #1757
hi, this is great timing. I am thinking that moving from Stylus would be a really good idea, and would allow us to open the project to use things like Bootstrap-Vue, Sass, Tailwind interchangeable if we do such a decoupling. @ulivz is there a particular need to keep Stylus?

[2019-08-07 22:15] chris-visser commented on #1732
Found a nice workaround for now @Mbensler .

You can use permalinks in your frontmatter. For example in your README.md:

[code]

This would put the permalink as the matcher for the url and it will become active. Unfortunatly only for exact matches so you will need to add it to every sub readme file:

[code]

[2019-08-08 01:53] jamesgeorge007 commented on #1726
@ulivz I would really love to be a part of the core-maintainers team :heart:

[2019-08-08 05:40] vinayakkulkarni commented on #1726
Hey @ulivz

First of all, I'm grateful for this opportunity & extremely delighted!

As mentioned in the reply email, I'd be honoured to contribute towards the plugin ecosystem. I've already had some experience regarding building / updating & integrating 3rd party plugins in the Nuxt ecosystem and I think I could be good candidate for this.

- First preference would be contributing in plugin ecosys

[2019-08-08 07:54] kyleslight commented on #1753
The same problem here, I find out in my project it's related with `@vue/cli-service`

I remove @vue/cli-service in package.json and node_modules directory completely, and then install packages again, my project works.

Maybe it's not the direct reason but the solution can inspire you.

[2019-08-08 08:48] nkhdo commented on #1726
Hi @ulivz , I would love to maintain the blog plugin and theme.
Cheers!

[2019-08-08 08:49] nkhdo commented on #1750
Anyone on this? Or can I take it?

[2019-08-08 13:23] f3ltron commented on #1753
I will have a try this week

[2019-08-08 14:16] kefranabg commented on #1752
Hi @wsdo,

As @f3ltron said, you can use `markdown-it` plugins. Please refer to this [section of the documentation](https://v1.vuepress.vuejs.org/guide/markdown.html#advanced-configuration).

And [here](https://www.npmjs.com/search?q=keywords%3Amarkdown-it-plugin%20checkbox) are some plugin you could use.

However, we might consider adding one of these plugins in `@vuepress/core` so checkbox synta

[2019-08-08 14:24] f3ltron commented on #1752
Sure i agree if it's really ask. As long as we support any addon it could be not necessary maybe improve the documentation is better

[2019-08-08 14:55] #1741 closed

[2019-08-08 15:12] kefranabg commented on #1733
Hi @MissNanLan,

From what I'm reading in the logs, your error is actually occurring in your component named `nanlan-card.vue`, not in `icon.sccss` file.

Can you confirm ?

[2019-08-08 20:05] f3ltron commented on #1752
@wsdo just to help you on that

What it should look like with [markdown-it-task-lists plugin](https://github.com/revin/markdown-it-task-lists)

[code]

Now with that example you should have beautiful todo

[code]

If it's ok for you we can close the issue give me your feedback :)

[2019-08-08 21:39] kefranabg opened #1762 "Enable editLink on specific page"
## Feature request

For now we can globally enable `editLinks` (for page edition) and disable it per page with `editLink` front matter property, but we can't do the opposite: Having global `editLinks` prop to be `false`, and enable `editLink` per page.

For example:

If `themeConfig.editLinks` from my `.vuepress/config` file is `false` and `editLink` from one of my pages is `true`, it won't work,

[2019-08-09 01:23] ProTip commented on #1560
It appears that part of the build process spins up many node processes however at least with the standard build command rendering the static content only utilizes a single node process. Perhaps utilizing available cores for static content generation would speed this up greatly for people?

[2019-08-09 02:49] MissNanLan commented on #1733
but I change nanlan.css to nanlan.scss , no error. I suspect can‘t parse css file,and I aslo have a question, it cannot parse relative path。

but I change nanlan.css to nanlan.scss , no error. I suspect can‘t parse css file,and I aslo have a question, it cannot parse relative path。

[2019-08-09 08:18] kefranabg commented on #1733
Could you provide a reproduction link?

[2019-08-09 09:10] sarahdayan commented on #1752
We're going to close this one now as @f3ltron's solution is fixing the issue. We'll make it clearer in the docs how to extend the existing Markdown configuration with markdown-it plugins, and consider what types of plugins we want to add by default in the future.

[2019-08-09 09:10] #1752 closed

[2019-08-09 12:52] mikesol opened #1765 "Difficulty using syntax hilighting for a language not in highlight.js"
## Feature request

Documentation for working with languages not covered by highlight.js.

#### What problem does this feature solve?

It is currently difficult, if not impossible, to work with languages outside of highlight.js. I've tried hacking together several pathways to activate a new language (ie https://github.com/vuejs/vuepress/issues/1580) but to no avail. I'm sure there's a painless way

[2019-08-09 16:25] kefranabg commented on #1765
Hi @mikesol,

What language are you trying to use? We're using [Prism](https://prismjs.com/) for syntax highlighting.

[Here is the list of supported languages](https://prismjs.com/#supported-languages).

[2019-08-09 17:52] edisdev commented on #1762
Wow, I think good idea :)  If you don't mind, I'd like to contribute to this when developing feature. :)

[2019-08-09 18:22] edisdev commented on #1762
Wow, I think good idea :) If you don't mind, I'd like to contribute to this feature . :) @kefranabg

[2019-08-09 18:28] iandstanley opened #1767 ""activeHeaderLinks: false" don't work"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. create custom theme (see my repo details below)
add following to config.js with custom theme:...

[code]

2. Create markdown file (say index.md in cleaning/ in my repo) with markdown headings

(please note  that I have had to hard code HTML `<h2>/<h2>` headers as a temporary fix for this situa

[2019-08-09 18:46] johnpapa opened #1768 "Section links should not be covered by navbar"
When clicking on a section link inside of a page, the page scrolls to show that section at the top. However, the navbar covers the header. It would be great to adjust this so the header is not hidden
![2019-08-09_14-44-09 (1)](https://user-images.githubusercontent.com/1202528/62801722-5ab1eb80-bab4-11e9-9d6f-aec0893f07b8.gif)

[2019-08-10 09:06] PeppeL-G commented on #670
I think "the above syntax" refer to all the HTML code, i.e. `<img :src="$withBase('/foo.png')" alt="foo">`.

[2019-08-10 14:24] mikesol commented on #1765
I'm creating my own language (wall-lang.netlify.com, github.com/mikesol/wall). So I'd like to create syntax highlighting for it in vuepress. Could you give me a brief example of how to sync up a new language in prism and vuepress? Thanks!

[2019-08-10 17:58] kefranabg commented on #1765
We could have added a new option to the global config to cover your need, but it's seems that it's not possible to add a new language highlight in Prism at runtime: see [how to extend Prism.js](https://prismjs.com/extending.html).

The only (painful I know) way would be that you open a PR to Prism to introduce your highlight syntax and then wait for us to update our prism version to include your c

[2019-08-10 20:07] PeppeL-G commented on #1491
This feature has still not been added to VuePress? @Shigma Maybe you should release the plugin as an npm package so we can start using it?

[2019-08-11 08:47] mikesol commented on #1765
Hm, it looks like highlight.js does not allow for (easy/obvious) custom definitions either. What a pity, as it seems that there's no straightforward way for people experimenting with new languages to do syntax highlighting in JavaScript. Of course, not VuePress's problem! Closing the issue then, thanks for your help!

[2019-08-11 08:48] #1765 closed

[2019-08-11 14:51] mayashavin commented on #1767
@iandstanley `activeHeaderLinks` is meant to disable/enable the auto-update for the hash in the URL as the user scrolls to view the different sections of the page. For example, if user scrolls to `Working regionally, working locally`, the hash in URL and the sidebar (if there is) will change to something similar to `http://localhost:8082/cleaning/#working-regionally-working-locally`, and the sideb

[2019-08-12 06:40] ishan-me commented on #1726
Hi @ulivz I am extremely happy and eager to contribute to the project. It would be a great responsibility if I can get the role of Designer.

Cheers 🍻

[2019-08-12 15:58] iandstanley commented on #1767
Thanks it was the scoping that threw me

I'd tried
[code]

but it hadnt done anything

I was following a tutorial that used for the component

[code]

[2019-08-12 15:58] #1767 closed

[2019-08-12 16:35] chris-dura opened #1773 "In-component Navigation Guards"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Create a global component with `beforeRouteEnter`, `beforeRouteUpdate` and `beforeRouteLeave` navigation guards.

https://codesandbox.io/embed/codesandbox-vuepress-navigation-guards-9iobr

#### What is expected?

The in-component navigation guards output to console.

#### What is actually happeni

[2019-08-12 17:16] kefranabg commented on #1768
Thanks for opening the issue, we'll investigate soon 👍

**Reproduction link:** [https://github.com/johnpapa/vscode-peacock/tree/master/docs](https://github.com/johnpapa/vscode-peacock/tree/master/docs)

[2019-08-12 17:23] newsbielt703 commented on #1773
[Vue Router - in-component-guards](https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards):

Global components are not route components, so you're not able to use the in-component navigation guards.

[2019-08-12 17:23] #1773 closed

[2019-08-12 17:24] CodesOfRa commented on #1768
Hi @kefranabg and @johnpapa

I don't think this issue is from vuepress default theme .
I  did a quick test in codesandbox and it works as expeted. Check this link : https://w6nz0vxw8.sse.codesandbox.io/guide/#theme-customization

The h2 and h3 styles from default theme are overridden here  lines `31,32`: https://github.com/johnpapa/vscode-peacock/blob/master/docs/.vuepress/styles/palette.styl#L31

[2019-08-12 18:29] lunaceee commented on #1750
Hi @nkhdo , I had success adding a global table-of-contents on my VuePress site and I'd be happy to implement the feature. I'll come up with some descriptions to the proposed API section shortly.

[2019-08-12 19:52] #1735 closed

[2019-08-12 20:23] kefranabg commented on #1661
@faasie Is this issue still relevant?

[2019-08-13 05:01] iamchathu commented on #339
The solution is not works with current version.

[2019-08-13 13:48] faasie commented on #1661
Sorry, I meant to update this.

It has been resolved. I ended up putting my docs in the /docs folder and it worked. *shrug*

Thanks for the work on vuepress. I do love working with it!

[2019-08-13 21:34] wesgro opened #1775 "Algolia search ignores URL hash"
- [ x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

* Have Algolia search setup
* Navigate to a page that has a secondary heading so there is a page anchor to navigate to
* When you switch to the new page you're sent to the top of the page, not to the anchor.

#### What is expected?
* The page jumps to the anchor

#### What is actually happening?

[2019-08-13 21:35] wesgro commented on #1775
I believe this is from https://github.com/vuejs/vuepress/commit/644142b

Which leaves out the `hash` from the url

[2019-08-14 09:44] Swader commented on #1613
@ulivz @yyx990803 I have taken the liberty of bountying this feature request for 100 USD. If you could spread the word a little that'd be great.

[2019-08-14 14:03] wernerkotze commented on #808
@taigadigital Did you manage to overwrite the default vuepress webpack config?

[2019-08-14 23:26] iandstanley opened #1776 "Query on how to require npm installed plugins in vuepress component"
Hi all, I'm new to vuepress and webpack and I'm getting a headache over trying to use a javascript library. I'm familiar with javascript and writing my own scripts and also loading javascript libraries in raw html websites. But I've really got stuck trying to figure out where the relative path for a require statement should be

I've tried both npm installing and also inserting into the config.js H

[2019-08-15 00:53] ZakLiml commented on #1454
I have encountered it in mac too and it seems missing bin folder. It's that a bug?

[2019-08-15 03:08] chris-dura opened #1777 "Redirect `/` to section, instead of "home" README.md"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Given this directory structure, I want a user who visits `http://my-site.com/` to be redirected to `http://my-site.com/core/overview.html`.

[code]

Reading through other "best practices" and issues filed here about redirecting, I should be able to add a route to `enhanceApp` to redirect to a subsection; however, since t

[2019-08-15 16:30] fessehaye opened #1781 "Netlify CMS preview excludes the markdown-it and css"
## Feature request

#### What problem does this feature solve?
Not being able to preview certain markups like toc on netlify cms preview of the page.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?
 I was told by the netlify cms glitter that adding a custom preview template is necessary to bring over the markdown and styles from vuepress default th

[2019-08-15 18:11] ZakLiml commented on #1454
While I choose yarn instand of npm and then run command `yarn global add vuepress`, it works @Porya200

[2019-08-16 08:56] ZhongHongLi commented on #1532
我想问下为啥返回top插件失效

[2019-08-16 08:56] ZhongHongLi commented on #1532
{
  "name": "docs",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "docs:dev": "vuepress dev docs",
    "docs:build": "vuepress build docs"
  },
  "keywords": [],
  "author": "hongli",
  "license": "ISC",
  "devDependencies": {
    "@vuepress/plugin-back-to-top": "^1.0.0-rc.1",
    "@vuepress/plugin-pwa": "^1.0.0-rc.1",
    "vuepress-plugin-nprogress": "^1.1.1"

[2019-08-16 14:51] f3ltron commented on #1776
Hello ! Your issue is you want to add a front library after the build that's it ?

You can use [enhanceAppFiles](https://v1.vuepress.vuejs.org/plugin/option-api.html#enhanceappfiles) and resolve the js file.

But i think it will easier to use [clientdynamicmodules](https://v1.vuepress.vuejs.org/plugin/option-api.html#clientdynamicmodules)

just read the file and insert it like this after you can i

[2019-08-16 16:45] AmazingMoon opened #1783 "When I customize permalink, the refresh page displays 404."
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Version: 1.0.3

#### Steps to reproduce
_like this_
[code]

#### What is expected?

There is no problem switching the Sidebar normally, and it should be fine when I refresh the page.

#### What is actually happening?
404 is displayed when the page is refreshed.

[2019-08-16 18:17] iggredible opened #1784 "Adding dynamic nav"
Let's say I have `/article/` folder inside `/docs/`. I will be continually adding contents in it.
Right now, I have to manually add each item (ie: /writings/ article1, /writings/article2, etc) to have them displayed on nav.

See my exports below:

[code]

Is there a way I can update the content of `items` dynamically to reflect what is inside `/writings/` dir?

[2019-08-16 20:20] Gompje opened #1785 "Error compiling upgraded to "css-loader": "^3.2.0""
- [ x] I confirm that this is an issue rather than a question.

## Bug report

**I'm reporting this mainly for others that could have the same issue**

#### Steps to reproduce

1. Project that uses the `css-loader` package.
1. upgrade it to the latest (I did it with the yarn command) to `"css-loader": "^3.2.0"`
1. `docs:build` gives massive error during the last step

#### What is expected?

docs

[2019-08-16 20:33] fessehaye commented on #1781
To be more specific, I would just like an example of how to add the markdown-it + extensions as well as the default css for the vuepress theme

[2019-08-17 16:04] newsbielt703 commented on #1783
`:regular` is generated by VuePress by default:
[code]

Since `:regular` starts with a slash, It'll work fine if you remove the slash before `:regular`.
[code]

[2019-08-17 16:26] newsbielt703 commented on #1783
We'll consider to remove the leading slash of `:regular` because it's different with all the other template variables(only `:regular` can't go before a slash).

Or we may update documentation to warn that `:regular` is different.

[2019-08-17 17:36] newsbielt703 commented on #1777
I found the code in your `enhanceApp .js`:
[code]
 It's not a bug of VuePress, since `addRoutes` won't replace existed routes.

[2019-08-18 05:15] SlvrEagle23 opened #1787 "Page Navigation Fails if Visiting Folder URL without Trailing Slash"
- [x] I confirm that this is an issue rather than a question.

## Bug report

~~If navigating directly to a URL that corresponds to a folder (with or without the trailing slash), everything looks fine on the initial page render, and when navigating around the site, the address bar continues to update, but the contents of the page itself are frozen and don't change.~~

Edit: Please disregard...my t

[2019-08-18 17:11] sarahdayan commented on #1775
Fixed in #1780

[2019-08-18 17:11] #1775 closed

[2019-08-19 02:32] hugojing commented on #1692
I have no enhanceApp.js file and no nginx, but still have this issue.

[2019-08-19 07:39] busyrat opened #1789 "Invalid configuration Port parameter"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Upgrade to 1.0.3 Configuring port in config.js is invalid

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my VuePress project:

[2019-08-19 09:31] kefranabg commented on #1613
@Swader what you want to do is modify generated markdown files right ?

[2019-08-19 09:58] kefranabg commented on #1789
Hi @busyrat,

Could you translate your issue so more people can help you?

[2019-08-19 10:08] busyrat commented on #1789
@kefranabg
Sorry, I have changed
English is not good /(ㄒoㄒ)/~~

[2019-08-19 10:16] Luluda commented on #1729
I have the same problem, and rolling back to 1.0.2 doesn't work.
System:
    OS: macOS 10.14.3
  Binaries:
    Node: 10.12.0
    Yarn: 1.15.2
    npm: 6.5.0
  Browsers:
    Chrome: 75.0.3770.100
  npmPackages:
    vuepress: 1.0.2
  npmGlobalPackages:
    vuepress: Not Found

[2019-08-19 12:00] OverTree commented on #1789
you should look at this
[portfinder@1.0.22 returns random port](https://github.com/http-party/node-portfinder/issues/87)

[2019-08-19 14:34] Swader opened #1790 "No version in package.json"
The current `package.json` has no `version` or `name` fields. These would be irrelevant in all cases, except that Yarn depends on them to be able to install the package locally from a specific branch, tag, or commit or even local folder. Thus, it is impossible to test local fixes from other contributors without silly workarounds like manually hacking `package.json` in the fork.

Reference issue: h

[2019-08-19 14:59] Swader commented on #1613
Look into https://github.com/status-im/nimbus-docs-suite - what I do is define a list of repos for which to generate docs. The docs are generated by:

- grabbing the readme, cleaning it, and preparing an MD for an Overview doc
- grabbing the lib's source, running the language's API reference extractor (in this case Nim) and generating MD from those.
- grabbing cookbook recipes and tutorials (in pr

[2019-08-19 15:12] daltondiaz commented on #1235
I don't why bitbucket put the **/src** in the end of repository, but when I did the edit link for bitbucket the configuration was:

[code]
So was only add the **/src** in the end of repo. I follow the pattern of github.

But ins't a problem these way and ins't necessary to change.

[2019-08-20 01:41] rohaanhamid opened #1792 "Adding routes does not work after build"
https://v1.vuepress.vuejs.org/guide/basic-config.html#app-level-enhancements

Steps to reproduce:

1) Add routes to the router using the .addRoutes(<Array>) method.
2) Build the app using vuepress build.
3) Navigate to one of the paths specified during .addRoutes

[2019-08-20 02:02] jojosgirls commented on #1792
Totally my fault. I was using the <a/> instead of <router-link/>.

<a/> works in dev mode but not after build. This because during build all routes added to the router are applied to instances of <router-link/> and not <a/>.

Please close this issue.

[2019-08-20 02:08] rohaanhamid commented on #1792
I was using `<a/>` instead of `<router-link/>`.

[2019-08-20 02:08] #1792 closed

[2019-08-20 05:47] Mombuyish commented on #1785
The `docs:dev` is the same as error.
I do install `css-loader` to `2.1.1` in my `package.json` instead of the underlying version.

It should be worked, however, I think this is an issue.

[2019-08-20 08:32] wsdo commented on #613
const getFileName = name => {
  let arr = []
  fs.readdirSync(`${RDOCS}${name}`)
    .filter(function(file) {
      return /\.(js|md)$/i.test(file)
    })
    .map(function(file) {
      s1 = file.substring(0, file.indexOf('.'))
      let res = ''
      if (s1 === 'readme' || s1 === 'README') {
        res = ADOCS + name + '/'
      } else {
        res = ADOCS + name + '/' + s1
      }
      arr.

[2019-08-20 08:53] thuringia commented on #1623
Did you manage to get the polyfill to work? This is the only issue remaining but causes the whole of Vuepress to not work in IE 11 at the moment

[2019-08-20 09:19] sergeymorkovkin commented on #1623
Yes, check my code above.

[2019-08-20 09:19] sergeymorkovkin commented on #1623
Yes, please check my code above.

[2019-08-20 09:28] thuringia commented on #1623
I meant without hacking the webpack config or such. I was expecting the PR that closed this issue to actually rectify this problem, but a default installation of vuepress is still broken in IE 11.

Which is not great

[2019-08-20 17:19] fancyfx commented on #1789
This is a problem with portfinder@1.0.22,I try re-install vuepress solved this problem。
Because portfinder v1.0.23 fixed this bug.
check your portfinder version:
[code]

[2019-08-20 20:26] bliles opened #1793 "Consider Including a locale property on Page"
## Feature request

#### What problem does this feature solve?
I'm working on adding fallback language support (show the content in English if it isn't translated yet) through redirects in enhanceApp.js. To do this, I'm determining the pages that are available in each language by looking at siteData.pages. It would be much simpler if the Page object included the locale as a property.

#### What do

[2019-08-20 23:59] chris-dura commented on #1777
@newsbielt703 -- Thanks for your response...
I suppose you can say it's not a "bug" in Vuepress; however, I have a few questions, then...

1. Are you saying that the `router.addRoutes()` (and the `vuepress-plugin-redirect`), which are the documented "best practices" for redirecting only support redirecting from "non-existent" paths to somewhere else?

[2019-08-21 04:11] slanden commented on #1385
The problem with setting Netlify headers is that your own CSS for the page doesn't get rendered, only the browser defaults. At least, this was my experience.

[2019-08-21 09:54] aliartiza75 commented on #1671
@xr0master waiting for your response!

[2019-08-21 10:37] eduardosada commented on #1753
Same problem here 😢

[2019-08-21 11:34] #1789 closed

[2019-08-21 13:24] danvega opened #1795 "Conditionally Rendering Markdown Content & Sidebar Items"
- [x] I confirm that this is an issue rather than a question.

## Bug report

When content is conditionally rendered in markdown the heading is still displayed in the sidebar.

I [wrote a blog post](https://www.danvega.dev/blog/2019/06/13/vuepress-cookies) on how to use cookies in VuePress. We are setting a cookie based on the users selection of what their preferred programming language is (we onl

[2019-08-21 16:05] newsbielt703 commented on #1777
@chris-dura I can offer you some approaches  but I can't tell which is the best way:

1. [Set Permalink](https://v1.vuepress.vuejs.org/guide/permalinks.html#background)
Don't redirect. You can just set permalink to `/README.md`.
[code]

2. [Set Layout](https://v1.vuepress.vuejs.org/guide/frontmatter.html#layout)
Since you don't care about the layout of home page, you can set a different layout com

[2019-08-21 18:46] christyjacob4 opened #1797 "Spelling Mistake in Documentation"
I came across a spelling mistake in the vue-press documentation website as you can see in the attached screenshot.

![mistake](https://user-images.githubusercontent.com/20852629/63459313-edb63280-c471-11e9-9bf4-48bc3ac9fcd2.png)

"They" is misspelled as "The".

[2019-08-21 19:06] chris-dura commented on #1777
Thanks @newsbielt703 --

I actually did try this and forgot to note it... I'm not sure if it's a bug, but when I have a `permalink` in the `/README.md`, there is no `dist/index.html` output when I run `vuepress build docs` 😖

Maybe there's a way to workaround that (or I'm doing it wrong) but any typical/simple server setup for the SPA is pretty much going to require a `dist/index.html` file 🤷‍♂

S

[2019-08-21 20:53] #1777 closed

[2019-08-22 03:02] DaleMatthews commented on #1569
This is still happening in vuepress 1.0.3. Simply importing main.css in index.styl in a bare-bones example:
[code]

[2019-08-22 10:50] kefranabg commented on #1768
@johnpapa Do you confirm so we can process the issue ?

[2019-08-22 11:06] kefranabg commented on #1781
Hi @fessehaye,

[Refer to this section] to extend markdown.

What is the purpose of this issue, is it a bug ? feature request ? question ?

Please provide more context or reproduction link so we can help you.

[2019-08-22 11:26] kefranabg commented on #1784
Hi @iggredible ,

VuePress does not support this feature. However you can do a script that dynamically generate your navbar items config.

[code]

[2019-08-22 11:41] kefranabg commented on #1787
Hi @SlvrEagle23 ,

I can't reproduce. Could you provide a reproduction link and the output of this command: `vuepress info`

[2019-08-22 13:34] johnpapa commented on #1768
yes, i confirmed this, thanks. it is due to the styling on the headers that I have.

[2019-08-22 13:34] #1768 closed

[2019-08-22 14:58] SlvrEagle23 commented on #1787
Closing as my reproduction link doesn't seem to be demonstrating the problem in the same way that my original static site did. I strongly suspect the problem was due to Vuepress "double-parsing" a link that looks like an e-mail address, but I can't seem to demonstrate that.

[2019-08-22 14:58] #1787 closed

[2019-08-22 16:05] bloqhead commented on #1529
@darkskygit this seemed to fix things for me but would you mind sharing your `config.js` and `.babelrc` so I can compare it with mine? I'm trying to understand the issue more thoroughly and it would help me a ton!

[2019-08-22 16:28] sysebert commented on #1753
@kyleslight - I have no idea how you figured that out, but I'm so thankful you did! Works great now :D

[2019-08-22 17:45] sysebert commented on #864
@rit-rit thanks for this! Just to note in your Pattern 1 code, you'll need `path.resolve` (right now it's just `resolve`)

[2019-08-22 18:55] arnauddupuis commented on #1753
@kyleslight same here: I have no idea how you figured that out but thanks anyway!

[2019-08-23 08:05] 546200350 commented on #1718
我也遇到这个问题，我这边解决办法是：
将原生DOM API调用得第三方库，放到mounted后引入
比如：我icon组件引用了iconfont的js, 然后把这个js放到icon.vue 的mounted方法下引入 `import('../iconfont.js');`

[2019-08-23 09:19] berot3 commented on #326
Sorry, so to once more clarify (_for newbies like me_) how can I use markdown-it-config in a `config.yml`?

It also would be awesome if you (@luminarious maybe?) could share a full `config.yml`-example to kickstart the own yaml-config!

[2019-08-23 11:04] iandstanley commented on #1776
thanks

[2019-08-23 11:04] #1776 closed

[2019-08-24 07:18] kiwicopple opened #1800 "Flash of unstyled content"
- [x] I confirm that this is an issue rather than a question.

## Bug report

On my website I have a flash or unstyled content:

![Aug-24-2019 15-03-57](https://user-images.githubusercontent.com/10214025/63633816-a94cb180-c680-11e9-96f9-03a8f8b425f9.gif)

#### Steps to reproduce

I thought perhaps it was related to https://github.com/vuejs/vuepress/issues/895, however my version is @vuepress/core"

[2019-08-25 03:49] Swader commented on #1613
Ignored in favor of extracting plugin functionality into `prepare.js` and then making a command like:

[code]

Bounty can be considered completed, PR can be closed.

[2019-08-25 03:49] #1613 closed

[2019-08-25 07:51] christyjacob4 opened #1801 "Adding A Tutorial on the Vuepress Documentation Website"
## Feature request

#### What problem does this feature solve?
The existing documentation doesn't have a clear getting started guide. When I was getting started, I had to refer to videos to understand about the configuration and the hierarchy of the markdown files.

#### What does the proposed API look like?
It will be the addition of a tutorials section to the vuepress website.

#### How should t

[2019-08-25 14:21] jlooper commented on #1801
hi, Christy, thanks for this. I'd be happy to work with you to implement this. If you'd like to PR your section I can help wordsmith it, excellent addition. Thank you!

[2019-08-25 18:18] christyjacob4 commented on #1801
I haven't started working on it though. I wanted to check if it was in the interest of the community and then start. I will make the changes and make a PR as soon as possible if that is fine?

[2019-08-25 18:32] clearloop commented on #1099
+ 1

[code]

[2019-08-25 18:39] jlooper commented on #1801
hi, do you want to put an outline here, or find a way to project manage it via 'projects', so as to put some structure around it? Any work in this direction is good for me.

[2019-08-25 19:01] christyjacob4 commented on #1801
Hi, I'm open to suggestions in this regard and would like to proceed in the direction that is in the interest of everyone. Thanks.

[2019-08-26 18:39] zowe-robot opened #1802 "Algolia search redirects with duplicated base url"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- Have Algolia search setup
- The document website has site config `base` configured, for example, `/docs`.
- Search any keyword and click on a search result
- The page will try to navigate to a Url with duplicated base url, In the above, example, will be '/docs/docs/path/to/result.html`.

#### W

[2019-08-26 23:17] ynnelson opened #1803 "addRoutes redirect changes the url but does not load the page"
- [ x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

### _enhanceApp.js_
[code]

#### What is expected?
When I enter url `http://mywebsite.com/views/dashboards` I should be redirected to `http://mywebsite.com/dashboards`. In my config file /dashboards is defined and points to a `README.md` file.

#### What is actually happening?

In dev the redire

[2019-08-27 06:50] JorgeMorata opened #1804 "Vuepress Build fails if refered file not found"
## Feature request

#### What problem does this feature solve?
When some of the markdown files refers to another file (img or another markdown file) that is not in the folders of the project, in the build phase, build fails and not initialize and not continue rendering the rest of the markdowns files:
[code]

#### What does the proposed API look like?
The same as now, but configurable.

#### How s

[2019-08-27 09:04] anyclub opened #1805 "请问如何再VUEPRESS的VUE组件内使用别名"
请问如何再VUEPRESS的VUE组件内使用别名,

大致需求如下
![asd](https://user-images.githubusercontent.com/19922265/63757244-4fe8ba80-c8ec-11e9-8408-4991658c90a8.png)
vuepres里面使用的vue组件内,需要根据项目src目录下某个JS文件的数据,目前只能用类似 ../../这样的方案么

[2019-08-27 19:04] tomrndom opened #1806 "medium-zoom plugin is displaying images with wrong proportions"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Use the medium-zoom plugin with images that had a modified width. In the example, the images are inside a flex container. Also the images had an `data-zoom-src` value for the high resolution picture.

Here's a repository with the example [https://github.com/tomrndom/vuepress-zoom-test/](https://g

[2019-08-27 20:49] bencodezen opened #1807 "VuePress cannot coexist with Vue CLI generated app?"
- [x] I confirm that this is an issue rather than a question.

## Bug report

### Steps to reproduce

https://github.com/bencodezen/vuepress-coexist-error

1. Install dependencies via `yarn`
1. Run `yarn docs` to start VuePress instance
1. Open http://localhost:8080
1. See the following error in JavaScript Console

[code]

### How to See Success State

1. Change directory to `/docs`
1. Install dep

[2019-08-27 22:12] f3ltron commented on #1807
related here too #1753

[2019-08-29 02:16] jobbr88 opened #1812 "Broken link in chinese doc"
https://v1.vuepress.vuejs.org/zh/miscellaneous/design-concepts.html
解耦部分的“插件”链接。

[2019-08-29 12:02] johnwebbcole opened #1813 "Typo in the permalink section of the guide, "link root" should be "link rot""
- [x] I confirm that this is an issue rather than a question.

## Bug report
In the permalink section of the guide, there is a typo, "link root" should be "link rot". The corresponding Wikipedia link goes to the "link rot" page.

#### Steps to reproduce

Open the 1.x guide and look at the permalink section.

#### What is expected?

It should say "link rot".

#### What is actually happening?

It sa

[2019-08-29 13:41] jlooper commented on #1801
hi @christyjacob4 could you put an outline here, as a starter? thanks!

[2019-08-29 19:53] Phenomen opened #1815 "Cyrillic "л" is replaced by Latin "n" in the anchor link"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Repo: [https://github.com/Phenomen/ose](https://github.com/Phenomen/ose)
Deployed version (with bugged anchor links): [https://ose.phenomen.now.sh/classic-fantasy/](https://ose.phenomen.now.sh/classic-fantasy/)

1. Add a heading (h1-h6) with lowercase Cyrillic letter "л" (## Терминология)
2. Chec

[2019-08-29 20:10] christyjacob4 commented on #1801
Hi Jen, Are you asking me to outline the topics I'll cover in the tutorial in brief or in detail?
Thanks again!

[2019-08-29 20:49] jlooper commented on #1801
In detail if you can, thanks!

[2019-08-29 20:57] christyjacob4 commented on #1801
Hi Jen, Sure I'll do as you mentioned. Please give me some time. Thanks!

[2019-08-30 05:20] missmatsuko opened #1818 "Accessibility: Navbar dropdown can't be used with just a keyboard"
- [x] I confirm that this is an issue rather than a question.

## Bug report
There doesn't seem to be any way to access dropdown items in the navbar using keyboard navigation.

#### Steps to reproduce
1. Go to <https://vuepress.vuejs.org/>
2. Tab through the navbar menu items
3. The navbar menu item with a dropdown ("languages") is completely skipped. There's no way to select a language from the n

[2019-08-30 05:40] zq99299 opened #1819 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
- [ x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?
Normal build

#### What is actually happening?
[code]

#### Other relevant information
An error occurred while building the repository：https://github.com/zq99299/note-book

[2019-08-30 08:01] superbiger opened #1820 "About Custom Layout for Specific Pages"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
https://vuepress.vuejs.org/zh/default-theme-config/#%E8%87%AA%E5%AE%9A%E4%B9%89%E9%A1%B5%E9%9D%A2%E7%B1%BB

When I use special layout, not keeping navbar
#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my VuePress projec

[2019-08-30 13:52] kefranabg commented on #1812
Could you translate this issue so we can help you?

[2019-08-30 13:53] kefranabg commented on #1805
Could you translate this issue so we can help you?

[2019-08-30 14:17] kefranabg commented on #1820
Hi @superbiger,

This is an expected behaviour, layout includes everything including navbar. What your looking for might be [theme inheritance](https://v1.vuepress.vuejs.org/theme/inheritance.html#motivation) or [ejecting default theme](https://v1.vuepress.vuejs.org/theme/default-theme-config.html#ejecting). Feel free to reopen this issue if this was not clear.

[2019-08-30 14:17] #1820 closed

[2019-08-30 14:36] kefranabg opened #1821 "Add Github App stale bot"
We should install a GitHub Integration built with Probot that closes abandoned issues after a period of inactivity:

[https://github.com/apps/stale](https://github.com/apps/stale)

[2019-08-30 14:43] chuxubank commented on #1450
fixed in `1.0.3`

[2019-08-30 14:43] #1450 closed

[2019-08-30 14:48] Akryum commented on #1821
We already have such a bot on the vuejs org, do you want me to enable it for this repo?

[2019-08-30 17:23] kefranabg commented on #1821
Would be awesome 👍 Do you know if it will close current opened inactive issues? Because I wish it could close only next issues, not those that are already opened.

[2019-08-30 20:22] EarlyPacker opened #1822 "Question: Is it possible to edit the main theme?"
Hello,

I've seen that it is possible to make your own theme, but what I wanted was to simple add new stuff like for example html tags and other things to the main theme.
I like how it looks so I'd be mostly adding more to it, is it possible?
From the guides I got a little confused.
First time using vue.

[2019-08-30 20:52] dflock commented on #1807
This is a pretty big deal. I have an existing Vue project - which uses vue-cli, like a _lot_ of Vue projects. I currently can't add VuePress to it until this is fixed - it's currently completely broken and produces no output.

[2019-08-30 22:10] Akryum commented on #1821
It will only work on issues with certains labels:

[code]

It will take into account new issues, and also existing issues as soons as they get a new comment (it's using hooks).

[2019-08-31 00:14] f3ltron commented on #1807
Thx dflock we are working on it but it's a tricky bug.

[2019-08-31 01:31] f3ltron commented on #1807
The problem is when we are using him locally with link it work. Because the conflict vue cli service is not the same. As the link, link just what he need and resolve automatically conflicts by choosing one by default so hard to reproduce.

[2019-08-31 04:05] liyuj opened #1823 "Can add a copy button to the code block?"
## Feature request

#### What problem does this feature solve?
This feature helps developers copy code fragments
#### What does the proposed API look like?
In the upper right corner of the code block, add a copy button.
#### How should this be implemented in your opinion?
When rendering code blocks, add a button.
#### Are you willing to work on this yourself?
Not very likely.

[2019-08-31 07:16] luohuidong commented on #1802
I also encountered the same problem.

[2019-08-31 07:19] kefranabg commented on #1821
That's perfect!

[2019-08-31 16:56] about-code commented on #574
@neumayr I recently began to write a glossarifier. Not particularly for vuepress and I am not planning for it. However it's a tool where you feed markdown in and  get markdown out. Thus it should be transparent to vuepress and might be integrated as kind of a preprocessing step into a vuepress build pipeline.

If you think [glossarify-md](https://github.com/about-code/glossarify-md) is what you ar

[2019-08-31 19:41] pniedzwiedzinski commented on #1762
+1

[2019-08-31 19:44] yozman opened #1824 "@parent-theme doesn't work with Netlify"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

there is an error come up with use a custom theme extend `@vuepress/theme-default` when build on Netlify

[code]

here is repo:
https://github.com/yozman/ambition.git

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my

[2019-09-01 06:13] Phenomen commented on #1815
#andrewrk/node-diacritics/pull/33

[2019-09-01 06:29] larionov commented on #1815
Related: https://github.com/kentcdodds/match-sorter/issues/57

Their solution is to replace `diacritics` with `remove-accents` instead.

[2019-09-01 09:54] souloss opened #1828 "About page routing"
When we do theme customization, we often need to define routes for some pages. When I redefine the route for the 404 page, I found that it didn't work. I don't have the part I defined in the router instance. I feel very strange.
I enhanced the Vue instance with the enhancementApp.js file in the theme, where the code for the route enhancement section is:
[code]
No matter how I define it, path: '*'

[2019-09-01 09:54] Snile826 commented on #1828
I know that defining a 404 page in the layouts folder will work, but I don't want to do this because I think the folder is for multi-layout enhancements to the document.
The view component inside a layout should be stored in another folder.

[2019-09-01 12:00] oupala opened #1829 "image resizing"
## Feature request

Image resizing to avoid giant images on the web.

#### What problem does this feature solve?

When adding an image from a camera or a smartphone, the image can be a billion pixel and an enormous amount of bytes. So much data is usually useless on the web. VuePress should be able to detect very big images and to resize them to an affordable size, using imagemin, imagemagick or a

[2019-09-01 17:05] newsbielt703 commented on #1822
Please take a look at:
[Custom Layout for Specific Pages](https://v1.vuepress.vuejs.org/theme/default-theme-config.html#custom-layout-for-specific-pages)

[Ejecting](https://v1.vuepress.vuejs.org/theme/default-theme-config.html#ejecting)

[Theme Inheritance](https://v1.vuepress.vuejs.org/theme/inheritance.html#theme-inheritance)

[2019-09-01 17:05] #1822 closed

[2019-09-02 08:34] ciarans commented on #1124
I had to stop and restart dev to get my component to show

[2019-09-02 11:53] jledentu commented on #1605
Hi,

This is a duplicate of https://github.com/vuejs/vuepress/issues/1529.
I had the same error with `vuepress@1.03` and an older version of `@vue/babel-preset-app`. As suggested in the other issue, I resolved by installing a newer `@vue/babel-preset-app`:

[code]

[2019-09-02 22:14] bamboovir opened #1831 "Support Kotlin Code Highlight"
## Feature request

#### What problem does this feature solve?

Support Kotlin Code Highlight

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

@vuepress/core/lib/client/style/config.styl

$codeLang += kt

@vuepress/markdown/lib/highlight.js +=

if(lang === 'kt') {
  lang = 'kotlin'
}

#### Are you willing to work on this yourself?

[2019-09-03 05:22] njzjz commented on #1241
But how to use `<a>` in the navigation?

[2019-09-03 05:29] novbing commented on #1807
same as [vue-cli 3.11.0 & vuepress 1.0.3 cause error #4539](https://github.com/vuejs/vue-cli/issues/4539)

[2019-09-03 13:54] danvega commented on #1795
To try and get around this issue I set the sidebar depth for this particular markdown file to 0 and it's still showing the sitewide default of 2. Does anyone know if this setting actually works?

[code]

[2019-09-03 15:09] danvega commented on #1701
It looks like this was tagged for 1.0.3 but I don't see it in that release. Am I missing something?

[2019-09-03 16:41] danvega commented on #1795
I actually found that this issue was fixed in another commit but isn't in a release yet. I was able to eject, use that fix and everything was ok...but I don't think it is a good solution.

[2019-09-03 17:31] danvega commented on #1795
I think the problem is that the sidebar items are built from the actual Markdown files right? So if it's just looking at the markdown those headers are always going to be there. I ejected for our documentation site and even with all of the code locally I can't seem to come up with a solution to this problem. Anyone with an idea on how to tackle this would be greatly appreciated.

[2019-09-04 01:51] HCLQ opened #1835 "run success, but page show errors"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
in lerna project, make a docs dir with README.md
run command:
[code]

#### What is expected?
cli show success and open http://localhost:8080/ to view the page
#### What is actually happening?
the page show errors like
[code]
#### Other relevant information
[code]
- Output of `npx vuepress info` in

[2019-09-04 08:17] dmljc opened #1836 "引用网络图片报错：403"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

我项目引用网络图片之前还是可以的展示的。但是，最近我发现所有引用的网络图片地址，都会报错403。

下边这种格式是返回的403的：
`![box](https://user-gold-cdn.xitu.io/2019/8/30/16ce245b8f2a63c0?imageView2/0/w/1280/h/960/format/webp/ignore-error/1)`

而通过img标签引入的图片就可以正常展示：
`<img :src="$withBase('/box.jpg')" />`

#### What is expected?

#### What is actually ha

[2019-09-04 08:20] jorisnoo commented on #494
Using `<Content :pageKey="page.key"></Content>` to render the content of a page seems to work as well (in [Version 1.x](https://v1.vuepress.vuejs.org/guide/using-vue.html#built-in-components)).

[2019-09-04 08:55] Anjing1993 commented on #814
@revolveyao 你好，你的demo有源码看下吗？我这边侧边栏显示有点问题

[2019-09-04 09:01] revolveyao commented on #814
@Anjing1993 你好，你可以研究下官方的文档，如果真有需要可以留下邮箱，把我以前的配置文件分享给你下。

[2019-09-04 09:10] YanceyOfficial commented on #814
新版本已经支持了，不过你可以看下我的工程。 https://github.com/YanceyOfficial/javascript-apis

[2019-09-04 09:16] revolveyao commented on #814
你是需要什么帮助吗？

[2019-09-04 12:11] Anjing1993 commented on #814
![image](https://user-images.githubusercontent.com/9416309/64253497-02092d80-cf50-11e9-8f34-1aaa537df375.png)
![image](https://user-images.githubusercontent.com/9416309/64253517-0df4ef80-cf50-11e9-94cd-ad80de57ea2e.png)
我自己搭建出来的侧边栏有点奇怪，一级和二级重复的感觉...不知道怎么解决

[2019-09-04 14:08] ynnelson commented on #1828
I wonder if this is similar to the issue I have been experiencing: [1803](https://github.com/vuejs/vuepress/issues/1803)
I ended finding a workaround that is pretty, I added the routes using addRoutes so they would at least be recognized and then I created a component that on mount would do the redirection. Super ugly but this is the only thing I could get to work with the appropriate behavior.

[2019-09-04 14:27] Snile826 commented on #1828
@ynnelson
thank you for your reply.This is indeed feasible.
The problem I encountered is different from yours. I used addRoutes. When printing a vue instance, there is no definition of the route in $router.
I think the `path: *` route is overridden by the route of GlobalLayout.vue, so I redefine GlobalLayout.vue, which uses $ router.push to get around this problem.

There is no time to study recen

[2019-09-05 01:39] liudonghua123 commented on #1283
I have the same problems. Everytime I modified the configuration files in `.vuepress`, The console logs shown detected the changes, but the page in browser did not changes. All I can do is `ctrl+c` , `arrow up` and `enter` to restart it manually.

[2019-09-05 02:20] meteorlxy commented on #1807
@f3ltron

Seems that it's caused by #1685.

If we can't find an easy way to fix this issue, consider reverting that PR fot hotfix? As this is really a critical issue this time

[2019-09-05 02:24] meteorlxy commented on #1753
Seems that it's caused by #1685.

So my workaround is to downgrade `@vuepress/core` to `v1.0.2` (sad 😢 ):

[code]

[2019-09-05 08:42] LinusBorg commented on #1807
PR #1771 should fix this.

The problem, which the PR addresses, is that

1.  #1685 introduced new webpack config that made babel  transpile all code from files under a `@vuepress/*` path. That includes dependencies that might be located at `/node_modules/@vuepress/core/node_modules`
2. In this specific case, since Vue CLI and Vuepress use different versions of core-js by default, npm puts core-js

[2019-09-05 13:27] f3ltron commented on #1807
I will try the solution you say @LinusBorg  Thank's for all that stuff

[2019-09-05 13:41] f3ltron commented on #1807
Ok it work for me and your explanation is awesome i will regroup all issues related in the pr and will merge it

[2019-09-05 13:49] f3ltron commented on #1747
I am closing this one because the #1739 is merged feel free to re open it if you think it should not be close

[2019-09-05 13:49] #1747 closed

[2019-09-05 13:59] f3ltron commented on #1642
Hello @gilfuser thank's for your issue but as @viniciuskneves it's more related to your node environment than vuepress. I am closing the issue for now feel free to re open if you think it's related to vuepress

[2019-09-05 13:59] #1642 closed

[2019-09-05 14:06] f3ltron commented on #1605
As the solution is working i am clonsing this issue. Thank's for your question @j710328466 feel free to re open if it's not working

[2019-09-05 14:06] #1605 closed

[2019-09-05 14:08] f3ltron commented on #1529
the @darkskygit resolve this issue. Thank's for your question all ! I am closing the issue for now feel free to re open.

[2019-09-05 14:08] #1529 closed

[2019-09-05 14:10] f3ltron commented on #1471
The issue is fix with the merge so i am closing the issue thank's for your comments all !

[2019-09-05 14:10] #1471 closed

[2019-09-05 14:12] f3ltron commented on #1790
Hello @Swader can you give us a reproduction in what you want to achieve please. Actually the version of the global package is in packages/*package.json or in lerna.json.

Give me a complete step to reproduce here please

[2019-09-05 14:14] #1729 closed

[2019-09-05 14:14] #1753 closed

[2019-09-05 16:12] f3ltron commented on #1836
Hello ! Can you please translate in english what you need please. Thank's for your time !

[2019-09-05 16:14] r4fx commented on #1167
Thanks @Ficik its working as dev mode,
but do You have an idea how to modify this code to build for production mode ?

[2019-09-05 17:16] f3ltron commented on #750
As actually a plugin exist i am closing the issue. We will have a look about implement it in core thank's for your time all

[2019-09-05 17:16] #750 closed

[2019-09-05 17:31] Ficik commented on #1167
@r4fx Try `devProcess.webpackConfig.mode = 'production'`

[2019-09-05 17:54] Swader commented on #1790
I was trying to install Vuepress from a locally cloned branch to use that one, but you gave me a better method so I'll close this.

[2019-09-05 17:54] #1790 closed

[2019-09-05 18:14] #1727 closed

[2019-09-05 18:30] f3ltron commented on #1726
Thank you everyone for the enthusiastic response to the announcement!

At this time, we have filled the primary roles for the core team.

However, we still strongly encourage those who desire to join the core team to continue making contributions in their desired area of expertise so we can keep you in mind when additional spots open up on the core team.

VueJS(PRESS) lovers <3

[2019-09-05 18:30] #1726 closed

[2019-09-05 19:16] kefranabg commented on #1797
@christyjacob4 Could you open a PR based one [your fork](https://github.com/vuejs/vuepress/issues/1797) ?

[2019-09-05 19:29] kefranabg commented on #1831
Hi @bamboovir ,

As we're using [prismjs](https://prismjs.com/#supported-languages) for code highlighting, we're already supporting Kotlin code highlight. Just use the alias `kotlin`.

[2019-09-05 19:32] kefranabg commented on #1835
Hi @HCLQ, thanks for the report.

Are you running Vuepress in a Vue.js repository? Is it possible that you provide a reproduction link?

[2019-09-05 19:49] christyjacob4 commented on #1797
@kefranabg I have already raised a pull request for this and it has been merged. #1798.  could you please verify this?

[2019-09-05 19:54] kefranabg commented on #1829
Hi @oupala,

Thanks for opening this issue.

Resizing/optimizing images is not the primary goal of VuePress. It should be dev's responsability to take care of its assets weight.

As a workaround, you could easily have a process that optimize your assets before VuePress build.

Feel free to reopen this issue if you want to discuss further.

[2019-09-05 19:54] #1829 closed

[2019-09-05 20:03] shortdiv commented on #1824
This may have something to do with how you're configuring your build and/or how you're structuring your files. We use VuePress at Netlify where we extend the parent-theme with our own custom theme and use the default vuepress build command, and it works.

[2019-09-05 21:10] f3ltron commented on #1725
I saved the features asked. We will communicate as soon as possible about the roadmap !

[2019-09-05 21:10] #1725 closed

[2019-09-06 01:23] f3ltron commented on #1828
Hello @Snile826 can you please give a repo link to test it please. It will help us

[2019-09-06 01:24] f3ltron commented on #1824
as @shortdiv we need more infos about your netlify configuration to help you @yozman

[2019-09-06 01:26] f3ltron commented on #1823
Hello @liyuj thank's for your feature request it is relevant to have it. It can be a markdown it plugin or maybe more about prism.

[2019-09-06 01:33] f3ltron commented on #1819
you are running a huge docs. I think it's more relevant to your node env actually and the size of your docs that is really really big

[2019-09-06 01:38] f3ltron commented on #1807
I am glad to say the new version of vuepress 1.0.4 fix the issue.

I am closing the issue for now if you have the error again re open the issue !

Thank's all for all your work !

[2019-09-06 01:38] #1807 closed

[2019-09-06 01:43] f3ltron commented on #1804
Hello @JorgeMorata can you please add a github repo to see the need please

[2019-09-06 01:51] f3ltron commented on #1797
@christyjacob4 hello ! :) It seem's it has been merge vuepress 0x version. It is existing on v1 too ?

[2019-09-06 01:58] f3ltron commented on #1793
Thank's @bliles  ! do you have an example repo too please ? I see you just add one line so if it's really relevant we should add it in core

[2019-09-06 01:59] f3ltron commented on #1785
Hello @Gompje i think it was related to another bug that we correct in the new release 1.0.4 can you upgrade vuepress from 1.0.3 to 1.0.4 and tell me please

[2019-09-06 02:02] liyangworld commented on #1558
I need this feature too

[2019-09-06 02:02] #1630 closed

[2019-09-06 02:02] f3ltron commented on #1630
update core js worked

[2019-09-06 02:13] bamboovir commented on #1831
Hi @kefranabg, kotlin code highlighting is not work for Code Snippets，
This means that kotlin code imported from other files cannot be highlighted correctly.
https://vuepress.vuejs.org/guide/markdown.html#import-code-snippets

[2019-09-06 04:35] christyjacob4 commented on #1797
@f3ltron This is the corresponding page in v1 . There is no issue in v1.
https://v1.vuepress.vuejs.org/guide/basic-config.html#config-file

[2019-09-06 04:45] f3ltron commented on #1797
Ok so its related to v0 just to be sure :)

[2019-09-06 04:47] f3ltron commented on #1797
https://vuepress.vuejs.org/guide/basic-config.html#config-file i saw the "they" so i close this issue feel free to reopen if you have more infos thank's @christyjacob4

[2019-09-06 04:47] #1797 closed

[2019-09-06 04:55] christyjacob4 commented on #1797
Yes this is an issue on v0. You're welcome @f3ltron

[2019-09-06 05:23] mafeifan commented on #1812
https://v1.vuepress.vuejs.org/zh/miscellaneous/design-concepts.html

![image](https://user-images.githubusercontent.com/4178463/64402999-71466500-d0a9-11e9-8626-5013d4633a18.png)

[2019-09-06 07:25] HCLQ commented on #1835
Yes, I'm writing docs in a vue project.
Now,i find the vuePress@0.14.8 is work well.

[2019-09-06 08:16] kefranabg commented on #1835
Could you try to remove `@vue/cli-service` this package from your project and run vuepress again? If it's working this issue is related to [this PR](https://github.com/vuejs/vuepress/pull/1771) that will fix this problem. (Will be released in VP `1.0.4`)

[2019-09-06 08:38] kefranabg commented on #1812
Got it ! We need to fix the broken link in the chinese documentation. Based on @mafeifan screenshot, the link in the `Decoupling` section from `Design Concepts of VuePress 1.x` page is broken.

[2019-09-06 09:49] kefranabg commented on #1831
You mean it's not working only with code snippets imports ?

[2019-09-06 10:27] oupala commented on #1829
In my opinion, it is the job of a static generator to format the source content into a browseable content:

- markdown is reformatted into html
- images should be resized to a browseable size and quality

Why do you think it is the dev responsability, and not VuePress's one?

And what solution would you imagine as an automated workaround?

[2019-09-06 12:35] kefranabg commented on #1829
What you describes looks like [gatsby image plugin](https://www.gatsbyjs.org/packages/gatsby-image/).

What I mean is that create such a plugin is a lot of work, and optimize assets is not the primary goal of VuePress. You can optimize images by your own with dedicated tools before building with VuePress.

[2019-09-06 12:49] bliles commented on #1793
The project I did this for isn't open-source, but I can share the code I'm using the build the fallback routes.

The module below builds a set of fallback routes that I add in the enhanceApp.js for the site. This is helpful for us since we are translating our docs into 9 languages, but don't always have the translation complete for everything at the same time. This way if the user is on our site i

[2019-09-06 12:50] #1813 closed

[2019-09-06 12:55] oupala commented on #1829
Would you mind giving me an example on how to do that with something *around* VuePress?

[2019-09-06 13:12] kefranabg commented on #1829
Some solutions:

- It exists online tools to resize/optimize images: [compressjpg](https://compressjpeg.com/fr/) for example.
- You can have you own script that optimize your images with tools like [sharp.js](https://github.com/lovell/sharp). Then you just run a command `npm run optimize:images` before running your vuepress build
- I also heard about solutions like [cloudinary](https://cloudinary.

[2019-09-06 17:14] dflock commented on #1807
Thanks everyone!

[2019-09-06 19:33] oupala commented on #1829
Thanks for these pointers.

[2019-09-07 01:59] yozman commented on #1824
@shortdiv
here is the repo, maybe u can fork and try on netlify,
I retryed to deploy a new site, also error come with

[code]

[2019-09-07 02:05] yozman commented on #1824
@shortdiv
here is my netlify configuration

![image](https://user-images.githubusercontent.com/11918866/64468376-a5c42a80-d156-11e9-9228-206dfc049236.png)

and I add two token for my build process

![image](https://user-images.githubusercontent.com/11918866/64468381-c55b5300-d156-11e9-8193-759703b0c508.png)

and here is [build file](https://github.com/yozman/ambition/blob/master/scripts/build.js)

[2019-09-07 07:35] Snile826 commented on #1828
@f3ltron
The creation process is:
1. echo '# Hello VuePress' > README.md
2. vuepress build
3. Vuepress eject
4. Move 404.vue to `@theme/views` to modify
5. Create new `enhanceApp.js` to `@theme`
6. Route 404.vue to `/404`
7. Create route `path:*` to redirect to `/404`
8. Print the route and page, execute vuepress dev to view the situation

routes is:
path: "*" -> GlobalLayout.vue

**repo link:** h

[2019-09-07 12:07] #1748 closed

[2019-09-07 16:23] f3ltron commented on #1828
you can use of enhanceApp without ejecting

[2019-09-07 16:24] edisdev commented on #1818
Hi Sir  @f3ltron ,  I opened pull request for this issue. pr link : https://github.com/vuejs/vuepress/pull/1837

[2019-09-07 16:46] f3ltron commented on #1818
Hello @edisdev i will check for it top !

[2019-09-08 01:46] bamboovir commented on #1831
Yes, and I have given a fix.

[code]

[2019-09-08 10:17] dabit3 commented on #176
For anyone here with the same issue, upgrading to webpack to `4.39.3` fixed it for me.

[2019-09-08 16:33] edisdev opened #1841 "Turkish Translate For VuePress Website"
## Feature request

#### What problem does this feature solve?

  if its suits , i want to add turkish translate for website.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?
 I can work on this implement myself.

[2019-09-09 00:30] #1812 closed

[2019-09-09 00:35] BronsonQuick opened #1843 "docs: Update Travis CI example"
We can improve the Travis CI script documentation as per: https://github.com/vuejs/vuepress/pull/1826#issuecomment-529214871

[2019-09-09 08:26] zq99299 commented on #1819
Node --max_old_space_size=4096 is used in package.json

[code]

Once this problem is resolved, it is still expected to be specified by configuration

[2019-09-09 09:36] yjkimjunior opened #1845 "Security: JS-yaml"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?
js-yaml should be version higher than 1.13.1

#### What is actually happening?
it is not and it is a security vulnerability.

https://github.com/nodeca/js-yaml/issues/475
`Versions js-yaml prior to 3.13.0 are vulnerable to Denial of Service. By parsing a carefully-crafted Y

[2019-09-09 13:15] f3ltron commented on #1819
Did you resolve it ? If yes we should add it in the FAQ

[2019-09-09 14:07] bencodezen commented on #1737
A huge thanks to @yyx990803 for taking care of this! 🏆

[2019-09-09 14:07] #1737 closed

[2019-09-09 15:17] #1845 closed

[2019-09-09 16:25] bencodezen opened #1847 "Standardize VS Code editor experience"
## Description

Contributors to VuePress should have a standard experience working on code and submitting PRs so that random style changes don't occur as a result.

[2019-09-10 03:34] f3ltron commented on #1819
i think a big issue here is that we are using readFile instead of stream. The readfile will wait till all the content has been read.

But i actually can't figure out how to implement readstream i will need to test solution

[2019-09-10 04:04] zq99299 commented on #1819
Yes, it worked, with node --max_old_space_size=4096

[2019-09-10 04:08] f3ltron commented on #1819
Ok but it's definitely just a temp fix

[2019-09-10 07:09] my9074 commented on #1018
@jankeromnes  In some docs, we need to display the dynamic version number. After version control is implemented, can you satisfy the variables that reference the version in the document fragment?

![image](https://user-images.githubusercontent.com/4555635/64591672-f482f600-d3dc-11e9-9813-1e5406b743b1.png)

[2019-09-10 07:21] jankeromnes commented on #1018
Hello! 👋 I think you meant @janvennemann. 🙂 Deferring the question to them.

[2019-09-10 09:03] zq99299 commented on #1819
Thank you, my document does seem to be a little large, I want to wait for a certain number of articles on a certain topic when the number of a separate project

[2019-09-10 09:35] #1650 closed

[2019-09-10 12:26] daisybaicai commented on #575
Maybe you write the base and you don't need it.
I have the same problem when I push it to the github and build.
When I delete the base 'xx' in config.js, I have Solve this problem and get the correct style.

[2019-09-10 13:50] bd82 commented on #1847
Is this an IDE problem or a CLI problem?
Are all contributors expected to code using VS Code?

Did you consider integrating an automated formatting tool? (e.g prettier)

[2019-09-10 14:20] f3ltron commented on #1819
the solution would be to add a combo of child process and stream

[2019-09-10 23:28] #1843 closed

[2019-09-11 07:42] kefranabg opened #1850 "Update Semantic Pull Request check configuration"
We should disable the commit name check and just keep the PR title check.

This is ok if we consider that we're supposed to rename the PR title and use the "squash and merge" feature. This would be far easier for us to handle this Semantic Pull Request check.

[2019-09-11 13:02] ChetanGoti commented on #1823
Based on discussions at https://github.com/vuejs/vuepress/issues/703, You can use `@dovyp/vuepress-plugin-clipboard-copy` till than.

- Add "@dovyp/vuepress-plugin-clipboard-copy": "^1.0.0-alpha.7" in package.json
- Add it as plugin in config.js: ['@dovyp/vuepress-plugin-clipboard-copy', true]

[2019-09-11 14:20] limitlessloop commented on #494
Hi, @ulivz do you know where I can view documentation about Content Excerpt, the link appears to be broken now and I would like to learn more about how I could add this functionality to my site. Many thanks.

[2019-09-11 14:35] liyuj commented on #1823
Hi,

npm i @dovyp/vuepress-plugin-clipboard-copy

Execute the above command and throw the following error

npm ERR! code ETARGET
npm ERR! notarget No matching version found for
@dovyp/vuepress-plugin-clipboard-copy@^1.0.0-alpha.7
npm ERR! notarget In most cases you or one of your dependencies are
requesting
npm ERR! notarget a package version that doesn't exist.

在 2019/9/11 下午9:03, Chetan Goti 写道

[2019-09-11 14:35] janvennemann commented on #1018
@my9074 Usually you access the version of a particular page via `$page.version`. However, I don't think that's easily done in your particular case since it is inside a fenced code block that will be pre-rendered and you don't have access to Vue interpolation there.

There may be a fancy solution using [script hoisting](https://vuepress.vuejs.org/guide/using-vue.html#script-style-hoisting) and then

[2019-09-11 14:35] bloqhead commented on #1499
For anyone interested, this issue still exists in v1.x. I have a site built with the latest version and we still encounter it on random links.

[2019-09-11 15:10] bencodezen commented on #1847
@bd82 I think it would be a mix. Ideally we'd have a pre-commit for linting and ensuring styles are enforced and consistent, but it would be nice to give VS Code contributors a more consistent experience.

[2019-09-11 17:11] f3ltron commented on #1819
i will work on a workaround but it will take time @zq99299 i will update this thread if i have informations

[2019-09-12 05:12] rohanliston commented on #397
This bug is still happening for me as well. If I omit the trailing slash on a link to a subdirectory (e.g. `[See all announcements](/announcements)`, then I have to hit the back button twice. If I add the trailing slash, I only have to go back once.

I'm also a bit confused about the workflow here. The maintainer reproduced and confirmed the bug, committed to personally fixing it, then closed the

[2019-09-12 06:59] f3ltron commented on #1847
Actually we are using:

- .eslintrc with 'plugin:vue-libs/recommended' and 'plugin:jest/recommended' with some special rules
- we have and editorconfig
- lint-staged that lint --fix on stage commit
- husky but i dont see husky config or maybe i am missing something ?

[2019-09-12 07:01] f3ltron commented on #1850
The best could be to just allow squash merging on master. It is possible no ?

[2019-09-12 07:03] f3ltron opened #1851 "Adding analytics to vuepress"
## Feature request

#### What problem does this feature solve?

In vuepress we are not using analytics to have more datas. Currently with translation we have many demands. It's a great use case that we should add an analytics on him.

@ulivz Maybe you can create one account or maybe one is existing already ?

#### Are you willing to work on this yourself?
sure

[2019-09-12 07:06] f3ltron commented on #1841
Hello @edisdev. That's sounds great ! First we need to answer to this question #1851 .

The question here is if we need to maintain a translation we need a big community on it.

Tomorrow maybe you can leave or just can't be here if no one can update the doc it will be really to people to understand why we are not doing it.

Even if your request is awesome ! We have to discuss on it :)

[2019-09-12 07:10] f3ltron commented on #1815
Do you think you can work on it ? We are using remove accents actually maybe bad configs

[2019-09-12 07:13] larionov commented on #1815
@f3ltron I would like to try

[2019-09-12 07:15] f3ltron commented on #1815
top @larionov ! Dont hesitate to ask me if you need some help about understanding part of vuepress

[2019-09-12 07:34] kefranabg commented on #1851
Actually I think we already have an analytics for VuePress doc 😉 Checkout `packages/@vuepress/docs/docs/.vuepress/config.js`

[2019-09-12 07:37] f3ltron commented on #1851
oh i feel stupid ^^. Ok thank's  @kefranabg

[2019-09-12 07:37] #1851 closed

[2019-09-12 07:39] kefranabg commented on #1850
This is already availables:

![Capture d’écran 2019-09-12 à 09 37 42](https://user-images.githubusercontent.com/9840435/64763804-0f6e7b00-d541-11e9-8c0e-8424024f2985.jpg)

But the problem is the Github check, not the way we merge branch

[2019-09-12 07:44] f3ltron commented on #1850
Yeah but you can limit to it no ?

[2019-09-12 07:46] #624 closed

[2019-09-12 07:50] kefranabg commented on #1850
Oh! Actually that's a good idea! Yes it's possible but @ulivz is the only one that can access the repos settings to do that

[2019-09-12 16:42] NicholasCao opened #1854 "@vuepress/plugin-last-updated need dynamic time"
## Feature request

#### What problem does this feature solve?

Now, the time is fixed at `build` time.
This can lead to a fixed time when using the following code, such as when build is 4 hours from the last commit, it will always be `4 hours ago`.
[code]
In addition, when I need to show time in different time zones, I also need this feature.
[code]

Time is dynamically acquired, it should be pos

[2019-09-13 07:34] larionov commented on #1815
@f3ltron sorry, figured it out, realized that I had a very old fork of vuepress.
Please see the PR.

[2019-09-13 12:40] f3ltron commented on #1815
just start to pull master into your fork.

yarn boostrap
yarn test and it should work

Tell me more about what u doing now.

[2019-09-13 12:44] f3ltron commented on #1836
thank you @ludanxer that help a lot ! 👍

the https error is i think just the server tell you yout can't use the image it doesnt look like to be about vuepress so i am closing the issue for now.

Thank's for him a lot @ludanxer

[2019-09-13 12:44] #1836 closed

[2019-09-13 12:46] larionov commented on #1815
I did the fix, opened the PR #1855 and waiting for the comments on it

[2019-09-13 14:04] gabrielrumiranda commented on #1806
Can I take this issue ?

[2019-09-13 14:35] kefranabg commented on #1806
@gabrielrumiranda sure !

[2019-09-13 18:16] gabrielrumiranda commented on #1806
@tomrndom you cant take screenshot of this problem ? I test in environment similar yo your but I use mac. I could not replicate this problem. For example in your example when I remove ` data-zoom-src`  the zoomed image is different

[2019-09-14 02:12] EarlyPacker opened #1857 "ParticlesJS is not defined"
Hello,
I've been trying to get particles js to work with vuepress.
On my config I have:
[code]
It works when I run `vuepress dev` but as soon as I try to build with `vuepress build` I get the error saying `ParticlesJS is not defined` even though it is there and working.

[2019-09-14 06:16] larionov commented on #1831
@kefranabg @bamboovir Highlighting Kotlin is working already, you just need to use correct language alias (https://prismjs.com/#basic-usage)

[
![2019-09-14_13-17](https://user-images.githubusercontent.com/174250/64904264-c27dd680-d6f1-11e9-9fa3-e65951562b1c.png)
](url)

[2019-09-14 15:45] EarlyPacker commented on #1857
Actually have another problem with running scripts on VuePress.
I made a vue file called `Scripts.vue`, then on the home page I do `<Scripts/>`, it loads everything, but when I click on a link to go to the docs and come back to the home page, the scripts no longer work there.

[2019-09-14 16:15] EarlyPacker commented on #1857
https://imgur.com/4oXOKNC

[2019-09-14 20:36] tomrndom commented on #1806
@gabrielrumiranda Sure.

For the zoom there are 2 different versions of the same picture, a small one on the `href` (thumbnail) and another with high resolution on the `data-zoom-src` (image displayed on zoom).

Here's an example on the zoom when the thumbnail has his original width
![container with original width](https://user-images.githubusercontent.com/19543853/64913385-b1df5780-d715-11e9-8a70

[2019-09-15 14:47] #1818 closed

[2019-09-16 01:58] Mister-Hope commented on #613
I do not think it is a personal need, many people dose need this!
A situation where someone wants a specific folder auto generated is very common. As you receive25 disagree, I really think you should consider open it. @ulivz

[2019-09-16 03:47] mrleblanc101 commented on #1757
Finally ! Just get rid of stylus...
SASS (especially SCSS) syntax has way more usage and is **backward** compatible with vanilla CSS.

[2019-09-16 07:27] IOriens commented on #894
I made a [plugin](https://github.com/IOriens/vuepress-plugin-canonical) according previous discussions on this issue.

Just try
[code]
then modify `.vuepress/config.js`.

[code]

[2019-09-16 11:05] berot3 commented on #597
So for everyone who comes here from google, like me:

The next google-result seems to be the solution (https://forum.vuejs.org/t/trying-to-get-markdown-it-footnote-to-work/69527)

instead of:
[code]

this works for me:
[code]

And why? Simply because the first config is for vuepress version 0 (before alpha) and the below config is for the current alpha version beginning with version 1.

[2019-09-16 14:12] mbana commented on #84
Have you actually tried this with a `[[toc]]`. I think you will find that `{.style-me}` gets included in the table of contents.

[2019-09-16 17:54] DhruvDh opened #1860 "Use markdown-it-prism instead of prismjs for code-highlighting"
## Feature request

Vuepress uses prismjs for code highlighting.

To get something I want working I need to use a PrismJS plugin. The way vuepress is set up for code highlighting currently means that there is no way that is obvious for me to enable a prismjs plugin. At least not obvious to me.

#### What problem does this feature solve?

It would allow an easy way for people to use prismjs plugins

[2019-09-16 17:57] DhruvDh commented on #1860
I searched through the issues and realised it would also solve issue #1823 and that this is kind of a duplicate of #1147.

[2019-09-16 18:20] abelsromero opened #1861 "Asciidoctor.js support"
## Feature request

#### What problem does this feature solve?
Support for other another popular writing format.
Plus, the out-of-the-box search and multi-language vuepress offers (not offered in other static generators) would work wonders to document OS projects in asciidoc.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?
I lack the knowledge. But

[2019-09-16 19:43] about-code commented on #574
*glossarify-md* is now available on [npm](https://www.npmjs.com/package/glossarify-md). An example setup which should work for *vuepress* users can be found [here](https://github.com/about-code/glossarify-md/blob/master/doc/vuepress.md).

[2019-09-16 21:18] joshduck opened #1863 "Add a description to README"
## Feature request

The project's README forgets to mention what the project is. Dropping a quick explanation at the top of the file is good practice.

#### What problem does this feature solve?
PR for the project.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2019-09-17 03:03] Mister-Hope commented on #560
Excuse me, my question is that I want to use the same code to automatically deploy on `/XXX/` and `/`.
So what can I do?

I searched how to set environment variable in package.json, but how to dynamic set it?

[2019-09-17 11:20] dmljc commented on #1836
Do you know that Google's browser can be translated into English?

[2019-09-17 12:35] beatgrabe commented on #1631
Wow. I have exactly the same problem now. I am really looking forward to have this merged.

[2019-09-17 12:59] f3ltron commented on #1631
We will publish it the next release

[2019-09-17 14:20] Akimotorakiyu commented on #1536
The same issue +1

[2019-09-17 16:19] manuales opened #1865 "Add dark mode"
## Feature request

#### What problem does this feature solve?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

Integration of Dark mode in Vuepress

[2019-09-17 17:48] JessicaSachs commented on #613
Just adding my voice to those that think this is a valuable feature... Downloading the third party package to do it (thank you @ozum)

@ulivz, OP gave you an amazing write-up, attempted his own solutions, said he didn't understand node PATHs, and then you chided him about not being able to write javascript and closed his issue. Not cool.

[2019-09-17 20:40] gabrielrumiranda commented on #1806
I test this related problem using only the medium zoom, and also occurred. I think you must report this in [medium-zoom repository](https://github.com/francoischalifour/medium-zoom) because is not a problem with the plugin but with the framework

[2019-09-17 21:20] abishekrsrikaanth opened #1866 "Ability to disable the site name on the navbar"
## Feature request
A configuration to disable the site name on the navbar when the logo is enabled on the configuration.

#### What problem does this feature solve?
It allows to not show the Site Name on the navbar when the logo is enabled.

[2019-09-18 12:13] inianv opened #1867 "Setting to increase content width in CSS"
Which configuration should be changed to maximize the content width of the rendered markdown files? I would like to make full use of the screen width when view viewing page contents.

Creating a new `index.styl` file under `.vuepress/styles/` did not work. I created one with a content to increase content width using a CSS property as below. Also tried setting it to `200px`, which didn't work eithe

[2019-09-18 13:27] Mister-Hope commented on #699
Hope you did not foget it.

[2019-09-18 18:31] favoyang opened #1868 "Netlify custom theme css missing"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

https://github.com/openupm/openupm

#### What is expected?
I have a local theme setup, which extended from default theme. In the local theme, I load two custom styles in Layout.vue

[code]

The first style block loads a custom version of spectre css framework in scss
[code]

The second style bloc

[2019-09-18 18:34] #1850 closed

[2019-09-18 20:26] kefranabg commented on #1806
@tomrndom do you confirm?

[2019-09-19 02:31] tomrndom commented on #1806
@kefranabg Yes, there's something similar happening with this library, so the problem should be comming from there

[2019-09-19 05:19] bamboovir commented on #1831
@larionov it's not working with code snippets imports :(

[2019-09-19 05:26] rufuspollock commented on #111
For anyone searching through https://gist.github.com/vedmalex/88830bdf64a45b745e142eef9e5c805d#gistcomment-2619745 is the current best-state of things.

I would still like to know if anyone has, got mermaid working with ...

* [ ] backticks ``` rather than `<mermaid>` blocks (atm this means constantly doing find and replace on backticks in vuepress markdown
* [ ] support for blank lines etc

Quest

[2019-09-19 07:02] PeppeL-G commented on #111
@rufuspollock I can be wrong, but I've assumed `markdown-it-mermaid` doesn't work in VuePress because VuePress do Server-Side Rendering, and here mermaid will fail because it makes use of client-side only functionalities. Therefor we must make use of a Vue component to make sure that the client-side only functionalities only are used on the client by using the `mounted()` callback.

[2019-09-19 07:20] itellboy opened #1869 "The location of link in markdown file messed me up."
- [ ] I confirm that this is an issue rather than a question.

## Bug report

Sometimes, there is no `Base URL` at the href attribution of `<a></a>` in markdown file after I set `base` in the `/src/.vuepress/config.js`.

#### Steps to reproduce

* Repo: [https://github.com/itellboy/javascript-basic](https://github.com/itellboy/javascript-basic)
* Website: [https://itellboy.github.io/javascript-bas

[2019-09-19 07:29] kefranabg commented on #1806
Ok I'll close the issue as it's not a VuePress issue. Feel free to open one to the [medium zoom repos](https://github.com/francoischalifour/medium-zoom) 😉

[2019-09-19 07:29] #1806 closed

[2019-09-19 07:35] kefranabg commented on #1863
I assume that you're talking about [this readme](https://github.com/vuejs/vuepress/blob/master/README.md)

[2019-09-19 09:39] PeppeL-G commented on #1869
Links with URL starting with `/` means the root of the domain. If the path to a webpage is `my-domain.com/movies/james-bond`, then the link `/titanic` would lead to `my-domain.com/titanic`. If you want it to lead to `my-domain.com/movies/titanic`, skip the `/` in the beginning, i.e. use just `titanic`.

[2019-09-19 09:47] PeppeL-G commented on #1867
If I'm not mistaking, it's the following CSS code that limits the width:

[code]

Just override the `max-width` using a CSS rule with higher specificity should fix your problem, i.e.:

[code]

[2019-09-19 09:53] itellboy commented on #1869
Thank you~☺️, it works. But why are there two different outputs with a same code style?

[2019-09-19 09:59] PeppeL-G commented on #1869
Not sure what you means, but when you run it locally on your own computer the root URL is simply `/`, so you can use `/` in the beginning of your URLs to refer to the root. When you deploy it on the server, the root instead becomes `/javascript-basic/` (in your case), and then URLs starting with `/` won't work anymore.

Instead of using relative links that doesn't start with `/`, you could use the

[2019-09-19 10:28] itellboy commented on #1869
It's so weird. I built again without any change, and it worked. All links were added the prefix`/javascript-basic`(in my case). For example, `[bar](/foo)` became `<a href="/javascript-basic/foo">bar<a>`.

[2019-09-19 10:53] PeppeL-G commented on #1869
Yea, it works locally. I know that it locally redirects to URLs with the base path added.

For example, I have a VuePress project with the base path `/course-material/`. On the webpage `http://localhost:8080/course-material/courses/git/` I can have the following link: `/lectures/git-basics/`. When I click on this link, I go to `http://localhost:8080/lectures/git-basics/`, but the server immediatel

[2019-09-19 11:41] itellboy commented on #1869
Umm.. I  am afraid not agree with you. Now it works both on a server and locally.

When I write `[bar](/foo)` with markdown gramma, VuePress would directly compile this markdown file to `<a href="[/BasePath]/foo">bar</a>` instead of directing after clicking.

What made me mess is last compilation was wrong. Both of its appeared, `<a href="[/BasePath]/foo">bar</a>` and `<a href="/foo">bar</a>`. Unt

[2019-09-19 13:27] PeppeL-G commented on #1869
That behavior sounds desirable, but I don't see it in my VuePress app. I have the following `config.js`:

[code]

And when I have the following code in a markdown file:

[code]

It is compiled to:

[code]

At least, that's how it works in development. Maybe the base path only is added in production?

Sorry, I'm not social ^^'

[2019-09-19 13:34] itellboy commented on #1869
It's interesting so much.
Which version is the VuePress you installed?

[2019-09-19 13:48] PeppeL-G commented on #1869
Before I had `vuepress 1.0.3`, then when you said it worked for you I updated to `vuepress 1.1.0`, but I have had the same problem with both of them.

[2019-09-19 14:12] itellboy commented on #1869
I built a new project to test it and I found something.

I set `base path` like this:

[code]

When I wrote markdown like this:

[code]

Then I build it and I got this:

[code]

I think the last `/` is a key to solve the problem.

I don't find some description about it on the official website.

[2019-09-19 14:49] PeppeL-G commented on #1869
You're right, when I added `/` at the end it started to work for me. I guess it's kind of documented [here](https://vuepress.vuejs.org/guide/directory-structure.html#default-page-routing), but the behavior is really unexpected.

[2019-09-19 15:04] Mister-Hope opened #1870 "messed order when import parent-theme style using @parent-theme"
There are some problems here.

When I simply wrote this:

[code]

It works normally.

But when I add a import:

[code]

It is not working, the `@parent-theme/styles/index.styl` is not being applyed.

So why is this happenning?

[2019-09-19 15:15] Mister-Hope commented on #1870
My fault, I just realize I have to add a `~` before the require path to make it become a module

[2019-09-19 15:22] Mister-Hope commented on #1870
There are sill some problems here.

When I simply wrote this:

[code]

It works normally.

But when I add a import:

[code]

It is not working, the `@parent-theme/styles/index.styl` is not being applyed

[2019-09-19 20:24] f3ltron commented on #1865
That's definitely a cool feature needed maybe it should be specific to the default theme plugin.

Can you work on it ? Do you need help some on boarding etc ?

Feel free to ask

[2019-09-19 20:26] f3ltron commented on #1860
We need to have a look for it. I agree to use markdown it plugin instead of the primjs server.

But as far as i know. I am not sure even if we use the markdon plugin it will cover all primjs feature

[2019-09-19 20:27] f3ltron commented on #1857
Hello @EarlyPacker ! Do you have some repo link we can work on ?

[2019-09-19 20:31] f3ltron commented on #1861
I am not familar with ascii doctor.

But It can be a cool feature to have the possibility to have custom transformation.

Interesting but it could be a bit tricky to add it

[2019-09-20 02:50] cnguu opened #1871 "Import less error, how should I modify the webpack configuration?"
I try to import an antd less file:

[code]

But I got a problem:

[code]

[2019-09-20 03:55] inianv commented on #1867
@PeppeL-G : That solved the issue, Thanks a lot! Closing the issue

[2019-09-20 03:55] #1867 closed

[2019-09-20 07:25] #1762 closed

[2019-09-20 10:28] NicholasCao commented on #1854
Hi @kefranabg ,
I need to converting UTC time to time in each time zone, so dynamic time is required.

And the offical demo
[code]
if you use it, last updated time is fixed `four hours ago`(or other time, it depends on the time difference between your build and the last commit.)

[2019-09-20 12:03] nfnt opened #1872 "Vuepress should fail if imported code snippets is not found"
## Feature request

#### What problem does this feature solve?
Currently, when trying to import a code snippet from a non-existing file, vuepress will create a snippet that says "File not found".
Input:
[code]
Output:
[code]
This is a problem because it results in broken documentation. In a CI/CD environment it would be great to surface this problem early.

#### What does the proposed API look lik

[2019-09-20 12:32] kefranabg commented on #1854
This feature is very specific to your need. What I mean is that a small part of VuePress users will need this feature. I suggest you to use [default theme inheritance](https://vuepress.vuejs.org/theme/inheritance.html#concepts) to solve your problem.

[2019-09-20 12:42] PeppeL-G commented on #1870
Is `test.styl` imported correctly? You see the result of the CSS code in it in your web browser?

[2019-09-20 13:53] Kerollmops opened #1873 "Extra head tags injections not working"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I wanted to add a custom script to the head of vuepress and after many attempts I did not succeed to even get a `console.log("Hello")`.

I tried to CTRL-C an re-run the `vuepress dev` command.

#### Steps to reproduce

Use the current documentation to load extra tags to the head.
https://v1.vuepress.vuejs.org/config/#hea

[2019-09-20 14:29] kefranabg commented on #1831
I confirm that it is not working.

[2019-09-20 14:48] Mister-Hope commented on #1870
It is an empty file.

Besides, when I wrote

[code]

in `.vuepress/theme/styles/index.styl`

the imprt order is messed, the style behave is different to.

[2019-09-20 14:51] Mister-Hope commented on #1870
Besides, when I wrote

[code]

in `.vuepress/theme/styles/index.styl`(the file only contains this line)

the imprt order is messed, the style behave is different to.

So I think at least this way to import index.styl is incorrect, or the logic importing it is not being handled right.

[2019-09-20 23:48] Mister-Hope commented on #1805
I think you can use the clainwebpack configuration, just as vue.

[2019-09-21 00:06] EarlyPacker commented on #1857
Hello! @f3ltron I pushed this repo with exactly how I have it, works on the dev but can't build.
https://github.com/EarlyPacker/TestRepositoryVue

[2019-09-21 00:24] f3ltron commented on #1857
ok i will have a look next week. This weekend i have no free time

[2019-09-21 03:38] cnguu commented on #1871
Then, I try to use `webpack-chain`, but it doesn't work

[code]

Error:

[code]

How should I modify the webpack configuration?

[2019-09-21 07:13] larionov commented on #1548
Iframes might also be useful to display components at different breakpoints for responsive design.

[2019-09-21 07:14] larionov commented on #1548
Also more specific selectors will not save you from styles apllied by vuepress itself

[2019-09-21 08:39] PeppeL-G commented on #1870
I don't know how errors are handled in this case, but maybe the import of `~@parent-theme/styles/index.styl` stops working because the import `./test.styl` fails (e.g. wrong path to file)?

[2019-09-21 11:45] favoyang commented on #1868
The issue caused by a mistake of naming `theme/Layouts`. It should be lowercase. My local file system is case-insensitive, and Netlify file system is case-sensitive, so that Vuepress can not find the layout file.

[2019-09-21 11:45] #1868 closed

[2019-09-21 12:19] meteorlxy commented on #1805
Replace literal `'../../src'` to `path.resolve('......')`

e.g.

[code]

[2019-09-21 12:24] meteorlxy commented on #1871
[code]

[2019-09-21 12:41] kefranabg commented on #1823
@liyuj executing `npm i @dovyp/vuepress-plugin-clipboard-copy` works well for me.

[2019-09-21 12:56] kefranabg opened #1877 "Open a VuePress plugins gallery in documentation"
## Feature request

Open a VuePress gallery in the documentation to help users found community plugins.

[2019-09-21 13:27] liyuj commented on #1823
Hi,

The reason has been found is the problem with the NPM mirror I use here.
The plug-in has been tested and can be used. No problem.

在 2019/9/21 下午8:42, Franck Abgrall 写道:

[2019-09-21 13:28] #1823 closed

[2019-09-21 13:40] cnguu commented on #1871
It doesn't work too:

[code]

Get the same error message:

[code]

Then I modified it to the code:

[code]

Although no error was reported, the style was not used.

I just want to add an option, it's too hard.

[code]

This is the version I am using now:
- "vuepress": "^1.1.0"
- "ant-design-vue": "^1.3.16"
- "less": "^3.9.0"
- "less-loader": "^4.1.0"

[2019-09-21 17:16] koskimas commented on #1802
I also have this problem. Has anyone found a way to fix this?

[2019-09-21 18:05] meteorlxy commented on #1871
It's easy in fact. Two solutions:

1. Use `less` option (simpler):

[code]

2. Use `chainWebpack` option like what you were trying to do:

[code]

[2019-09-21 18:17] meteorlxy commented on #1757
I have no idea about stylus or scss.

But changing the default css pre-processor will cause a breaking change on the [styling config](https://v1.vuepress.vuejs.org/config/#styling).

I'm afraid that the label `version: 1.x` should be replaced by `version: 2.x` ? @bencodezen

[2019-09-21 18:24] jaunt opened #1878 "javascript heap explodes with vuetify 2 based custom theme"
- [x] I confirm that this is an issue rather than a question.

## Bug report

After the client and server are compiled successfully, during the "Rendering static HTML" phase, the rendering of pages gets slower and slower until a crash:

#### Steps to reproduce

Check out the repo below.  Yarn install.  vuepress build docs.

https://github.com/jaunt/vuepress-vuetify2

#### What is expected?

The sp

[2019-09-21 18:33] meteorlxy commented on #1631
What's the problem if we use `Object.assign(options, {})` in current `enhanceApp` ?

Sorry if I misunderstand this FR

[code]

[2019-09-21 18:33] Vultur commented on #1569
派生主题使用 `background-image url(search.svg)` 存在同样的问题！

[2019-09-21 19:32] meteorlxy commented on #1569
One possible solution is to copy all "unknown" files from `.vuepress` to `.temp`.

So the workaround could be something like:

[code]

[code]

[2019-09-21 19:40] meteorlxy commented on #1847
Not related to this issue, but a VSCode extension for syntax of VuePress (i.e. vue in markdown) would be needed :smile:

[2019-09-22 00:34] cnguu commented on #1871
It work! Thanks!

[2019-09-22 04:09] Mister-Hope commented on #1870
I don't think the path is wrong, and if I dont import `test.styl`, the style still ctaches problems.

[2019-09-22 07:15] kefranabg commented on #1871
Thanks @meteorlxy !

[2019-09-22 07:15] #1871 closed

[2019-09-22 09:01] vinayakkulkarni commented on #1865
just saw @f3ltron 's comment, I've managed to add a toggle button in the NavBar - reference, (https://github.com/vinayakkulkarni/vuepress/tree/feat/dark-theme), need some help regarding stylus as I've never used it before.

[2019-09-22 13:24] about-code commented on #1018
Just a side-node (or user story):  Collaborative docs are often maintained in a VCS like git, on GitHub, or Gitlab servers where you *tag* *a revision of your source tree*. From GitHub or GitLab you can directly clone/pull tagged versions of a documentation via URLs.

While an RFC certainly needs to specify the directory layout for building, thus including *version* directories makes sense, it wou

[2019-09-22 13:54] ulivz commented on #1870
Could you prepare a minimal reproduction?

[2019-09-22 14:11] favoyang opened #1880 "Improves Layout.vue for extending"
## Feature request

Restructure Layout.vue to make it easier to extend

- Add an unnamed slot for main content.
- Home component change to use custom layout instead of the v-if-else hack.
- Add a named slot for footer.

#### What problem does this feature solve?
Current Layout.vue template is hard to override while keep the navbar.

#### What does the proposed API look like?
[code]
The home page,

[2019-09-22 14:19] ulivz commented on #1880
I don't think that providing too many hard-code overriding hooks is a good solution, maybe the simplest way for you is to custom a `<GlobalLayout />` component.

ref: https://v1.vuepress.vuejs.org/theme/option-api.html#globallayout

[2019-09-22 14:23] ulivz commented on #1847
That's a good suggestion but maybe the priority would be relatively low.  😅

[2019-09-22 14:30] ulivz commented on #1878
Sorry but we would not help you solve the problem which is relative to the out-of-memory.

What we can do is to build a strategy of detecting build performance to help you to know the memory footprint for each stage.

[2019-09-22 14:37] ulivz commented on #1757
All the seemingly good changes may bring other heavy burdens. At present, compatible with some libraries written by SASS is not the focus of our work. Even though we know that there are many users of Sass, but who knows how many users of Stylus are? Everything is a trade-off, and I suggest that we keep Stylus at 1.x.

[2019-09-22 14:49] favoyang commented on #1880
Hi @ulivz,

Thanks for the feedbacks. It definitely solves the the generic footer feature. However, do you think adding at least **the unnamed slot** for overriding do provide some value? After all the v-if home way is a hard-code and not extended thing.

I'm raising the request, because I extend the default-theme, like the @vuepress/theme-vue does. Then try to add one more custom page like Home.v

[2019-09-22 14:54] ulivz commented on #1802
Algolia Search doesn't know that you're redeploying your site under a sub directory, which causes this issue. the unique solution is the search plugin providing a new option to let you intuitively pass it in. Contribution welcome!

[2019-09-22 14:59] ulivz commented on #1805
Same opinion with @meteorlxy , you should set the target path of a alias to a absolute path so that you use it at any level of directories.

[2019-09-22 15:00] #1805 closed

[2019-09-22 15:01] ulivz commented on #1868
local file system -> OSX
Netlify file system -> Linux

😅

[2019-09-22 15:04] ulivz commented on #1548
Actually I always have a idea, in VuePress we can provide a capacity of isolating context between application and preview, just like what Storybook did.

[2019-09-22 15:05] koskimas commented on #1802
@ulivz Thank you for a quick answer! Now that you're "here" I'd like just like to say how amazing vuepress is! It's by far the best tool for what it does. Thank you so much for your hard work :bowing_man:

Your answer might be exactly right, but what confuses me is that it used to work like that. I use vuepress with algolia search [here](https://vincit.github.io/objection.js/) and it has worked mo

[2019-09-22 15:05] Mister-Hope commented on #1870
wrote

@require '~@parent-theme/styles/index.styl'
in .vuepress/theme/styles/index.styl(the file only contains this line)

[2019-09-22 15:09] ulivz commented on #1870
You don't need do this import since VuePress will do it.

[2019-09-22 15:09] koskimas commented on #1802
Also even without the fix, the algolia links point to the correct URL (if I look at the <a> tags using dev tools). It goes wrong in the custom handler that calls the router. And that's the thing the workaround "fixes".

[2019-09-22 15:17] mrleblanc101 commented on #1757
Vue natively supports SCSS, and I don't see why it would be a burden at all, it only brings advantages.
Did you look at the last [State of CSS Survey](https://2019.stateofcss.com/technologies/pre-post-processors/)? Nobody uses Stylus and nobody want to use stylus because it's not backward compatible with CSS.
![technologies_pre-post-processors_tools-section-overview](https://user-images.githubuser

[2019-09-22 15:18] koskimas commented on #1802
If the implemented fix makes sense, I'm happy to create a PR for it. If there's a better way to fix it, I'm happy to implement that also, but I'll need some pointers, since I'm new to vuepress's code,

[2019-09-22 15:26] ulivz commented on #1877
@vicbergquist do you have any idea ? 😁

[2019-09-22 15:29] Mister-Hope commented on #1870
You must be kidding me. When I add index.styl in my theme folder, it will overide the theme-default index.styl. No style will be used.

[2019-09-22 15:30] ulivz commented on #1857
If you have some scripts which rely on the loading script, it actually means that you are accessing window, which will offend the [Browser API Access Restrictions](https://v1.vuepress.vuejs.org/guide/using-vue.html#browser-api-access-restrictions)

For solving your problem, you should install it at your project and `external`ize it:

[code]

[code]

In you client code, you should using es import i

[2019-09-22 15:32] Mister-Hope commented on #1870
So I am trying to import it when I overide it.

I know I can just change the file name which is no confilt with theme-default and import it in all layout I wrote to prevent this error, but I do think it is a bug.

[2019-09-22 15:34] ulivz commented on #1757
Have you considered users who have written themes using Stylus? Isn't this a very big breaking change? No matter how good SASS is, we won't consider it in this version.

[2019-09-22 15:38] ulivz commented on #1870
See: https://v1.vuepress.vuejs.org/miscellaneous/design-concepts.html#overriding

[2019-09-22 15:41] #1831 closed

[2019-09-22 15:42] Mister-Hope commented on #1870
😢 My error,I just reproduced it, and  found out I use a varible which is used by offical, and I give it a different type, I think it caused some errors for showing the styles.

P.S. : I wonder if a list of official variable can be made, or maybe there is and I didnot find out?

[2019-09-22 15:42] #1870 closed

[2019-09-22 15:44] Mister-Hope commented on #1870
Besides, I noticed many commits to the doc only changed the English version, while the Chinese version remain unchanged, I can help out with that to sync the modification to chinese, can this type of PR be accepted?

[2019-09-22 15:48] ulivz commented on #1870
For all internal Stylus variables, you can get them here: https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl

For the problem of stale CN docs, at present, we may not be able to synchronize in time, so I really want someone to help me to compare and sync it. contribution welcome if you want!

[2019-09-22 16:07] ulivz commented on #1873
You need to restart the dev server after you add it.

![image](https://user-images.githubusercontent.com/23133919/65390975-0332bb00-dd96-11e9-98bd-b142b4c98d2e.png)

This introduced another problem: VuePress doesn't respect the change of head before the development process restart.

[2019-09-22 16:08] #1873 closed

[2019-09-22 16:19] f3ltron commented on #1873
We should watch on it ? @ulivz  ?  You closed it

[2019-09-22 16:24] ulivz commented on #1873
What I want to express is that we need know the problem I mentioned above: VuePress doesn't respect the change of head before the development process restart.

I closed it since a new issue should be for it.

[2019-09-22 16:31] f3ltron commented on #1548
Hum i understand the problem you have actually.

@larionov For breakpoints you should not need iframes.

The problem of iframes is actually storybook are using it too. But they seem's to be bloked for evolution now. But they have something cool anyway.

Maybe we can add some reset css on a custom wrapper component that inherit everything. But it's look a lot of work to do and maintain.

Hum yeah i

[2019-09-22 16:39] f3ltron commented on #1873
ok it's about the watch stuff on chockidar i will have a look for this one

[2019-09-22 16:40] jaunt commented on #1878
Hi, thank you for looking into it!  Out of curiosity, do you suspect there is a bug in how I am using vuepress in the minimal example I posted above, or do you think there is a bug in Vuetify 2.0?

[2019-09-22 16:41] f3ltron commented on #1631
@meteorlxy it change the option by reference ?

[2019-09-22 21:40] richardcov commented on #1878
Hi @jaunt, when using Vuetify 1.5, I found that trying to pre-render components would cause the error that you describe. E.g. if you have a top toolbar or footer on each page, try wrapping them in <ClientOnly> and see if that helps.

[2019-09-23 02:54] f3ltron commented on #1877
you can take some inspiration here #1839

[2019-09-23 03:53] tolking commented on #1865
If create a plugin, you may need to add `!important` in the styles.
If the default theme can support [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme), it is best.
Or you need to create a new theme like [vuepress-theme-default-prefers-color-scheme](https://github.com/tolking/vuepress-theme-default-prefers-color-scheme)

[2019-09-23 06:28] meteorlxy commented on #1878
Potential memory leak?

https://github.com/nuxt/nuxt.js/issues/3465

[2019-09-23 07:52] vicbergquist commented on #1877
Oh yes, this is a good idea ❤️

[2019-09-23 12:30] pxwee5 opened #1884 "Route/Page Transition"
## Feature request
Is it in the roadmap to add page transitions to VuePress?

#### What problem does this feature solve?
Beautify the transition between pages

[2019-09-23 15:52] #567 closed

[2019-09-23 16:20] favoyang opened #1885 "Inconsistent css ordering between dev and build"
- [x] I confirm that this is an issue rather than a question.

## Bug report
This issue is similar to https://github.com/vuejs/vuepress/issues/643, when overriding default theme, the css order is inconsistent between dev and build. However #643 is solved and closed. So this may be a new issue.

#### Steps to reproduce

https://github.com/favoyang/netlify-vuepress-test

I've made a minimal reproduc

[2019-09-23 17:07] #1296 closed

[2019-09-23 19:10] jaunt commented on #1878
Thanks for the tips @richardcov & @meteorlxy

[2019-09-23 22:53] swiftone commented on #1560
Any news on this?  Our CI tests are silly-slow (technical term) because of this, not to mention every time we have to rebuild the site locally during development.

[2019-09-24 01:02] guidetheorient commented on #79
has any update?

[2019-09-24 09:22] #1854 closed

[2019-09-24 09:37] xbill82 commented on #1560
Hi @swiftone we ended up chunking our entire documentation in many different projects that we host on different subfolders of the same S3 bucket.
It sucks, because the SPA mode obviously doesn't work across sub-projects. Not to mention the reconciliation of the Algolia search by forcing the base URL and all the problems that we had to deal with to make developer experience decent with all this...

[2019-09-24 10:13] favoyang commented on #1885
Update,

I tried the GlobalLayout approach (code available in the [globallayout branch](https://github.com/favoyang/netlify-vuepress-test/tree/globallayout))
- Removed `layouts/Layout.vue`
- Added `layouts/GlobalLayout.vue` (copied from official docs), then append the `custom.scss` at the end.
- Config the `layouts/GlobalLayout.vue` in theme/index.js as `globalLayout`.

Try both dev and build, sho

[2019-09-24 11:40] janvennemann commented on #1018
Interesting use case! This would require some kind of branch management and logic to merge the docs from different branches into one big final build. Although probably possible with the really powerful plugin system, IMHO that complicates things by a certain degree. However, definitely an interesting alternative to having the versioned docs all checked into one branch.

[2019-09-24 12:10] robsontenorio commented on #1018
For reference, take a look on this repo

https://github.com/nuwave/lighthouse

It is a php package with a “/docs” with vuepress things. On there we just
wrote a simple versioning mechanism.

All the docs related things including vuepress and versioning are in
“/docs”. There is a small readme on “/docs”.

Em ter, 24 de set de 2019 às 08:40, Jan Vennemann <notifications@github.com>
escreveu:

--
—
R

[2019-09-24 15:08] favoyang commented on #1885
Update,

I tried another test, this time even simpler. (code available at [no-custom-layout branch](https://github.com/favoyang/netlify-vuepress-test/tree/no-custom-layout))
- No custom layout
- Just one line in `styles/index.styl` to change navbar title to red.
[code]

In dev mode, the navbar is black, means component style (even it's a component @parent-theme), overrides local theme `index.styl`

[2019-09-24 20:34] bencodezen commented on #1757
@ulivz My efforts on this ticket would be to allow people to easily allow users to switch to Sass if they want. We definitely don't want to break backwards compatibility.

[2019-09-25 02:23] about-code commented on #1018
@janvennemann

I think there could be different incremental steps.

1. A first solution paves the way for a minimal solution satisfying the core use case. This is what this issue should certainly be about.
1. In a second stage 'on top' of this first stage prebuild scripts may be implemented which are capable to detect whether there's a `.git` folder, and if so to recreate the vX.Y-folders from the

[2019-09-25 10:38] favoyang opened #1889 "Failed to load literal css from index.styl"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Based on [stylus lang docs,](http://stylus-lang.com/docs/import.html), literal css can be load via @import.

However, appending below line to theme/index.,styl, failed to compile.
[code]
#### Steps to reproduce

https://github.com/favoyang/netlify-vuepress-test/tree/load-literal-css
(load-literal-css branch).

#### What

[2019-09-25 11:40] Kerollmops commented on #1873
Thank you any way, I did tried to restart the dev server but this time it worked :)

[2019-09-25 14:38] kefranabg commented on #1885
Not sure, but seems to be [a `mini-css-extract-plugin` bug](https://github.com/webpack-contrib/mini-css-extract-plugin/issues/188).

[2019-09-26 04:34] ludanxer opened #1891 "Code blocks occupy the whole width on mobile phone"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Open Vuepress website with a phone, and then scroll down to any code blocks.

Actually, I'm not sure if this is by design. But it looks kind wired on a phone with a black border (e.g. iPhone XR)

Relevent code [theme-default/styles/mobile.styl#line 36](https://github.com/vuejs/vuepress/blob/c17c7

[2019-09-26 08:30] kefranabg commented on #1891
@ludanxer this is expected design ;) Thanks for asking

[2019-09-26 08:30] #1891 closed

[2019-09-26 09:19] vinayakkulkarni commented on #1865
Not really required, you can (should) use css variables `var()` to extend the theme imo

[2019-09-26 10:42] PeppeL-G opened #1893 "Tripple clicking inline code should select it"
## Feature request
The following markdown code:

[code]

is compiled to:

[code]

Tripple clicking on a word inside `<code>` will select the entire paragraph (since that's the closest block element), but most often you just want to select the code inside the `<code>` element, so you can copy-paste it. Adding `display: block` to `<code>` would give you this functionality, but that would of course r

[2019-09-26 11:08] k9uma commented on #1863
Is there an official standard description available?
Are we lifting it from [this](https://v1.vuepress.vuejs.org/)

[2019-09-26 13:07] lisniuse opened #1895 "How to set the split size of a block of my js file."
I found that there are too many js files split, and I want to merge some. And then reduce some requests.

我发现拆分出来的js文件太多，我想合并一些，减少请求。

[2019-09-26 15:56] meteorlxy commented on #1895
Try [vuepress-plugin-named-chunks](https://vuepress.github.io/plugins/named-chunks)

[2019-09-27 15:53] rv-bsnyder commented on #1057
Has there been any movement on this?

[2019-09-28 02:07] uwings opened #1896 "siderBar support html tag and font icons?"
hi guys , before i user vuepress , i use docsify write articles.
know i like vuepress more
but there is some thing i cant handle it , maybe because i just not an coder ,im an designer , so more and more thing i cant do it by my self.  pls help me , thanks a lot

1, sidebar  html tag， i want use spacial tag(class) or font icon
**want :**
![](https://static.uxlib.net/WX20190928-095054-2x.png)

![img

[2019-09-28 18:29] tomhrtly opened #1897 "Vue Router parameters empty for Markdown pages"
- [x] I confirm that this is an issue rather than a question.

After setting up a fresh VuePress installation, when adding markdown files in the docs directory as instructed here and opening the Vue dev console in Chrome, the parameters are not shown in the `params` object.

## Bug report

#### Steps to reproduce

1. Follow the instructions on the VuePress documentation page "Getting Started" to c

[2019-09-29 01:02] haochenli commented on #1896
The thing gets complicated when you want to customize everything.
So from my understanding, you can use `vuepress eject` command to extract the theme. Here is the [link](https://vuepress.vuejs.org/theme/default-theme-config.html#custom-page-class). Seems you want to custom your sidebar, so after `vuepress eject`, go to `/.vuepress/theme/components/Sidebar.vue`, and then customize the part in the c

[2019-09-29 04:32] futagoza commented on #78
Is there any progress on this?

[2019-09-29 10:12] uwings opened #1898 "page nav link broken , when use external link."
if in config , i user
relative link, like  `target.html` ,it's not working .  but when i use full link `https://a.com/target.html`
in page nav `prev` , `next` link , i got `http://a.com/currentdir/https://a.com/target.html` how can i fix it?

[2019-09-29 11:35] kefranabg commented on #1898
Hi @uwings,

Why are you trying to target a `html` file ?
We need more context, please provide a reproduction link so we can help you.

[2019-09-30 01:49] uwings commented on #1898
I mean sometimes i need link an external link in sidebar.   so this link end with html, or start with http header.
about why i want use external link, i think:

1. I'm not an dev guys, I'm an designer , just interesting in html , css, program thing. but need more study. so icant use vue codes in vuepress , i just use it as an tool.  like gitbook .
2. Sometimes  the Docment(vuepress project) refere

[2019-09-30 11:57] kefranabg commented on #1898
`Prev` or `Next` link are not supposed to target external urls. These are used to link next or previous pages of your VuePress app. You can add external link on the main navbar or in the markdown content. Feel free to reopen this issue if it did not solve your problem.

[2019-09-30 11:57] #1898 closed

[2019-09-30 12:14] kefranabg commented on #1863
We can create a short description of VuePress from [this](https://vuepress.vuejs.org/guide/)

[2019-09-30 12:33] kefranabg commented on #1893
This is a good idea, but I think we should find a way to make it work on all browsers, not just Firefox.

[2019-09-30 12:37] kefranabg commented on #1896
As @haochenli you can [extend the default theme](https://vuepress.vuejs.org/theme/inheritance.html) to customize this.

[2019-09-30 12:37] #1896 closed

[2019-09-30 12:45] f3ltron commented on #1568
hello i am closing this issue as we are not using next. Please consider to not install vuepress globally but in project instead

[2019-09-30 12:45] #1568 closed

[2019-09-30 12:49] uwings commented on #1898
i know that.  external url can use in sidebar and nav bar , I mean , if support external  in sidebar and bav bar why  can't support at page nav?   is there a conflict？

[2019-09-30 13:47] PeppeL-G commented on #1893
I agree that identical cross-browser experience is better, but I don't know how to achieve that without using client-side JS. But maybe using the CSS property `user-select` could work just as well (clicking just once to select it):

https://jsfiddle.net/w4jnqrfp/

https://caniuse.com/#feat=user-select-none

[2019-09-30 13:52] PeppeL-G commented on #1893
My bad, `user-select: all` does not seem to have much browser support yet:

https://caniuse.com/#feat=mdn-css_properties_user-select_all

[2019-09-30 22:45] timaschew commented on #1548
Just use a shadow DOM, then your styles will be isolated, they can only be overwritten by variables, which you can control by giving a unique name.

[2019-09-30 22:49] larionov commented on #1548
@timaschew not everybody can use shadow dom, for example it will not work if you need to ssr/prerender the components.

[2019-09-30 22:51] larionov commented on #1548
@f3ltron how do you demonstrate breakpoints without iframes?

[2019-09-30 22:52] f3ltron commented on #1548
I heard about something will be implemented in this way but probably as shadow dom not really good supported

[2019-09-30 22:53] f3ltron commented on #1548
Before using iframe we should find if there is any better way to do that ^^

[2019-10-01 11:43] kefranabg commented on #1884
What kind of transition are you thinking about?

[2019-10-01 12:52] ivandevp commented on #1863
I can help with this if nobody else is looking at it.

[2019-10-01 13:02] ivandevp commented on #1872
Can I work on this?

[2019-10-01 13:03] kefranabg commented on #1872
@ivandevp sure !

[2019-10-01 17:58] lesliecdubs opened #1903 "Cannot access page headers that are not h2 or h3"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Currently, header levels are hard-coded in [VuePress core](https://github.com/vuejs/vuepress/blob/543fd6c8534cd13af5aa97d050748dd916f67ce9/packages/%40vuepress/core/lib/node/Page.js#L117).

This limits our ability to access header levels beyond `h3`.

Our use case for this is a custom table of contents component that we a

[2019-10-02 11:19] kefranabg commented on #1903
Hi @lesliecdubs,

Thanks for the report.

If I correctly understand, the only thing you need is including `h4` headers data in `$page.headers` so you can display these levels on your table of contents right?

[2019-10-02 15:32] Shanery commented on #1897
I can confirm that is occurring.

`[Vue warn]: Unknown custom element: <v-565e8225> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

My theory is that dynamic component imports are not working correctly.

[2019-10-02 15:43] Shanery commented on #1897
@tomhrtly

I played around and realized the issue was with my browser. Firefox didn't like it while Chrome had no issues. Should look into why this doesn't work on firefox.

[2019-10-02 16:27] #1897 closed

[2019-10-02 17:10] lacexd commented on #566
I'd love to work on this one!

[2019-10-02 18:17] shortdiv commented on #1903
Jumping in here, since @lesliecdubs and I worked on this, yeah, that would solve the problem! The other option would be pulling in the desired headers from the vuepress config.

[2019-10-02 18:29] tomhrtly commented on #1897
@kefranabg So is there no way of extracting `docs`, `test` or `directory` as a string from my route? I'm sure this is possible when creating a standard SPA with Vue Router.

[2019-10-02 20:55] jpvajda opened #1905 "After upgrading to Vuepress 1.1.0 getting Error: Content placeholder not found in template"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I've gone ahead an upgraded my vuepress site from `0.14.8` to`1.1.0`. I've also upgrade the default theme from `1.0.0-alpha.0` to `1.1.0` However when attempting to build the site I am getting the  following error:

[code]

I've gone ahead and read all the documentation on this upgrade to 1.0+  and can't seem to find out

[2019-10-02 22:58] jpvajda commented on #1905
I did an upgrade from 1.04 to 1.1.0 to see if that would resolve the issue, and it did not.

[2019-10-03 12:21] kefranabg commented on #1905
Is it working if you do a migration from `0.14.8` to `1.0.4` ?

[2019-10-03 12:39] kefranabg commented on #1866
Hi @abishekrsrikaanth

Such a feature would be very specific to your need. If we add a new config option every time a user needs something, VuePress would become very complex 😕(This is my opinion) @ulivz @f3ltron What do you think?

However you can use [this](https://vuepress.vuejs.org/theme/inheritance.html#motivation) for more customization.

[2019-10-03 14:38] atilacamurca opened #1908 "NPM - Unable to find a readme for vuepress@1.1.0"
The NPM page for vuepress is not able to find a README file <https://www.npmjs.com/package/vuepress>.

As we can see here <https://unpkg.com/browse/vuepress@1.1.0/>, the file is, indeed, not present.

[2019-10-03 15:05] kefranabg commented on #1908
Yep, the `vuepress` package does not contains any README.

[2019-10-03 15:06] nbgmtin commented on #1536
The same issue +1

[2019-10-03 15:24] jpvajda commented on #1905
@kefranabg I had the  exact same problem with the 1.0.4 version.

[2019-10-03 15:31] kristiyan-ASW-G-08 commented on #1908
I'd like to take this one.

[2019-10-03 15:35] kristiyan-ASW-G-08 commented on #1908
What should the README contain?

[2019-10-03 16:14] yongjun21 opened #1909 "Line number overwrite at code block or page level"
## Feature request

#### What problem does this feature solve?

While the `markdown.lineNumber` config is useful, sometimes we want to overwrite specific code block or pages. For example line number is useful for demo code especially if we want to highlight specific lines. But in other case like typescript definition, we might want to hide the line numbers.

#### What does the proposed API look li

[2019-10-03 21:48] ivandevp commented on #1872
Hey guys! I've created a PR with the changes I'm making for this issue (#1910). I want your suggestions on this. By this moment, I've added the logger to show an error in the building process but, it won't stop the process. I haven't found a way to throw an error in other plugins used in the codebase, so I would like to know if you have an idea of how it should be. Let me know your thoughts, pleas

[2019-10-03 23:39] f3ltron commented on #1866
if you just want to see nothing you can put an empty string for now. I know the html is here but you will not have text

[2019-10-04 02:05] cnguu opened #1911 "How to modify the <Content />?"
I want to modify the contents of <Content />.

For example, I want to modify the links to all the images in <Content />, how can I do this? Is there an interface that can be done?

[2019-10-04 15:10] #1908 closed

[2019-10-04 15:21] ulivz commented on #1911
`<Content>` is a Vue component which renders the compilation output at build time. so you cannot modify it directly at runtime.

You have following approaches:

1. Modify the source markdown content: [Plugin API > extendPageData](https://v1.vuepress.vuejs.org/plugin/option-api.html#extendpagedata);
2. Apply extra markdown-it plugins to extend the internal markdown compiler: [Plugin API

Note that

[2019-10-04 15:21] #1911 closed

[2019-10-04 15:25] ulivz commented on #1866
As @kefranabg said, you can use [Theme Inheritance](https://vuepress.vuejs.org/theme/inheritance.html) to custom the `<Navbar />` component.

[2019-10-04 15:25] #1866 closed

[2019-10-04 15:44] songololo commented on #1865
I think some sort of more comprehensive distillation of theming in VuePress would be really useful so that it is easier to override with custom theming (without a whole bunch of `!important` statements!)

css variables sound like a step in the right direction.

[2019-10-04 15:48] ulivz commented on #1909
Contribution welcome!

You can pass the frontmatter setting via the 2nd parameter(`env` ) in the render method in `markdown-loader`:

https://github.com/vuejs/vuepress/blob/d858e432d4d1e910451643cd18eed15db0f03922/packages/%40vuepress/markdown-loader/index.js#L74-L78

Consuming this `env` at the internal `lineNumbers` plugin.

[2019-10-04 15:50] ulivz commented on #1905
@jpvajda Please create a minimal reproduction repo, thanks.

[2019-10-04 15:56] yongjun21 commented on #1909
In the meanwhile I'm using a CSS overwrite targeting `language-ts` specifically

[2019-10-04 21:53] jpvajda commented on #1905
@ulivz will do. once i have the repo reproduced I'll link to it in this issue. Thank you!

[2019-10-05 05:03] ulivz commented on #1863
Fixed at #1912

[2019-10-05 05:03] #1863 closed

[2019-10-05 07:58] zq99299 opened #1913 "nested sidebar will not work，Clicking on the menu will not expand"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- repository：https://github.com/zq99299/linux-tutorial.git

[code]

Through the nginx deployment, or https://zq99299.github.io/linux-tutorial/, nested sidebar will not work，Clicking on the menu will not expand

通过 nginx 部署，或则使用 GitPage https://zq99299.github.io/linux-tutorial/， 嵌套的侧边栏无法工作，点击菜单无法展

[2019-10-05 14:21] xxholly32 opened #1914 "chainwebpack overwrite in build mode"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

clone vuepress repo

add two log in `createBaseconfig.js` and `config.js`

[code]

run build
[code]

#### What is expected?

chain-webpack should be run createBaseconfig.js and config.js

#### What is actually happening?

![image](https://user-images.githubusercontent.com/6063358/66256117-4bea6b0

[2019-10-05 15:50] JimmyVV commented on #1560
Recently, I used node workers to speed up the compiling process. the total time decrease from 10min to 2min. Maybe this is another way to improve the compiling procedure, by worker thread.

[2019-10-05 15:53] kefranabg commented on #1560
@JimmyVV maybe you could share your work?

[2019-10-06 02:45] xxholly32 commented on #1914
my bad 😄

[2019-10-06 02:45] #1914 closed

[2019-10-06 07:47] cnguu commented on #1911
@ulivz

I try to modify the source markdown content, but it doesn't work.

[code]

[2019-10-06 09:46] ludanxer commented on #1913
Hi,

**Renaming all of your `index.md` files to `README.md`** seemsto solve the problem.

See my [fork](https://github.com/ludanxer/linux-tutorial) and [deployed demo](https://linux-tutorial.netlify.com).

BTW, I don't get it why you overwrite the variable `dest` to `build/.vuepress/dist`. Simply ignore it, and the files will be built into `docs/.vuepress/dist`.

[2019-10-06 09:50] zq99299 commented on #1913
Thank you, I will try it.
I don't want to submit this directory `docs/.vuepress/dist ` to git , so I changed it to the outside

[2019-10-06 09:52] ludanxer commented on #1913
Cool.

I mentioned it because it took me while to find it...

[2019-10-06 09:55] zq99299 commented on #1913
Thank you again for helping me solve this thorny problem.
Never understood when to use index.md? When do you use README.md?

[2019-10-06 10:11] ludanxer commented on #1913
I think you should always use `README.md` instead of `index.md`, see [default-page-routing](https://vuepress.vuejs.org/guide/directory-structure.html#default-page-routing) for more detail.

[2019-10-06 12:51] andymed-jlp commented on #111
Hi @CrossEye & @rufuspollock - I've got it working with the backtick formatting. It's a little hacky but works for me. Please let me know how you get on with it. :-)

[code]

[2019-10-06 14:29] CrossEye commented on #111
Thank you @andymed-jlp!

I expect to be starting a new vuepress site soon and I will definitely check it out.

I don't recall the vuepress model well, but would it work to put that `<mermaid/>` tag inside some common include (header/footer/whatever?)

[2019-10-06 15:45] PeppeL-G commented on #1491
I'm not trying to be ungrateful (I can't complain about free stuff), but I've waited for this way too long now and can't wait anymore. Instead, I've come up with my own solution, which simply looks for all files in the `src` folder (recursively) that does not have the file extension `.md` and copies them to the same place in the `src/.vuepress/public` folder when the development server starts (e.g

[2019-10-06 15:59] andymed-jlp commented on #111
You're very welcome - if you hit any problems when you start the new site, just ping me. Thanks for the idea of a header/footer - that sounds like that would work!

[2019-10-06 16:16] kefranabg commented on #1872
Hi @ivandevp, let's discuss this in your PR 😉

[2019-10-06 16:17] zq99299 commented on #1913
index.md files to README.md

Already tried, still can't expand the menu

I don't know what caused it.

[2019-10-06 17:22] hrobertson commented on #79
I just started migrating from Hugo to Vuepress as I'm turning my previously 100% static site into a Vue SPA and have hit this stumbling block.

I only want images that are actually referenced by a page (or style) to be included in the output and I want my images processed by webpack (resizing etc), so putting them in `.vuepress/public` isn't an option.

[2019-10-06 18:11] Janglee123 commented on #1893
I would like to work on this.

[2019-10-07 02:12] ludanxer commented on #1913
You forget [this one](https://github.com/zq99299/linux-tutorial/blob/master/docs/tutorial-basis/index.md)

[2019-10-07 02:20] zq99299 commented on #1913
All modified

[2019-10-07 06:11] ludanxer commented on #1913
Sorry, my bad

I always remove the `--debug` flag in your `package.json` to faster the build and never realize this is the problem

Remove `--debug` while you deploy and everything seem to be fine

---

This only seems to happen when build with `--debug`

Minimal Reproduction:
- [Repo](https://github.com/ludanxer/vuepress-unexpand)
- [Demo](https://vuepress-unexpand.netlify.com/)

[2019-10-07 10:10] zq99299 commented on #1913
thank you very much,

Is the problem of `--debug`

[2019-10-07 10:10] #1913 closed

[2019-10-07 13:20] cedaesca opened #1921 "Four spaces codeblock is rendered different than three backsticks codeblock on small devices"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Three backsticks codeblock takes full container width while four spaces codeblock has some space on left and right.

[Check this image](https://i.imgur.com/1i98Qkv.png)

#### Steps to reproduce

1) Create a three backsticks codeblock
2) Create a four spaces codeblock
3) Change your browser screen size or access through p

[2019-10-07 13:24] fangbinwei opened #1922 "Document about permalinks doesn't explain the template variables clearly"
## Feature request

#### What problem does this feature solve?
[The document about permalinks](https://vuepress.vuejs.org/guide/permalinks.html#template-variables) doesn't explain the variable like `year,month,day` clearly. if we don't provide `date`, permalink will be like `/1970/01/01/doc`

#### What does the proposed API look like?
It will be better if these variables can be further explained

[2019-10-07 14:03] fangbinwei opened #1923 "Permalinks can provide the default value of template variable like year,month,day"
## Feature request

#### What problem does this feature solve?
Provide reasonable default value for template variable such as `year, month, day`
#### What does the proposed API look like?
null
#### How should this be implemented in your opinion?
like what [@vuepres/plugin-last-updated](https://github.com/vuejs/vuepress/blob/fa8a41d148d993e0f5d73cfa84a1b6a601126eb8/packages/%40vuepress/plugin-last-

[2019-10-07 14:22] Mister-Hope commented on #1773
I understand this part. But how could us hanle the logic, make Global components listen the url and change with it?

Could you give me an example or thought?

[2019-10-07 14:28] Mister-Hope commented on #1773
Oh I just remember the `enhanceApp.js`, I will try to puta pub/sub module on the Vue instance, it may works.

[2019-10-07 15:16] Mister-Hope commented on #1773
I solve it by put a pub/sub module on the Vue prototype and emit it on `router.beforeResolve`, since there isn't a Vue instance in `enhancedApp.js`. But I still wonder if there is a way to use the pub/ sub module in Vue instead if importing one.

[2019-10-08 01:21] jpvajda commented on #1905
@ulivz here is the public repo reproduced. I stripped out a lot of content specific files as well as the /dist folder.   https://gitlab.com/johnpvajda/vuepress-support

[2019-10-08 08:24] MartinMuzatko commented on #1185
I think the entire `module.exports` of the config.js file should be accepting an async function instead. Then we wouldn't have to check for every single object property.

Changing this would also be easy.. Doing a PR.

[2019-10-08 13:04] bencodezen commented on #1847
Great suggestion @meteorlxy! Will add that to the issue for when we work on it.

[2019-10-08 13:07] bencodezen opened #1927 "Syntax highlighting for Markdown files that have Vue components"
## Feature request

Users should have syntax highlighting for Vue components in Markdown files.

#### What problem does this feature solve?

It improves developer experience.

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

For now, a VS Code extension perhaps.

#### Are you willing to work on this yourself?

[2019-10-08 14:46] llccing commented on #1286
我遇到了同样的问题，我升级了vuepress到1.x，也在/docs/config.js中配置了plugins，但是仍然没有效果。

[这里是版本库](https://github.com/llccing/FrontEnd)

[这是最新的构建版本](https://llccing.github.io/FrontEnd/)

请帮忙看下，谢谢

[2019-10-08 18:03] #1700 closed

[2019-10-08 18:21] PeppeL-G commented on #1927
VS Code supports syntax highlighting for HTML code in markdown files? Are you talking about implementing Vue components directly in a markdown file?

[2019-10-08 23:30] jpvajda commented on #1905
I figured out how to fix this, so it can be closed, but here is what I needed to do, just remove the template directory from the project. `rm -rf docs/.vuepress/templates`

[2019-10-08 23:30] #1905 closed

[2019-10-09 00:39] ProTip opened #1929 "Search "plugin" does not include project base in url"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

* Build the docs with a base other than `/`: ie `/docs/`

#### What is expected?
Search links will include the base and link to the appropriate pages:
`domain.com/docs/welcome.html`

#### What is actually happening?
Search links do not include the base and link to the page on the domain root:
`do

[2019-10-09 04:05] wallslide opened #1930 "Default theme's smooth scrolling feature not working"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Here is the link to the repository with the issue --> https://github.com/appsocially/upil-site
The corresponding vuepress site is at https://upil.org/

I added the `smoothScroll` option to `config.js` [here](https://github.com/appsocially/upil-site/blob/master/docs/.vuepress/config.js#L9) as is d

[2019-10-09 08:40] kefranabg commented on #1930
Hi @wallslide,

Actually `smoothScroll` feature was not released yet... It will be available in the next version of VuePress.

Our doc is always in bit ahead of releases 😅We need to fix this.

[2019-10-09 08:47] kefranabg opened #1931 "Improve documentation deployment workflow"
## Feature request

Deploy documentation to https://vuepress.vuejs.org/ only when we do a new release. For now, documentation is deployed each time we merge PR on master.

#### Describe the problem

User try to use feature that has not been release yet.

#### How should this be implemented in your opinion?

Improve release script with doc deployment script and disable documentation auto deployment

[2019-10-09 08:56] aliartiza75 commented on #1671
@xr0master waiting for your response!

[2019-10-09 09:18] Mister-Hope opened #1932 "Default theme: Navbar Logo Docs Missing"
See below

[2019-10-09 09:25] Mister-Hope commented on #1932
It can not be hot loaded, I clear the cache and rerun the dev server and it's working now. I hope the official docs can add a description or at least metion it. It's a cool feature.

I'll make a PR later.

[2019-10-09 09:28] Mister-Hope commented on #1930
HHH I found this question ,too.

Maybe you can release a website called `beta-vuepress.vuejs.com`  and merge your ahead Doc changes when new versin release?

[2019-10-09 09:30] Mister-Hope commented on #1893
But it;s already good enough, much better then our situation now.

[2019-10-09 09:35] Mister-Hope commented on #1865
Wow, I just saw this, I built my own blog with this feature.
My blog https://mrhope.site
My source code: https://github.com/Mister-Hope/blog

I think it is not hard to make a plugin.
If you need any help, just call me.

[2019-10-09 09:40] kefranabg commented on #1930
@Mister-Hope I described something that might be the solution [here](https://github.com/vuejs/vuepress/issues/1931)

[2019-10-09 10:18] Mister-Hope commented on #1865
I did not see any changes on the styles file?
Are you still working on with it? @vinayakkulkarni
I can sperate my files to release a plugin.
Since the plugin cannot access style files directly, my thought is to inject a style tag to the document when the switch component is mounted(or beforemount).

[2019-10-09 10:20] Mister-Hope commented on #1865
If you would like to make this feature with the default theme(I think many people would like to use it), then it's easier.

[2019-10-09 10:25] vinayakkulkarni commented on #1865
@Mister-Hope : Do check this out: https://github.com/vinayakkulkarni/vuepress/tree/feat/dark-theme, I am working on adding the dark theme. Need to integrate the colour palette used by Akruym in dev-tool dark theme.

[2019-10-09 10:42] Mister-Hope commented on #1865
I checked this, so I am saying I did not see any changes on the style file.

So Akruym is dealing with the style?

[2019-10-09 10:46] Mister-Hope commented on #1865
![image](https://user-images.githubusercontent.com/33315834/66474898-c9b3bc80-eac4-11e9-92cd-53025c51081a.png)
I think it is not a complex work, since the stylus file in Vuepress is very ordered.
Can't wait to see the feature offical supported

[2019-10-09 16:29] kefranabg commented on #1903
See #1730

[2019-10-10 01:15] wallslide commented on #1930
When I searched for related issues first, I found this one https://github.com/vuejs/vuepress/issues/567 and saw that it resulted in a merged pr, so I got thrown off by that :)

[2019-10-10 08:58] MasterShu commented on #1861
It would be better have more choice, I hope VuePress supported Asciidoctor too.

[2019-10-10 10:33] THARAKS opened #1935 "Vue press not loading the css and js files on building the project"
I am using the latest version

- [ ] I confirm that this is an issue rather than a question.

you can find the complete issue on this link
https://stackoverflow.com/questions/57965012/vuepress-builds-broken-html-with-invalid-adresses-to-assets

please give me a solution
## Bug report

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information

[2019-10-10 14:47] Akimotorakiyu commented on #699
@ulivz @Mister-Hope After a year ... gu gu gu 咕咕咕

[2019-10-10 14:51] Mister-Hope commented on #699
GU

[2019-10-10 15:49] bencodezen commented on #1927
@PeppeL-G Hmm.. You're totally right. When I filed this issue, I thought it wasn't highlighting, but I just checked and it's fine for me. Thanks for the comment!

[2019-10-10 15:49] #1927 closed

[2019-10-10 16:04] PeppeL-G commented on #1935
The paths to the CSS and JS files in `index.html` are absolute (starts with `/`), so viewing `index.html` using the file protocol doesn't work (you need to host it on a server so the HTTP protocol are used).

[2019-10-11 05:38] THARAKS commented on #1935
I do not want to host it on any server , i want to load the documentation as a static  files, is that not possible

[2019-10-11 05:47] llccing opened #1936 "google analytics not works"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
i use the lastest vuepress and "@vuepress/plugin-google-analytics"，write plugins config in .vuepress/config.js file , and deploy by Travis,  content initial at project gh-pages branch.

#### What is expected?

#### What is actually happening?
google analytics not works
#### Other relevant informat

[2019-10-11 05:48] llccing commented on #1936
[这里是版本库](https://github.com/llccing/FrontEnd)

[这是最新的构建版本](https://llccing.github.io/FrontEnd/)

有在这里说明：https://github.com/vuejs/vuepress/issues/1286#issuecomment-539548676

[2019-10-11 06:06] PeppeL-G commented on #1935
Loading the files on your own computer using the file protocol doesn't work, the files must be loaded using the HTTP protocol. But I guess you can simply use the npm package [http-server](https://www.npmjs.com/package/http-server) (or similar) to serve the file over HTTP on your own computer.

[2019-10-11 06:55] HackettYu opened #1937 "my file is named of !!.md, vuepress build error"
- [ X ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my VuePress project:

[code]

## version

[code]

## solution

change to `fuck.md`

[2019-10-11 07:36] Shrishb commented on #1935
I have deployed it on netlify, but face the same issue there as well . https://technotes-543930.netlify.com/

[2019-10-11 07:48] PeppeL-G commented on #1935
@Shrishb You have set [the `base` config](https://vuepress.vuejs.org/config/#base) to `/technotes/`? You shouldn't do that, you host your VuePress app at the root path of https://technotes-543930.netlify.com/.

[2019-10-11 07:50] ludanxer commented on #1935
I think @PeppeL-G  is right.  See [relative vue-cli document](https://cli.vuejs.org/guide/deployment.html#previewing-locally)

If you prefer python and have python3 installed in your path, the code below should also work
[code]

[2019-10-11 11:01] #1937 closed

[2019-10-11 13:32] Mister-Hope opened #1938 "feat wanted: Allow to modify themeConfig in theme"
Can a theme modify `themeConfig` ?

More certain question is how can a theme pass a modified themeConfig to the parent theme which it is extending?

## Reason

If a theme extends from another theme, it may want to pass some configuarion which the parent theme asks, but now I don't think there is a way to do that.

If I can pass some options to the parent theme to let a feature work well, I dont th

[2019-10-11 15:21] Mister-Hope commented on #1938
Hacked it by:

[code]

And

[code]

[2019-10-11 15:21] #1938 closed

[2019-10-11 15:22] Mister-Hope commented on #1937
hhhhhh

[2019-10-11 16:16] GitHub-Mike commented on #1738
PowerShell have a security problem here with vuepress.ps1.

Sorry, output in german.

[code]

CMD does not have this problem.

[2019-10-11 21:03] smrbts commented on #1018
Any word from the Vuepress team if this is something they have on their radar? Really enjoy using the default theme for our docs, but the lack of versioning is really going to be a problem moving into the future.

[2019-10-11 21:49] #1185 closed

[2019-10-11 21:57] ulivz commented on #1930
@kefranabg We can let each new feature have a compatibility badge, e.g.

- input:

[code]

- output:

![image](https://user-images.githubusercontent.com/23133919/66687390-72c50780-ecbd-11e9-8535-781878a39cfb.png)

Maybe it should be listed in the contribution guide and pull request template.

// cc @f3ltron @bencodezen @meteorlxy

[2019-10-11 22:09] #1872 closed

[2019-10-12 06:24] meteorlxy commented on #1931
Another suggestion is to use lerna "independent" mode.

`@vuepress/core` and `@vuepress/theme-default` (and plugin pkgs) are decoupled since 1.0, so they are not necessary to (maybe should not to 🤔 ) keep the same version.

[2019-10-12 07:21] kefranabg commented on #1930
@ulivz I think using badge is a good idea to solve this 👍

[2019-10-12 08:14] kefranabg opened #1940 "Allow badge color override from palette.styl"
#  Feature request

Allow badge color override from palette.styl on default theme

See #1472 for v0

[2019-10-12 11:21] gevera commented on #1884
Fade in and out

[2019-10-12 12:07] Mister-Hope opened #1942 "Plugin Debug Help wanted"
After update to version 1.2.0, I removed `smooth-scroll` from my own theme, and add `    smoothScroll: true` in my themeConfig, and I saw an error.

[code]

while the smoth scroll featrue doesn't work.

This error will disappear after I rolled back to V1.1.0, and enable it by my own.

I am curious about it.  I think the reason is that I have build or wrote something conflict with it.

---

Now I a

[2019-10-12 12:19] kefranabg commented on #1942
I'll close this issue as it's not a bug related to VuePress.

From what you're saying, your issue is related to your own development. Please open an issue to your own repository instead of VuePress.

If you can't figure out what's wrong with your repos. Feel free to reopen an issue if you're sure that the problem is related to VuePress

[2019-10-12 12:19] #1942 closed

[2019-10-12 12:20] moweng commented on #1661
how do you deal with it?

[2019-10-12 12:24] Mister-Hope commented on #1942
I think it is , at least there are conflicts, whatever I wrote, it's the smoth-scroll plugin falls with an error hint and no more details. I just want to ask how to debug  to find out with line in the smoth-scroll plugin triggeres this error

[2019-10-12 13:00] kefranabg commented on #1942
Are you talking about [this plugin](https://github.com/vuepress/vuepress-plugin-smooth-scroll)? If it's the case, just remove it from your plugin list and just use `smoothScroll` from VuePress config.

[2019-10-12 13:03] Mister-Hope commented on #1942
VuePress default theme is using this plugin to provide smooth scroll bro. :cry:
It seems that you are not familar with this part

I spent a couple of hours, I create serveral repos, and I found something.

[2019-10-12 13:10] Mister-Hope commented on #1942
It seems sometime npm will generate a different tree, and put plugin-smooth-scroll under theme-default folder. That 100% cause the error I mentioned.

But the strange thing is when I run `npm list` , plugin-smooth-scroll is only under theme-default, with no other version in the project.

This even happens when I removed my theme out of the package.json, so alt least there are some problems with th

[2019-10-12 13:30] Mister-Hope commented on #1942
![image](https://user-images.githubusercontent.com/33315834/66702161-2e764d80-ed37-11e9-8888-f56141231902.png)
![image](https://user-images.githubusercontent.com/33315834/66702166-3b933c80-ed37-11e9-8943-f5d42ce748e6.png)

I really messed up,  I use the same package.json and run `npm install` in two folders, and I got a different result. The left one will cause the error I mentioned while the righ

[2019-10-12 13:31] Mister-Hope commented on #1942
Would you mind I open a new issue about this?

[2019-10-12 13:43] kefranabg commented on #1942
Whoops, indeed it's using this plugin, I missed that 😉 Could you open a new clean issue with the informations from your latest comments ? Thank you.

[2019-10-12 13:45] Mister-Hope commented on #1942
No problem. 😃 I just want someone give me a hand with it.

[2019-10-12 13:47] kefranabg commented on #1942
Also it would be great if you could provide a reproduction repos link

[2019-10-12 13:48] Mister-Hope commented on #1942
Sure, I am trying to make one

[2019-10-12 13:58] Mister-Hope opened #1943 "Error in new Smooth scroll feature"
- [x] I confirm that this is an issue rather than a question.

## Bug report

After update to version 1.2.0,  adding  `smoothScroll: true` in my themeConfig, got  an error.

[code]

while the smoth scroll featrue doesn't work.

I was using it when vuepress@1.1.0, I enable it by my own, and there are no errors and the feature works well.

#### Steps to reproduce

Figuring out now. Reson listed belo

[2019-10-12 16:54] favoyang commented on #1880
This more like a feature request, and closed due to missing further feedbacks.

[2019-10-12 16:54] #1880 closed

[2019-10-12 17:03] favoyang opened #1944 "vuepress build with `--debug` flag breaks doc search"
- [x] I confirm that this is an issue rather than a question.

## Bug report
vuepress build with "--debug" flag breaks doc search, and perhaps other features.

#### Steps to reproduce

1) create a project with docs folder.
2) `yarn add -D vuepress serve`
3) add a few random markdown files into the docs folder.
4) `vuepress build docs && serve docs/.vuepress/dist` works.
5) `vuepress build docs --d

[2019-10-12 21:55] tomcam commented on #1801
I'd be happy to write such a tutorial! Here's my suggestion.

- Vuepress default theme tutorial: creating your home page
- Create and link to more pages
- Handling graphic asses
- Formatting characters in Markdown
- Lines, lists, and blocks of text in Markdown
- Table syntax in Markdown
- Displaying code in Markdown
- Site configuration: config.js

[2019-10-12 22:00] tomcam commented on #1610
I believe you need to :

- Set `base`, not `docsDir`, to `/docs/`.
- Ensure that the Settings page for your GitHub reop sets Source to **master branch /docs folder**

Also remember of course that the repo is private but the GitHub Pages rendering will be public.

[2019-10-13 01:40] ludanxer commented on #1944
Build with `--debug` will also keep menus in the sidebar from expanding, see #1913

---

Reproduction:
- [Repo](https://github.com/ludanxer/vuepress-support)
- [Demo](https://vuepress-support.netlify.com/demo/)

[2019-10-13 03:54] tomcam commented on #1801
I've put a first draft of the tutorial on [GitHub](https://github.com/tomcam/vuepress-tutorial-proposal).

[2019-10-13 04:15] ludanxer commented on #1801
Happy to work on the Chinese transition

[2019-10-13 06:04] tomcam commented on #1801
Thanks tons, [ludanxer](https://github.com/ludanxer)! I hope the powers that be approve it.

[2019-10-13 13:59] fangbinwei opened #1946 "Failed to match router path contains encoded string when using permalinks"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

[codesandbox link](https://codesandbox.io/embed/vuepress-encodedpath-permalink-vruxe)

file tree like below
[code]
I add a nav (/测试) , and I can route to the page successfully.

However, If I set permalink (e.g. `/test`) to the README.md, vue-router failed to match the page.

#### What is expecte

[2019-10-14 02:53] webees opened #1948 "After switching languages, the drop-down box does not disappear."
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
Visit URL: https://vuepress.vuejs.org

After switching languages, the drop-down box does not disappear.

![image](https://user-images.githubusercontent.com/5155291/66726985-f83be980-ee6e-11e9-874e-33d324607a42.png)

#### Other relevant information

Google Chrome v76.0.3809.132

Try to fix:，remove`

[2019-10-14 03:34] roeeyn commented on #1893
May it be an option adding some button in the code box, that adds the code in the clipboard by just clicking it?

[2019-10-14 03:41] roeeyn commented on #1909
I'd love to contribute in this feature! ✨  Can I have this assigned?

[2019-10-14 03:54] Minhsh opened #1949 "Exclude/include texts in Markdown via vuepress"
Hi, I am working for a project that has different versions and likewise its documentation has different versions (with minor differences). We want to maintain single source Markdown and generate different html output to reduce the maintenance efforts. So, I am wondering if this is achievable with vuepress? Specifically is it possible to show/hide some texts in the html output generated by vuepress

[2019-10-14 05:24] softwarewright opened #1950 "Default Theme Slots do not allow customization for the sidebar or page"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Attempt to override the sidebar or page top/bottom in the theme for a project

- Create an index.js file in the theme directory
[code]
- Creatine the layout file in the theme directory

[code]
#### What is expected?

The using the slots should update the content on the sidebar and the page.

####

[2019-10-14 05:43] softwarewright commented on #1950
I've started a PR here with the fixes, I would love feedback since this is my first PR against the project https://github.com/vuejs/vuepress/pull/1951

[2019-10-14 07:29] kefranabg commented on #1909
Sure @roeeyn

[2019-10-14 07:33] PeppeL-G commented on #1893
@roeeyn I think that would work good for block code consisting of multiple lines, but I don't think it would work good for inline code, where there could be many code pieces on the same line.

`user-select: all` is the best solution I can think of at the moment. Can we get an official approvement of implementing it like that? If so, anyone is welcome to do it.

[2019-10-14 08:44] talkor opened #1953 "Broken link to CONTRIBUTING.md in README.me"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. Go to README.md.
2. Click on `Contribute` under "Code Contributors".

#### What is expected?

Should open the `CONTRIBUTING.md` page.

#### What is actually happening?

Page doesn't exists (404).

#### Other relevant information

- Output of `npx vuepress info` in my VuePress project:

[2019-10-14 09:34] kefranabg commented on #1953
Fixed in #1954

[2019-10-14 09:34] #1953 closed

[2019-10-14 09:55] kefranabg commented on #1943
@Mister-Hope could you provide a minimal reproduction repos?

[2019-10-14 10:04] kefranabg commented on #1949
If you're talking about a versioning mechanism, this is a duplicate of #1018 .

FIY you can also customize VuePress with [theme inheritance](https://vuepress.vuejs.org/theme/inheritance.html). You can also use vue syntax within your markdown files, that combined with [`page` & `siteConfig` data](https://vuepress.vuejs.org/guide/using-vue.html#templating) maybe you could solve your problem.

Feel f

[2019-10-14 10:04] #1949 closed

[2019-10-14 10:09] kefranabg commented on #1943
@meteorlxy any idea on this one?

[2019-10-14 10:12] meteorlxy commented on #1943
@kefranabg

He is using theme extending. This issue was caused by the wrong deps tree generated by npm. See https://github.com/vuepress/vuepress-community/issues/1#issuecomment-541422143

[2019-10-14 10:16] kefranabg commented on #1893
`73%` support is better than nothing I guess! Contributions welcome!

[2019-10-14 14:38] ludanxer opened #1955 "Allow set `base` from CLI options when build"
## Feature request

I came across the [relative question](https://stackoverflow.com/questions/58369818/how-to-change-the-build-shell-in-vuepress-to-switch-base-between-and-some) on StackOverflow, and found a solution in #560 ,but I think this feature would allow people to solve the problem more easily.

#### What problem does this feature solve?

Give user more flexibility while setting `base`.

#

[2019-10-14 17:57] anibalsanchez commented on #1802
I have the same issue.

I asked Algolia's DocSearch team, and they answered that the pages are correctly indexed with the right URLs.

[2019-10-14 18:28] olizilla commented on #1303
I suspect these are the sources you are looking for https://github.com/yyx990803/html-webpack-plugin

[2019-10-15 01:34] Mister-Hope commented on #1865
@vinayakkulkarni Could you check [this stylus file](https://github.com/Mister-Hope/vuepress-theme-hope/blob/master/styles/nightMode.styl)? I think it’s good enough.
You can just import it in index.styl and add a “theme-night” class to <body> tag when dark mode is on.

[2019-10-15 01:38] Mister-Hope commented on #1662
You can try vuepress-plugin-mathjax. It works well.

[2019-10-15 01:49] Mister-Hope opened #1956 "Test on theme"
## Feature request

Add a component test example on theme-default, for both default theme stable and give other theme developers  a test example.

#### What problem does this feature solve?

Some computed variables are injected into theme components, but that’s hard for developers to test their own theme components with vue-test-utils cuz the vue-test-utils won’t do that for them.

So I wonder if

[2019-10-15 05:21] liudonghua123 opened #1957 "error Code snippet path not found: @vuepress\markdown\__tests__\fragments\snippet.js"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

I have a repo (https://github.com/ynu/ynu-api-docs) which build on vuepress, and I added some content to it, then it failed on the `travis-ci`, the error was something like the belows. And I can reproduce the issue via manully delete `yarn.lock` , execute `yarn` to update the dependences and then

[2019-10-15 05:34] liudonghua123 commented on #1957
I found the problem, the `@/../@vuepress/markdown/__tests__/fragments/snippet.js` path was not exist.
![image](https://user-images.githubusercontent.com/2276718/66802645-b9ca2b80-ef4f-11e9-8c5d-e85b34d9b70a.png)

If I use vuepress v1.0.3, it just maybe a warning, but now it was a error in vuepress 1.2.0. Hope this changes could show in the docs.
![image](https://user-images.githubusercontent.com/2

[2019-10-15 06:19] #1957 closed

[2019-10-15 06:21] liudonghua123 commented on #1957
![image](https://user-images.githubusercontent.com/2276718/66805264-1bda5f00-ef57-11e9-8bf1-79d13e215b06.png)

[2019-10-15 08:16] s-pace commented on #1802
First of all, thank you for Vuepress. This is a great project. Really helpful!

I am part of the DocSearch team which feature Algolia for vuepress.

Just to add on top of that, prepending `/docs` base url to the path is required for edge cases where the crawl is not made against the final website. A common use case would be to edit the result's URL to make sure your staging website redirect to you

[2019-10-15 13:16] long568 commented on #1662
It is my fault. Use "extendMarkdown" to replace the old string, then it works fine.

[2019-10-15 13:16] #1662 closed

[2019-10-15 18:02] pyaillet commented on #1921
I can't reproduce this on master.
I tested it on the vuepress documentation:
<pre>
[code]

To generate static assets, run:

[code]
</pre>

renders to:
[code]

[2019-10-15 18:06] pyaillet commented on #1921
I've also tried other combinations defining languages or not, I always get the same rendering.

[2019-10-15 20:41] sabicalija commented on #1950
I've encountered the same issue when passing content to slots of parent-theme components.

Your changes in PR #1915 are working.
I've tried the following changes as well, which resolve the issues too:

**Previously**:
[code]

**Now**:
[code]

However, I've also tried the syntax shown in [Access Parent Theme](https://v1.vuepress.vuejs.org/theme/inheritance.html#access-parent-theme) too, but there s

[2019-10-16 00:02] ludanxer commented on #1921
Hi @pyaillet ,

I think you can try to reproduce the problem by below , thank you.

[code]

[2019-10-16 02:28] roeeyn commented on #1909
Hey @kefranabg 👋  I'm working on this issue, but I have some doubts. Where may I reach you?

[2019-10-16 03:22] 7neves commented on #1052
I also have problems with the plugin that are not in effect. The settings are set according to [Official Description] (https://vuepress.vuejs.org/en/plugin/official/plugin-medium-zoom.html). But it still can't take effect. Finally, it is found that the plugins option is set. It is not set according to the official designation. Instead, the plugin name is completed, and it finally takes effect. I d

[2019-10-16 05:50] ludanxer commented on #1283
First, as @favoyang mentioned above,  #1536 is duplicate with this issue. It did, however, bring up a workaround: `--temp .temp`. I comment here because #1536 is filled with Chinese.

I tried to fix this but failed. For what it's worth, I will leave what I found here.

I believe this problem can **only be reproduced on Windows**. I find that everyone who display their OS in the two issues are usin

[2019-10-16 06:15] pyaillet commented on #1921
Oh, I am so sorry. I was definitly not reading the right thing :/

I should come up with a PR this week. I managed to fix this using markdow-it, but I still have to include it correctly with vuepress.

[2019-10-16 13:15] billyc commented on #1885
This is hitting me as well; not sure what to add beyond the "me too".

I encounter this with both nodejs 10 and nodejs 12.  They layout problems show up for me both in the top nav bar as well as the sidebar background color, which makes the site unreadable. All my style changes are in `.vuepress/styles/palette.styl` and some of them do get picked up correctly, while others don't.

Here's my `vuepr

[2019-10-16 16:51] #1353 closed

[2019-10-16 22:24] chryw opened #1959 "Support Azure Repos url in "PageEdit.vue""
## Feature request

#### What problem does this feature solve?

Our team uses VuePress for our internal documentation site. Our repo needs to be hosted on Azure Repos, not GitHub or Bitbucket. The current default theme doesn't have the Azure Repos url pattern. I'd like to add it to the default theme.

#### What does the proposed API look like?

![image](https://user-images.githubusercontent.com/70

[2019-10-16 22:27] chryw commented on #1959
FYI @clocky

[2019-10-17 00:04] roeeyn commented on #1909
So, my very summarized question is: what is the correct way of accessing the frontmatter from the lineNumbers plugin? Also, this will only work if the lineNumbers is set to true in the markdown config. Is that ok? Maybe we could set to true the lineNumbers by default (so the plugin adds to the chain) and only overriding it in the frontmatter. I tried following @ulivz suggestion but I was not able

[2019-10-17 01:23] tomcam commented on #1801
@jlooper I did most of a soup-to-nuts tutorial and put it at https://github.com/tomcam/vuepress-tutorial-proposal. I've never done a PR before. Should I just do one? Not sure what the etiquette is.

[2019-10-17 02:09] uwings opened #1962 "external url can use in sidebar and nav bar but it's broken at bottom nav bar(prev ,next)"
external url can use in sidebar and nav bar , I mean , if support external in sidebar and bav bar why can't support at page nav? is there a conflict？

[2019-10-17 07:43] kefranabg opened #1963 "Carbon ads are not displayed anymore"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

Carbon ads are not displayed anymore on the vuepress docs.

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my VuePress project:

[2019-10-17 12:12] ludanxer commented on #1962
I can work on this if it is expected

[2019-10-17 12:33] haimich commented on #1558
Today I wondered why the build of my Vuepress site takes so long. As it turns out Vuepress is compiling all the readme files of my PHP dependencies which are located in the vendor directory.

Vuepress is so nice to use because it works with config conventions but it would be even nicer to exclude folders :smile:

[2019-10-17 13:04] nielsnuebel commented on #560
You can use npm i -D cross-env

in your package.json
`"docs:build": "cross-env NODE_ENV=production vuepress build docs"`

in config.js
`module.exports = {
  base: process.env.NODE_ENV === 'production'? '/github_repo/': '/'
}`

[2019-10-17 13:59] nie7321 commented on #1802
I think @koskimas's fix is correct.

It's not changing the URL so much as working around the in-this-instance-undesirable Vue router behaviour. The URL people end up on remains the same.

[2019-10-18 07:37] ludanxer commented on #1936
Sorry, I can not reproduce this.

Here is my minimal successful deployment:
- [Repo](https://github.com/ludanxer/vuepress-support)
- [Demo](https://vuepress-support.netlify.com)

My suggestion is:
1. Clean up your repo (for example, remove all `.DS_Store` and add it to `gitignore`)
2. Upgrade your `vuepress` and all of the related plugins
3. Review your customization

If this problem is still happ

[2019-10-18 12:09] kefranabg commented on #1936
Thanks for testing @ludanxer 🙏 I close this issue. @llccing feel free to comment if you're still not able to solve your problem

[2019-10-18 12:09] #1936 closed

[2019-10-18 12:26] kefranabg commented on #1962
@uwings `prev` and `next` links are meant to target (as their name indicates) a previous or next link in the sidebar. Allowing them to target external url would be strange in my opinion.

If you need to target an external url in your page, use [custom vue components](https://vuepress.vuejs.org/guide/using-vue.html#browser-api-access-restrictions) in your markdown or [theme inheritance](https://vue

[2019-10-19 02:49] softwarewright commented on #1950
@sabicalija is there something else that I need to do to get those changes merged into master? I'm not sure what the workflow is for this project.

[2019-10-19 03:09] KyleThanas opened #1966 "Language does not exist undefined"
最近执行dev或者build都会报错Language does not exist undefined，
代码块显示不出来，
包括css代码块、jsx代码块等

[2019-10-19 03:47] ludanxer commented on #1966
Hi @KyleThanas ,

Please use English to describe your problem next time, so everyone can help.

And please do provide more detail, maybe a repo to reproduce the problem you encountered?

---

Translation:

Recently, an error "Language does not exist undefined" are shown whenever I run `dev` or
`build`, and code blocks (css, jsx, etc.) are not showing anymore.

[2019-10-19 05:14] Danktuary opened #1967 "NODE_ENV not being set to production when building"
- [x] I confirm that this is an issue rather than a question.

## Bug report
The `NODE_ENV` environment variable is no longer being set to `'production'` when running `vuepress build docs`.

#### Steps to reproduce

In a VuePress 1.2.0 project:
[code]
[code]

After running `vuepress build docs` and inspecting the `index.html` file in `/docs/.vuepress/dist/`, the `<title>` tag will show `Hi | Dev`.

[2019-10-19 06:56] sabicalija commented on #1950
@softwarewright Sorry, but I don't know that, unfortunately. I guess @ulivz will reply as soon as possible.

In the meantime, we can customize the `Layout.vue` component on our own, and thanks to your #1950. BTW Thanks! :bowtie:

[2019-10-19 08:07] #1930 closed

[2019-10-19 15:35] chrtz commented on #1932
It's actually described in the docs: https://vuepress.vuejs.org/default-theme-config/#navbar-logo

[2019-10-19 15:47] agrass-GitHub commented on #1692
how to solve problems ?

[2019-10-19 15:52] agrass-GitHub commented on #1141
I also have this problem, how to solve it

[2019-10-20 04:03] uwings commented on #1962
@kefranabg yes , u can have u own opinion , but  vuepress support external links in sidebar .  so is this an conflict?   in my opinion  u can fix sidebar (cancel support external link), or fix bottom navbar (support external link), what do u think ?

[2019-10-20 11:05] deliverymanager commented on #1606
+1

[2019-10-20 11:06] deliverymanager commented on #1606
@francoisromain  Did you find any solution on that?

[2019-10-20 12:52] llccing commented on #1936
@ludanxer thanks for help. i notice you deploy by netlify, and i deploy by travis ci, so i think may be problem happen in travis ci.

i search ‘google analytics’ in the /dist/app.xxx.js file, in your repo i found, but not in my repo. so i build in local, i found it too. so i think this because deploy tool -- travis ci.

this is my old travis ci config
[code]

this is vuepress doc [Travis ci config

[2019-10-21 06:56] uwings commented on #1962
by the way , [prev-next-links](https://vuepress.vuejs.org/theme/default-theme-config.html#prev-next-links) can resolve the issue , for now .

[2019-10-21 15:03] ulivz commented on #1606
Could you upgrade to the latest version of VuePress?

[2019-10-21 15:25] #1948 closed

[2019-10-21 15:27] francoisromain commented on #1606
@ulivz Ok I'll try that this evening and let you know

[2019-10-21 15:28] #1966 closed

[2019-10-21 15:36] #1903 closed

[2019-10-21 15:36] Mister-Hope commented on #1932
The link you provide is 404

[2019-10-21 15:41] ulivz commented on #1967
@kefranabg We would need to set the node env after the cli launched, because for now the env will not be set until the webpack process started.

[2019-10-21 16:09] #1950 closed

[2019-10-21 18:05] francoisromain commented on #1606
@ulivz I upgraded to the latest version and the problem is still here:

``

[2019-10-22 05:57] deliverymanager commented on #1606
I am in the latest version too. Problem is there

[2019-10-22 07:55] Livven commented on #1577
This has been annoying to us as well. If a VuePress site is updated (i.e. rebuilt) while someone has a page open, any further client-side navigation will stop working due to the old `.js` files becoming unavailable. Instead the user will only see the progress bar getting stuck, as shown in the video.

I think the second solution is better. You can't really keep the old files if you build in a clea

[2019-10-22 09:10] Mister-Hope commented on #1943
I moved the vuepress to peerDependencies and it works well?

At least it’s not bothering me anymore

[2019-10-22 09:10] #1943 closed

[2019-10-23 04:59] Mister-Hope opened #1970 "How to import stylus in plugins and let them accept var in pattern.styl"
## Question

- If my plugin has no vue files,how can I import stylus file?

- How can I import var in pattern.styl?

For example, users may edit the navBar Height, and that will make my plugin placed in a wrong position, so I would like to get the variable in my stylus file to generate the right css file.
So how can I get the variable?

[2019-10-23 05:40] ulivz commented on #1970
1. using `enhanceAppFiles ` instead;
2. you don't need import it, because you can use them directly.

---

We recommend you to ask question in the [Discord server](https://vue-land.js.org/), [forum](https://forum.vuejs.org/), or [StackOverflow](https://stackoverflow.com/tags/vuepress).

[2019-10-23 05:40] #1970 closed

[2019-10-23 06:28] Mister-Hope commented on #1970
It's my fault.

But I wonder if the docs can add these parts, because nothing about style is methoned in [here](https://v1.vuepress.vuejs.org/zh/plugin/writing-a-plugin.html).

[2019-10-23 09:52] abernov opened #1971 "Sidebar links not highlighted, history back button, Cyrillic headers"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. Add this header to some md-file:
'## Header not  highlighted! Cyrillic char ф'
1. In browser, in sidebar click his header link and other links.
1. Click several times browser history back button.

#### What is expected?
Active link will be highlighted green.

#### What is actually happening?
A

[2019-10-23 10:09] #1963 closed

[2019-10-23 15:02] CodesOfRa commented on #1932
The url is for v0 docs, check it out - https://v0.vuepress.vuejs.org/default-theme-config/#navbar-logo .

Somehow that section is not available in the v1 docs. No idea why, but I see no reason not to be there :), so I created a PR for this

[2019-10-23 15:02] CodesOfRa commented on #1884
I can work on this :)

[2019-10-23 15:53] Mister-Hope opened #1975 "No JSON.stringify in define"
![image](https://user-images.githubusercontent.com/33315834/67411308-036de280-f5f0-11e9-81d6-a48fd4d79cdc.png)

- [x] I confirm that this is an issue rather than a question.

## Bug report

index.js in plugin:

[code]

// other vue files

[code]

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my

[2019-10-24 00:52] ycjcl868 commented on #885
BreakChange + 1

[2019-10-24 02:47] shaunc opened #1976 "Question: how to import 3rd party stylus libraries?"
I just tried to install [normalize-styl](https://github.com/bymathias/normalize.styl). After install, it suggests that I can use simply by `@import 'normalize'`. I included this in `.vuepress/styles/index.styl`, but it didn't work.

Do I have to do some extra configuration somewhere? Perhaps instructions or link could be put in the doc under styling?

[2019-10-24 02:59] shaunc commented on #1976
Ok ... with some random experimentation and consultation of the [stylus-loader](https://github.com/shama/stylus-loader) package doc, the following works:
[code]
I'll leave the issue open, though; I think the documentation should be improved.

[2019-10-24 08:31] dousybox commented on #1651
@ulivz
我在查阅源码后发现这个缺陷是来自于：
https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/node/App.js#L319
此处代码在做模式匹配的时候新增了 `.vue` 文件文件的匹配模式，此模式于 #1601 新增。

这个逻辑导致我在一个Vue前端项目中无法按照～～就近原则～～将文档内容与前端组件源码放置在一起。

至此，有以下两个问题：

Q1：此处能否提供一个参数化配置项来处理匹配模式？

Q2：如果可以，是否可以由你来帮忙完成此项变更？

[2019-10-24 08:40] dousybox commented on #1651
This bug is fixed in #1705。
Using the `siteConfig.patterns=[**/*.md]` can make the build process work properly.

[2019-10-24 08:40] #1651 closed

[2019-10-24 16:48] abernov commented on #679
Solved plugin [markdown-it-custom-header-link](https://www.npmjs.com/package/markdown-it-custom-header-link)  was created

[2019-10-24 19:16] nelson6e65 commented on #679
Thanks! I'll check, @abernov!

[2019-10-24 20:28] chefjuanpi opened #1978 "Control the internationalisation coverage?"
## Feature request

#### What problem does this feature solve?

Internationalization in VuePress is nice, easy to use and understand but I can't find any way to manage the internationalization coverage.

Let's show an example,
Today we finish to translate all the docs to French (french coverage 100%)
Tomorrow someone update a file or add a newone at the base docs code.
The french version becomes i

[2019-10-25 03:15] ulivz commented on #679
Closing this as it's resolved by [markdown-it-custom-header-link](https://www.npmjs.com/package/markdown-it-custom-header-link).

[2019-10-25 03:15] #679 closed

[2019-10-25 03:21] #1932 closed

[2019-10-25 03:27] ulivz commented on #1975
Please take a serious look at the documentation of [DefinePlugin](https://webpack.js.org/plugins/define-plugin/):

[2019-10-25 03:27] #1975 closed

[2019-10-25 03:56] Mister-Hope commented on #1962
Yes, tried same opinion, I have external links in sidebar too

[2019-10-25 04:01] Mister-Hope commented on #1976
Sounds like you are not familiar with vue or webpack. Any module needs to begin with a `~` to let webpack know it is a module.Or it will also think it is a relative path try to find it in same folder. Besides, webpack first resolve the module amd let them imported, then call the loader to do the job. SO you can't think webpack can import can load fole at the same time.It musr import first then cal

[2019-10-25 06:13] beatgrabe commented on #197
Hmm facing the same issue now. Are there any solutions or any hint why this problem exists?

[2019-10-25 07:13] abernov opened #1979 "Invalid reference in [[toc]] with plugin markdown-it-custom-header-link"
- [x] I confirm that this is an issue rather than a question.

## Bug report

if header has custom link (used plugin markdown-it-custom-header-link) then the table of content has a wrong link.

#### Steps to reproduce

install markdown-it-custom-header-link
add plugin to config

set header link
`## title `

add [[toc]]

#### What is expected?

#### What is actually happening?

in [[toc]]wrong refe

[2019-10-25 14:43] kefranabg commented on #1979
VuePress is using [markdown-it-table-of-contents](https://github.com/Oktavilla/markdown-it-table-of-contents) which is not able to understand markdown-it-custom-header-link syntax.

Why do you need your link to be different from your header title?

[2019-10-25 16:43] brindosch commented on #1979
Hello @kefranabg,
Sadly, i noticed the same with the "badge" feature.
[code]
The [[TOC]] will create a link to `#text-badge-text-tba-2-1: ` instead of `#text`

[2019-10-25 17:47] kefranabg commented on #1979
@brindosch your comment is not related to the initial issue. Please report it in another issue, if you think you've found a bug.

[2019-10-25 19:00] abernov commented on #1979
1. I need references from my WEB-app to vuepress docs headers.
App is Multilingual. In this case, each language has its own unique link to header.

1.  Easier to create a new locale. Copy the existing one - all links will remain. You only need to translate the text.

see also [discuss at this Feature request](https://github.com/vuejs/vuepress/issues/679)

[2019-10-25 19:48] abernov commented on #1979
I look at code of markdown-it-table-of-contents and found this bug!

[2019-10-25 20:19] abernov commented on #1979
I look at code of 'markdown-it-table-of-contents' plugin.

This plugin needs to be rewritten for badge and custom link works.

[2019-10-26 00:11] CanadianBeaver commented on #1861
Please, consider using AsciiDoc in VuePress. Thank you.

[2019-10-26 02:51] shaunc commented on #1976
Well first of all I'm not familiar with stylus before ... or how closely its integrated with other tools. If I put `@import 'normalize'` in a stylus file, I have no idea how that relates to actual paths and I had assumed there is some stylus config specific to vuepress (presumably involving web pack) that sets defaults. It might be good to put in the [VuePress doc under styling](https://vuepress.v

[2019-10-26 07:19] brindosch opened #1985 "[[TOC]] links broken with Badges"
- [x] I confirm that this is an issue rather than a question.

## Bug report
If `[[TOC]]` is used in a page where a header has a badge, the link contains also the badge content.

#### Steps to reproduce
 - Add header to page: `### TEXT <Badge text="TBA 2.1+"/>`
 - Add `[[TOC]]` to page
 - The TOC link to `### TEXT` will be `#text-badge-text-tba-2-1` instead of `#text`

#### What is expected?
 - Ba

[2019-10-26 07:54] kefranabg commented on #1979
Unfortunately we don't own this plugin, you can still try to open an issue to the toc repos, but i don't think maintainers will accept such a feature 🤔

[2019-10-26 07:54] #1979 closed

[2019-10-26 08:23] abernov commented on #1985
Problem in [markdown-it-table-of-contents](https://github.com/Oktavilla/markdown-it-table-of-contents) plugin.

It needs to be replaced with a new one!
It’s not difficult to develop such a plugin

[2019-10-26 09:47] ludanxer commented on #397
Well, I believe I find the problem:

Relative links like `[subdir](subdir)` is not treated as internal links, so they are not rendered as `vue-router`s. To confirm this, check out this [repo](https://github.com/ludanxer/vuepress-support/tree/double-back) and run it locally. Use `vue-devtool` to inspect the source, you will find that only `[subdir](/subdir/)` is treated as a `vue-router`.

The rele

[2019-10-26 13:34] kefranabg commented on #1962
@uwings I didn't know that external links were supported by navbar, in that case supporting external links for prev/next make sense 😉

[2019-10-26 13:46] tu6ge opened #1986 "运行 npm run docs:dev经常报权限错误"
在写入.temp 目录中的文件，权限变成了root，普通用户第二次执行dev命令的时候，就会报权限错误

[2019-10-26 14:39] #1940 closed

[2019-10-26 18:10] Mister-Hope commented on #1976
What about less or sass? They also need `~` :smile: If you are not familiar with css pre-proccessors, maybe you should first have a look at them?

[2019-10-27 04:18] ludanxer commented on #1986
Hi @tu6ge ,

 Next time, please use English to describe your problem so everyone can help you.

---

Translation:

It requires `root` permission to write files into `.temp` folder. Ordinary users will encounter permission problems when running `dev` the second time.