[2019-10-27 04:29] ludanxer commented on #1931
I remember that Netlify has something called `brunch deploy`?

Make PRs only against `dev` branch, and merge them to `master` branch when release.

[2019-10-27 09:29] kefranabg commented on #1986
@tu6ge, please use the issue template next time you want to report a bug and as @ludanxer said, use english 😉. We can't help you as we don't know how to reproduce.

- Remove temp folder
- Run VuePress without root permissions (no sudo)

[2019-10-27 09:29] #1986 closed

[2019-10-27 10:16] kefranabg commented on #1985
@abernov that is not a problem from `markdown-it-table-of-contents`. Think the problem is that vuepress and `markdown-it-table-of-contents` using the exact same `slugify` function to generate header links

[2019-10-27 11:09] grasilife commented on #1328
这个你最终的解决方案是什么?

[2019-10-27 14:33] tu6ge commented on #1986
I Run VuePress without root

[2019-10-27 15:08] kefranabg commented on #1986
please give a minimal reproduction repos so we can help you

[2019-10-27 16:06] ludanxer opened #1987 "404 page does not support i18n"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I just find this on [stackoverflow](https://stackoverflow.com/questions/58579031/is-translation-supposed-to-be-working-for-notfound-vue), and test it on the official website

#### Steps to reproduce

Try to visit [vuepress.vuejs.org/zh/test](https://vuepress.vuejs.org/zh/test)

#### What is expected?

A 404 page with Chi

[2019-10-27 21:19] kefranabg commented on #1985
As a workaround, you can use a custom markdown [slugify function](https://vuepress.vuejs.org/config/#markdown-slugify).

[2019-10-27 21:52] kefranabg commented on #1955
Thanks to #1972 , we'll now be able to dynamically set `base`dynamically with env variables, so I'm not sure that a `--base` option will be necessary.

@ulivz WDYT?

[2019-10-28 02:29] thaycacac commented on #1692
I had the same problem.

[2019-10-28 12:20] wki7abt opened #1989 "Changing prism.js theme not possible"
I am using the latest version of VuePress.

- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

I've created a minimal reproduction repo:
[docs.zip](https://github.com/vuejs/vuepress/files/3778474/docs.zip)

- create a config.js, add 'postcss-import' https://vuepress.vuejs.org/config/#postcss https://www.npmjs.com/package/postcss-import
- create a

[2019-10-28 17:01] twigs67 commented on #318
Shouldn't this work with version 3? I'm running 3.1.1 and I'm still getting this error.

[2019-10-29 05:24] abernov commented on #1985
@kefranabg
Vuepress passes to markdown-it-table-of-content its own slugify function.

It is possible to rewrite this function so that it removes the badge.

[2019-10-29 08:26] kefranabg commented on #1985
@abernov yes this is what I suggested in the last comment, but this is a workaround, not a fix.

Rewrite the slugify function we pass to markdown-it-table-of-content to remove badges will work, but later we'll have a new bug report saying it's not working with headers containing emojis and probably other things (so it will be hard to maintain).

The clean way to fix this would be to standardize th

[2019-10-29 11:09] wki7abt commented on #1989
I was able to resolve my problem.
My import of the css-file was incorrect.

[2019-10-29 11:09] #1989 closed

[2019-10-29 13:04] tu6ge commented on #1986
package.json
[code]
I run this commands
[code]
[code]
I described earlier that there was an error. Now to run this, you must use root.
[code]

[2019-10-29 13:30] ckulenkampff commented on #1283
@ludanxer as @quanzaiyu stated the workaround with `--temp .temp` does only work for some configuration points:

[2019-10-29 19:02] kouts commented on #1623
Vuepress is not working for me on IE11 either, I can see arrow functions inside the build .js files which means they aren't transpilled.
I would very much like to use the workaround suggested by @sergeymorkovkin but where do I put this code?

[2019-10-29 19:43] kouts opened #1990 "Build does not work in IE11, .js files don't get transpiled"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Vuepress site does not work on IE11, console throws syntax and invalid character errors.
By examining the generated .js files it seems that they don't get transpiled for IE11, e.g there are
still arrow functions present etc.
#### Steps to reproduce
You can reproduce it with a default Vuepress installation
and you can also

[2019-10-30 07:30] ShailenNaidoo commented on #1294
I have the exact some issue as @glecetre and I am not using any custom styles, here is a repo that is live https://github.com/Lumkani/vue-architecture-patterns and has the above mentioned issues

[2019-10-30 13:00] hyvyys commented on #1757
I followed this https://vuepress.vuejs.org/guide/using-vue.html#using-pre-processors and this https://code.luasoftware.com/tutorials/vuepress/vuepress-css-or-sass/

In particular, I installed sass (version 7 because Vue-Press doesn't use Vue-CLI 4 yet):

[code]

I added /docs/.vuepress/styles/index.scss and /docs/.vuepress/enhanceApp.js:

[code]

and it worked.

[2019-10-30 16:56] learningNicolas opened #1991 "Search will show me the files I haven't Uploaded"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

My English is pool, so i will use Chinese to convey my original meaning with the help of translation software.
#### What is expected?
I used GitHub Page + Vuepress to build a static blog. I uploaded some files in the 'docs' folder, but they did not configure the routing information.I hope that th

[2019-10-30 21:50] BFMarks commented on #1582
Plus  ! @bradumbaugh

[2019-10-31 13:08] haochenli commented on #1991
Just as the doc said: ` it automatically builds a simple search index from the title, h2 and h3 headers from all the pages.` no matter whether you config it in the route. I think it is by proposing..

Obviously your 'extra' files have a header like h2, h3...
So why not push your 'extra file' to another branch? not the building one.

据我了解文按照档里写的vuepress的搜索功能会搜索所有含有 `h2, h3`的文件。我觉的应该是这样的设计的。 如果不想被搜索

[2019-10-31 13:21] learningNicolas commented on #1991
Thanks for your suggestion, actually i try to use `.gitignore` file to untrack some `.md` file, and them can't be found on my github repository, But it seems that in the process of `build`, `vuepress` has already indexed these files and generated some `.js` files.
I describe my usage scenarios and may help you understand my problem. I use `Typora` (a `markdown` editing software) to write my notes,

[2019-10-31 15:52] kefranabg opened #1992 "Open a PR on Wappalyzer to detect VuePress sites"
## Feature request

Open a PR to [Wappalyzer](https://github.com/AliasIO/Wappalyzer) chrome extension so it can detect VuePress sites.

#### Are you willing to work on this yourself?
Yes

[2019-11-01 05:18] ludanxer commented on #1991
Hi @learningNicolas ,

I believe that [patterns](https://vuepress.vuejs.org/config/#patterns) is what you are looking for. (Simply click on the link before doesn't seem to nav to the correct location, you can find it under `Config Reference > Basic Config > patterns`)

For example, if your docs' folder structure is:
[code]

The config.js would be:
[code]

Then all of your docs in the private folde

[2019-11-01 05:47] learningNicolas commented on #1991
Thank you very much, @ludanxer
It works! 👍 👍
also thanks for your help @haochenli

[2019-11-01 10:09] kefranabg commented on #1991
As @ludanxer said, `pattern` is what you're looking for. Thanks !

[2019-11-01 10:09] #1991 closed

[2019-11-01 10:27] kefranabg commented on #1990
Hi @kouts

Did you check if there was already an existing issue that solve your problem? Please check [these issues](https://github.com/vuejs/vuepress/issues?utf8=%E2%9C%93&q=is%3Aissue+IE11+) that might solve your problem.

[2019-11-01 11:54] kouts commented on #1990
Thank you @kefranabg, I have already searched for a workaround but haven't managed to find a solution yet. In my opinion, VuePress should work OOB with IE11 as also stated by @yyx990803 [here](https://github.com/vuejs/vuepress/issues/135#issuecomment-382422190)
If that's not the case maybe it should be added in the docs that VuePress doesn't support IE11.

[2019-11-01 19:41] wesgro opened #1993 "Question: How to disable js uglification"
I am trying to debug some issues in IE11 and I am getting the dreaded
`Error in ie 11 SCRIPT1003: Expected ':' `
Inspecting the uglified JS bundle is an exercise in pain, so I'm wondering how we can disable the js minification/uglification step when we do a build?

[2019-11-01 20:27] wesgro commented on #1990
Ran into this as well. Seeing arrow functions not getting transpiled in the app bundle

[2019-11-02 09:51] kouts commented on #1990
Digging a little more into this it seems that the regex defined [here](https://github.com/vuejs/vuepress/blob/1138db48637a3befa0b7e2f02c61175385697119/packages/%40vuepress/core/lib/node/webpack/createBaseConfig.js#L149) doesn't match anything and this results in files not getting transpiled.
Now, replacing the regex with something like
[code]
transpiles the files but polyfills required by IE11 see

[2019-11-02 10:05] NarvaezTames commented on #79
Im having the same problem with the frontmatter.

[2019-11-02 11:41] anlexN commented on #197
i don’t want to use any framework integration or wrapper!
[How to use material-components-web?](https://forum.vuejs.org/t/how-to-use-material-components-web/78469)

[2019-11-02 12:55] newsbielt703 commented on #1847
Perhaps we can reuse it in official blog plugin and theme.

[2019-11-02 23:13] kxbk100 commented on #1966
I met the same problem, and don't know why this issue is closed.

[2019-11-03 01:51] ludanxer commented on #1966
Hi @kxbk100 ,

I believe this issue is closed because there is very few context. The problem you encountered may have many reasons.

Can you make a minimal reproduction? Or maybe describe how to reproduce this problem in detail?

[2019-11-04 14:31] nimitbhargava opened #1998 "vuepress or VuePress in documentation?"
There are many places in the documentation that's using either `vuepress` or `VuePress`.
To uniform the docs, which one is suggested?

[2019-11-05 09:18] uwings commented on #1962
@kefranabg @ludanxer thank you guys very much .

[2019-11-05 10:27] baur opened #1999 "404 ERROR - Use ExpressJS to Deliver HTML Files"
Hi, I'd like to  Deliver HTML Files by ExpressJS

[code]
Page Shows just for a second then I get 404

**I'm doing that in order to control access to pages (custom token authorization) and rewrite routing**

Any suggestions?

[2019-11-05 14:13] TimSpan opened #2000 "没有更新成功"
为什么我的vuepress博客，本地运行正常，但是更新成功后，我的博客文章还是404，这是为啥？本地运行没问题。更新也没问题。git仓库也没问题，但是访问就404，总之就是没有更新上去，但是git仓库是存在的。我的博客地址https://timspan.github.io/documents/

[2019-11-05 15:41] ludanxer commented on #2000
Hi @TimSpan ,

Pls describe your problem in English next time, so everyone can help you.

The link you provided is working fine, so I do not quite understand what your problem is.

Can you push your corresponding code to that repo's `master` branch? So people can see your configuration. And can you provide more detail about your problem? How to reproduce it?

Relevant document:  [Deploy on GitHub-

[2019-11-05 21:22] metasean commented on #1018
It looks like the RFC process is now in place (https://github.com/vuejs/vuepress/tree/master/rfcs).

@robsontenorio , @janvennemann , & @about-code - Y'all look like you have the most fleshed out concepts.  Any chance one of you is willing to start the RFC process?

[2019-11-05 22:18] robsontenorio commented on #1018
For me it is ok if you copy and past this issue on RFC board. But at this
time i am sorry not being available anymore to implement this feature.

Em ter, 5 de nov de 2019 às 18:22, metasean <notifications@github.com>
escreveu:

--
—
Robson Tenório

[2019-11-06 06:23] yexk opened #2001 "[建议suggest] 希望可以添加默认SEO | Want to add default SEO"
希望可以在这个使用 `vuepress` 产品的时候默认给加上SEO 。如：
I hope you can add SEO by default when using the `vuepress` product. Such as:
[code]

[2019-11-06 06:24] ptandler commented on #1423
I ran into the same issue. I'd like to have an API I could use in Vue components to add headings during build time / ssr. Any news here?

I found a related question on stackoverflow: https://stackoverflow.com/questions/55328002/how-to-generate-headings-from-within-vue-components-in-vuepress

[2019-11-06 06:36] ptandler opened #2002 "Add API to add page headings from within Vue components"
## Feature request

#### What problem does this feature solve?
Currently, it is not possible to add headings that show up in TOC or sidebar from within Vue component templates.

An API to add page headings would allow components to make use of the sidebar="auto" feature.

(See related issue #1423 or https://stackoverflow.com/questions/55328002/how-to-generate-headings-from-within-vue-components-in

[2019-11-06 16:25] tskrynnyk commented on #1944
Build **without** `--debug` flag gives the same effect on the phone - sidebar not expand and search form not search.

[2019-11-06 21:11] kefranabg commented on #2000
Thanks for the translation @ludanxer.

@TimSpan could you provide a link to a minimal reproduction repository?

[2019-11-06 21:13] kefranabg commented on #1998
`VuePress` is the correct name. Would you like to work on this?

[2019-11-06 21:15] kefranabg commented on #1976
As @shaunc said, I think it would be great to improve documentation with an example on this topic.

Contributions welcome !

[2019-11-06 21:20] kefranabg commented on #1992
We can identify a VuePress website by adding a generator meta tag `<meta name="generator" content="Vuepress v1.2.0">`

[2019-11-06 21:24] dzetah commented on #1987
Hello @ludanxer, this seems like a good fist issue for me on this project !
I will submit a PR for it later this week ;)

[2019-11-06 21:24] kefranabg commented on #2001
Some links from the documentation that will help you:
- https://vuepress.vuejs.org/theme/writing-a-theme.html#site-and-page-metadata
- https://vuepress.vuejs.org/guide/frontmatter.html#predefined-variables

[2019-11-06 21:24] #2001 closed

[2019-11-07 05:06] nimitbhargava commented on #1998
Yes I will pick this up. Will share PR soon.

[2019-11-07 05:33] baur commented on #1999
I can resolve 404 ERROR by moving all .html files from **dist** to **custom_dir**, but I can not override routes, even if edit .html file where link.html to link, I saw link.html

**How to all replace 'link.html'-s to 'link' in all .html files in order to override routes**

[2019-11-07 06:17] baur commented on #1999
how to override routes via Express JS in other way

[2019-11-07 07:21] nimitbhargava commented on #1992
Can I take this up? @kefranabg

[2019-11-07 08:27] baur commented on #1999
as I understand js files get full control at routes, if remove them from directory "public" I can control route via ExpressJS, but in this case, not works menu and search, How I can obtain at least menu was working (open-close in mobile view)

[2019-11-07 08:46] kefranabg commented on #1992
Sure @nimitbhargava, let me know if you have some questions.

[2019-11-07 09:14] suncunhu commented on #703
It's not work,  VuePress version 1.2.0

[2019-11-07 09:44] Mister-Hope opened #2006 "Can not resolve dependecies using theme-extending"
- [x] I confirm that this is an issue rather than a question.

## General

In this structure, dependency A can not be resolved

[code]

## Bug report

It seems that all the dependcies will resolve in `workspace/node_modules/@vuepress/@core/lib/node`

But here is another situation:

[code]

screenfull, leancloud-storage, valine cannot be resolved.

More simplcy:

[code]

This can caused by many sit

[2019-11-07 09:50] Mister-Hope commented on #2006
I actually met this problem before [#1](https://github.com/vuepress/vuepress-community/issues/1) [#1943 ]
But I somehow managed to fix this dependency tree.

I really don't have any idea how to bypass it when using lerna

[2019-11-07 10:47] Mister-Hope commented on #2000
Since you are using chinese, I will reply you in chinese.

我觉得不是vuepress的问题，你在文件中使用了中文，如果你花上一小点事件了解一下node，你就会发现node不支持中文路径，所以你那些导航栏链接显然生成不出来，路径都是`/.html`结尾的(不要天真的以为vuepress能够帮你渲染出`/php/php基础.html`的地址)

另外你来这开了一个issue，然后连一个源码都没有？难道其他人还得照着你打包出来的东西去逆向猜你源码么？别逗了!

---

Node doesn't support path containing chinese, so you can not use file name like `php基础.md`.

@kefranabg  Suggest closing this issue

[2019-11-07 13:47] cwaring commented on #1692
I also noticed this issue appear once I enabled the PWA plugin, so it may be related to the caching. If I find the root cause I'll report back here.

[2019-11-07 15:14] ludanxer commented on #1692
Can anyone who encounters this problem build a minimal reproduction?

Or describe how to reproduce the problem?

[2019-11-07 15:53] nimitbhargava commented on #1992
@kefranabg
I checked [https://vuepress.vuejs.org/](https://vuepress.vuejs.org/) but I don't see `<meta name="generator" content="Vuepress v1.2.0">` tag there. Is this going to implemented later? 🤔

[2019-11-07 16:52] kefranabg commented on #1992
Nope, you have to open a PR in VuePress 😉

[2019-11-07 16:56] nimitbhargava commented on #1992
Got it. So I will create PR in VuePress and then Wappalyzer 👍

[2019-11-08 01:40] 9240 commented on #1946
There is Chinese in the router. I found the same problem when  generated the links of the previous page and the next page at the bottom
this is my PR [fixed($default-theme):PageNav, url include zh-cn](https://github.com/vuejs/vuepress/pull/2003)

[2019-11-08 05:51] baur commented on #1999
How to switch off JS routing and caching (site works even if delete all *.html files)???

[2019-11-08 06:44] nimitbhargava commented on #1992
Shall I use `VuePress` instead of `Vuepress` here (`<meta name="generator" content="Vuepress v1.2.0">`)?

[2019-11-08 08:50] kefranabg commented on #1992
I think `VuePress` is better. I think you can remove the version after VuePress for now.

[2019-11-08 13:43] Mister-Hope commented on #2006
I use yarn then I fix this problem, but vuepress seems can not resolve this stucture

[code]

[2019-11-08 14:18] #1998 closed

[2019-11-09 02:56] TimSpan commented on #2000
我错了。

[2019-11-09 03:07] TimSpan commented on #2000
Sorry to bother you. My problem has been solved. @ludanxer @kefranabg @Mister-Hope

[2019-11-09 03:14] TimSpan commented on #2000
Thank you for your

[2019-11-09 03:14] #2000 closed

[2019-11-09 03:43] sodatea commented on #2000
Node 是支持中文路径的……
如果出现问题的话，可以认为是 bug （参考之前的类似 issue：#473 #628 #1604 #1732）
不过这个 issue 确实有效信息太少了，无法判断。

[2019-11-09 13:57] about-code commented on #1018
Hmm, I wouldn't use the terms *fleshed out* or  *concept* myself ;-).  My ideas have really just been ideas :-)

[2019-11-10 07:16] machsix commented on #1967
This is very annoying.  Every asset file will have a content hash.

[2019-11-10 08:14] sergeymorkovkin commented on #1623
This should be in your vuepress config.

[2019-11-10 14:56] kouts commented on #1623
That's the function declaration, do I need to call it after I declare it?

[2019-11-10 22:27] oupala commented on #578
I tried the solution proposed by @exKAZUu but it does not seem to work.

I install the package locally, I declare it in the VuePress config file, and I add some code in the markdown:

And in the generated html file, I can read:

In fact, the markdown is not interpreted at all...

[2019-11-10 22:27] oupala commented on #578
I tried the solution proposed by @exKAZUu but it does not seem to work.

I install the package locally, I declare it in the VuePress config file, and I add some code in the markdown:

And in the generated html file, I can read:

In fact, the markdown is not interpreted at all...

[2019-11-11 01:30] exKAZUu commented on #578
@oupala I'm now using my solution and it works well. I list up possible things to fix your problem.

- You should use a relative path, e.g., `![Screenshot](./set-language.png =600x600)` (<- this is actual code fragment from my markdown)
- You should tweak settings by modifying `.vuepress/config.js` like

[code]

[2019-11-11 09:49] chenweigao opened #2014 "Failed to execute 'appendChild' on 'Node': This node type does not support this method."
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

this is my [repo](https://github.com/chenweigao/vueblog)

#### What is expected?
what is expected is that I click my blog's tag, route to the tag page.
#### What is actually happening?
But it failed in the online production environment, this problem does not appear in local enviroment.
#### Other

[2019-11-11 10:21] yt46767 opened #2015 "Hot renewal problems"
The newly added file / yaml format MD file cannot be hot updated, so it can only be restarted. How to solve it? Related issues include: #801

[2019-11-11 11:35] oupala commented on #578
I've seen where I've made an error. I enabled the plugin this way:

[code]
Where I should have enabled it this way:

[code]

Thanks for your help, your were helpful.

[2019-11-11 14:41] chenweigao commented on #2014
sorry for interrupting you, I solved this problem by using `<router-link>`, it is not a bug.

[2019-11-11 14:41] #2014 closed

[2019-11-11 17:48] bluemoon24 opened #2016 "Frontmatter variables not resolved in sidebar"
- [ X] I confirm that this is an issue rather than a question.

## Bug report
A frontmatter reference like `$page.frontmatter.description` is not resolved to its value in the sidebar, when used in a header level 2 (##)

#### Steps to reproduce
Create fresh VuePress project.
Create README.md:
[code]

#### What is expected?
Sidebar should display both links as defined in the YAML part, like:
[code]

[2019-11-11 20:10] derek-knox opened #2017 "Dual Google Analytics Pings on Initial Page Load"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

VuePress instances including https://vuepress.vuejs.org/ are receiving duplicate Google Analytics tracking pings on initial page load

#### What is expected?

Only one "collect" ping on initial page load

#### What is actually happening?

Two "collect" pings are occurring on initial page load

##

[2019-11-12 06:32] beetaa commented on #699
gu gu gu
really need this feature.
Hope you did not forget it. @ulivz

[2019-11-12 07:36] rufuspollock commented on #111
@andymed-jlp thanks and reporting that this worked!

[2019-11-12 14:45] MartinMuzatko commented on #1405
Would also like to have

[2019-11-12 15:52] Mister-Hope commented on #699
Really want this feature because I have a lot of components written in ts which wants to miragate to vue

[2019-11-12 15:59] nimitbhargava commented on #1992
Just letting you know, I haven't start this yet. But do plan to 😁
I am currently going through VuePress source code.

[2019-11-12 20:19] justin-schroeder commented on #1173
I'm on 1.2.0 and still experiencing this issue, but the @meteorlxy works for me. I realize it's not ideal, but I don't see another alternative at this point?

[2019-11-13 03:20] #1999 closed

[2019-11-13 08:17] Mister-Hope opened #2019 "Performance Enhance"
## Feature request

[code]

[code]

I have no idea vuepress is extremely slow when `clean serve`,but while when you change plugin / theme or add a new one, `clean serve` seems to be necessary.

Besides wile using `vuepress serve` after a successful serve ,the time is about 20 - 40 secends, which is acceptable.

I am using a machine with i7-7700HQ NVME SSD and 16G RAM, so I don;t think it's my mach

[2019-11-13 09:02] tianjianchn commented on #1173
@justin-schroeder Same as me, 1.2.0 and  @meteorlxy 's hacking enhanceApp.js working. After dig it, I find that if changing https://github.com/vuejs/vuepress/blob/7d6e420eb42112c7c997090b4bffd20268d3bf4a/packages/%40vuepress/core/lib/client/components/Content.js#L24-L26
`return h(pageKey)` -> `return h(Vue.component(pageKey))`, all will be fine without the hacking above. Hope that can help some.

[2019-11-13 09:05] meteorlxy commented on #1173
@justin-schroeder @tianjianchn

What about creating a new issue to report / suggest that?

Providing a reproduction repo could help a lot.

[2019-11-13 09:46] Mister-Hope opened #2020 "Monorepo surpport"
- [x] I confirm that this is an issue rather than a question.

## Bug report

In a word, the example below is working well after published, but the plugins are not working while the logs say they are working when in a monorepo environment.

#### Steps to reproduce

I have open issue(#2006 ) a few days ago with no reply. So I am working on my own trying to solve this problem. As I mentioned in #200

[2019-11-13 16:46] MartinMuzatko commented on #1634
This would be great!

People should be able to easily pass options to this file here: https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/shared-utils/src/parseFrontmatter.ts

[2019-11-13 20:07] thepassle opened #2021 "Service worker not registered in index.html"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- clone https://github.com/open-wc/open-wc/
- update vuepress to 1.2.0
- follow instructions https://vuepress.vuejs.org/plugin/official/plugin-pwa.html#usage

#### What is expected?

Vuepress generates a service worker and registers the generated service worker in the index.html

#### What is act

[2019-11-14 09:29] Mister-Hope opened #2022 "Extending theme can not handle plugins correct on Linux"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I create a minal bug repo [here](https://github.com/Mister-Hope/vuepress-bug) for you.

#### Steps to reproduce

[code]

#### What is expected?

A backtotop button working well.

#### What is actually happening?

On Windows it's working fine:
![image](https://user-images.githubusercontent.com/33315834/68843852-c3d47b00-0

[2019-11-14 12:57] calchen opened #2023 "The result of the build always changes when the document folders name contains Chinese characters"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

First, create a vuepress proejct:
[code]

Second, build this project:
[code]

In the end, the js files created by each build is different. For example, first build result:
[code]

second build result:
[code]

I've tried to build in these environments, and all of the above problems have occurred.

[2019-11-15 07:46] mhatvan opened #2024 "Add check for multiple config files in .vuepress folder"
## Feature request

#### Context
As a beginner in `vue`, I ran into a hard-to-debug issue yesterday while contributing to an open-source project using `vuepress` and I wasted about two hours to figure out what the problem was.

I needed to add a plugin to the configuration: the `README.md` of the project said to put it into `.vuepress/config.js` which I did. but running `yarn build` seemed to igno

[2019-11-15 19:58] Benjamin-Lee opened #2026 "Underscores in section title ignored in TOC"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Create a file with a section named `foo_bar_baz` and note that the TOC shows it as `foobarbaz`.

This is closely related to #544.

#### What is expected?

In the sidebar, the section title should be `immediate_command_async`, which is the name of the function.

#### What is actually happening?

<

[2019-11-16 03:14] ludanxer commented on #2026
Hi @Benjamin-Lee ,

I'm sorry I can't reproduce your problem, do I miss anything?

My reproduction:
- [repo > underscore branch](https://github.com/ludanxer/vuepress-support/tree/underscore)
- [deployment](https://vuepress-support-git-underscore.ludanxer.now.sh)

My suggestions are:
1. Upgrade your Vuepress to the latest version `1.2.0`
2. Add `\` before `_` as #544 suggested

[2019-11-17 13:13] TadpoleStack opened #2027 "继承父主题后，使用父主题的slot——失效"

[2019-11-18 04:05] hugojing commented on #1692
You can see this:  https://douweimusic.com/albums/

Code repo: https://github.com/hugojing/douwei-music

[2019-11-18 08:09] mesqueeb commented on #1653
Is this the official method to add favicons to VuePress ?

[2019-11-18 08:20] ludanxer commented on #1692
Thx for your repo @hugojing ,

In your case, simply change all of the `[<h2>***</h2>](***)` into `## [***](***)` will solve the problem.

I don't know if others are suffering from this problem because of the similar reason, but I suggest you all double check your HTML syntax in your corresponding page.

If anyone still can't fix this problem, pls provide a minimal reproduction or describe how to r

[2019-11-18 13:48] bennypowers commented on #1583
I encountered this error when extending the default theme to add a click-to-copy element to my home page:

[code]

This indeed imports my custom-element just fine, however, the console complains:
[code]

So, which is preferable?

[2019-11-18 16:38] calchen commented on #2023
the key is function addPage in node_modules/@vuepress/core/lib/node/App.js

[2019-11-18 16:38] #2023 closed

[2019-11-19 15:22] ptandler commented on #1885
I just encounter this as well. I'm glad to see other face this issue as well.

I didn't dig deep into this yet, however it seems that the CSS output is rearanged during build somehow, so @kefranabg assumption could be true.

Is there a way to disable this CSS plugin for a test?

[2019-11-19 15:58] devnewton commented on #1057
I confirm that link in navbar to an html file is broken.

[2019-11-19 20:25] bliles opened #2029 "Frontmatter Parsing Failure Does Not Report Filename"
- [X] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

* Create a file with frontmatter that cannot be properly parsed, for example, add an extra colon to an unquoted title attribute in yaml frontmatter
* Run `vuepress build`
* The frontmatter parser will report the problem with the content, but no indication of which file has the problem.

#### What

[2019-11-19 20:34] puiiyuen opened #2030 "[[toc]] only generate same link when two or more headers are same"
- [x] I confirm that this is an issue rather than a question.

## Bug report
When there are two or more headers in same name, the [[toc]] only generates one link for all same name headers. Other headers cannot be navigated to the right positions. Btw, the sidebar works well!

#### Steps to reproduce
[code]
[quick test link](https://hci.pchan.cn/docs/test/test.html)

#### What is expected?
They sho

[2019-11-20 03:57] ludanxer commented on #1057
So basically, you can't use **relative link** to navigate to HTML files place under `.vuepress/public` folder, which I personally believe it's expected? Because the purpose of the `public` file is:

Everything you place under the `public` folder will be **simply copied** into the root directory. So the HTML files won't be registered as a page in the Vue-router, which causes the 404. And when you *

[2019-11-20 14:12] #1956 closed

[2019-11-21 03:34] meteorlxy commented on #2030
That could be an issue of [markdown-it-table-of-contents](https://github.com/Oktavilla/markdown-it-table-of-contents).

You can try with [vuepress-plugin-table-of-contents](https://vuepress.github.io/plugins/table-of-contents)

[2019-11-21 04:32] puiiyuen commented on #2030
Thanks, man!

It seems that  [markdown-it-table-of-contents](https://github.com/Oktavilla/markdown-it-table-of-contents)  has not been maintained for a long time.

[vuepress-plugin-table-of-contents](https://vuepress.github.io/plugins/table-of-contents) works well.  Hopefully, vuepress will replace it as default toc compoent.

[2019-11-21 04:52] meteorlxy commented on #2030
We used to replace it, but reverted in a previous version due to some reasons.

Maybe it could be the default toc component in a future version

[2019-11-21 05:37] meteorlxy commented on #2017
Not only google-analytics, but also other plugins that send request on initial page load.

[2019-11-21 09:37] xxholly32 opened #2031 "add transpiledependencies in vuepress"
## Feature request

#### What problem does this feature solve?

i always add dependenice in my vuepress demo，when i want to run at ie11; it will add same configuration in .vuepress/config.js, it`s a painful process;

it was sth like [vue-cli transpiledependencies](https://cli.vuejs.org/zh/config/#transpiledependencies)，it was great，i thougt maybe it could add in vuepress

#### What does the propos

[2019-11-21 14:35] ptandler commented on #1885
I tried upgrading mini-css-extract-plugin to the current version 0.8.0, but this didn't change anything.

[2019-11-21 15:30] metasean commented on #1018
Anybody interested in this, please help flesh out https://github.com/vuejs/vuepress/pull/2018 with your ideas, concerns, interests, etc.

[2019-11-22 06:02] findix commented on #1604
Any help?

[2019-11-22 11:30] tuhongwei opened #2032 "The dropbox was not closed when I select language"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
reproduce address: [https://github.com/tuhongwei/issueDemo/tree/master/vuepress](https://github.com/tuhongwei/issueDemo/tree/master/vuepress)
1. yarn install
2. yarn dev
3. Click the '选择语言' button and then click the 'English' button, the dropdown box is still not closed, but clicking the '简体中文' bu

[2019-11-22 12:13] Mister-Hope commented on #1865
I make a plugin [here](https://github.com/Mister-Hope/vuepress-theme-hope/tree/master/packages/theme-color#readme) You can check this out. If it is okey, I will make a PR

[2019-11-22 12:59] ludanxer commented on #2032
Hi @tuhongwei ,

Thx for the report

This is a known issue, which was fixed in #1952

pls wait for the next release

[2019-11-22 14:12] Mister-Hope commented on #2019
Found out why it is slow, tring to avoid it now.

[2019-11-22 14:12] #2019 closed

[2019-11-22 14:24] tuhongwei commented on #2032
@ludanxer does the another problem that the build process will stop when I modify the 'config,js' file have a solution?

[2019-11-22 14:29] kefranabg commented on #2032
@tuhongwei please report the second problem in a separate issue and provides more infos (steps to reproduce or link to a repos that reproduce the error)

[2019-11-22 14:29] #2032 closed

[2019-11-22 14:43] kefranabg commented on #2030
I agree, let's check if `vuepress-plugin-table-of-contents` can do the job!

[2019-11-22 14:46] kefranabg commented on #2027
I close the issue as the title is not translated, and description is not provided.

[2019-11-22 14:46] #2027 closed

[2019-11-22 14:49] kefranabg commented on #2026
@Benjamin-Lee I'll close the issue for now. Feel free to comment if the answer didn't solve your problem.

[2019-11-22 14:49] #2026 closed

[2019-11-22 14:52] kefranabg commented on #2024
I think this is a good idea. Also warn the user in the documentation could be great.

[2019-11-22 14:58] meteorlxy commented on #2021
Service worker is not available on `127.0.0.1`.

Test on `localhost` or domains with HTTPS enabled.

See https://developers.google.com/web/fundamentals/primers/service-workers

[2019-11-22 14:58] #2021 closed

[2019-11-22 15:48] tjanez commented on #853
I used the `<code v-pre>{{ example }}</code>` solution but I think it is too verbose and the project should look for a simpler syntax to support these types of use cases.

[2019-11-22 16:56] mcamiano commented on #796
We ran into the absolute base path as well. In our case, our needs in development can be partially satisfied by injecting the basename of the repo directory via a shell environment variable on the package.json script command line, and reading that via `process.env`  to set the dest and base settings in the .vuepress/config.js module.  This assumes that the access path matches the path it is built

[2019-11-24 10:43] Buydens opened #2033 "Plugins declared in config.js do not work"
- [ ] I confirm that this is an issue rather than a question.

## Bug report
Running yarn dev or yarn build will throw a warning:
`warning An error was encounted in plugin "@vuepress/plugin-back-to-top"`

When running dev server or after building, none of the plugins work.
And neither of both work.

#### Steps to reproduce
I simply ran `yarn create vuepress` and selected the Doc theme preset.

###

[2019-11-24 10:51] Buydens commented on #2033
It works after running: `yarn add -D @vuepress/plugin-back-to-top` looks like it just didn't work right out of the box via `yarn create vuepress` and then going for the docs boilerplate. (for me)

[2019-11-24 10:51] #2033 closed

[2019-11-24 20:38] thepassle opened #2035 "Service worker not registered in index.html and SWUpdatePopup is not handled"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- clone https://github.com/open-wc/open-wc/
- update vuepress to 1.2.0
- `yarn add -D @vuepress/plugin-pwa@next`
- add `'@vuepress/pwa'` to plugins in `config.js`
- add links etc in the `head` property
- `npm run vuepress:build`
- `cd _site && npx http-server -o`
- navigate to `localhost:8080` in

[2019-11-25 09:07] #1582 closed

[2019-11-26 07:29] AjitZero commented on #2017
I cannot reproduce this. Tried with Firefox and Chrome, but I'm only getting the expected single ping.

[2019-11-26 07:30] meteorlxy commented on #2017
@AjitZero You can try to repro this with serviceWork enabled

[2019-11-26 08:42] Mister-Hope commented on #2022
Hey, you are ignoring my issues.

If you don’t have time to fix it, or just don’t want to fix it, at least make a comment or add a “won’t fix” label please.

Besides I tried it on two windows machines and three linux machines.

[2019-11-26 09:00] AjitZero commented on #2017
Alright, I managed to reproduce this on both browsers.

Next, I found the relevant code for this in [`enhanceAppFile.js`](https://github.com/vuejs/vuepress/blob/dce17c6e37806bc2fbb926d449f4a459a7006f17/packages/%40vuepress/plugin-google-analytics/enhanceAppFile.js). I'd like to take up this issue (as a first-timer here!) and any suggestions are welcome!

So here is what I think is happening. The _

[2019-11-26 10:32] kefranabg commented on #2017
Thanks @AjitZero

[2019-11-26 10:41] kefranabg commented on #2022
@Mister-Hope thanks for opening the issue.

We're not ignoring your issue.

Remember that open source means we work on our free time and don't get paid for it.

There's more than 150 ongoing issues opened on this project. Your turn will come.

[2019-11-26 10:50] kefranabg commented on #1582
@sdailly did you manage to fix your issue?

[2019-11-26 10:56] kefranabg commented on #2035
@thepassle Could you try with the latest version of VuePress ?

[2019-11-26 11:03] #1835 closed

[2019-11-26 11:06] kefranabg commented on #1824
I'll close this issue as there is no reproduction repository provided

[2019-11-26 11:06] #1824 closed

[2019-11-26 11:07] #1895 closed

[2019-11-26 11:07] #1785 closed

[2019-11-26 11:08] Mister-Hope commented on #2022
Thanks, I know all the things you reply, I just thought you are replying thought the timeline. I have been waiting for 12 days patiently.
, but today I saw you replyed on newer issues, soI misunderstood you ignore this one, sorry about that. 😅

[2019-11-26 11:26] Mister-Hope commented on #2022
Appreciate for your work on the awesome vuepress first.

Just a personal opinion, for a open source project, I think solving the issues at any time with any sequence is right. But I really think it’s not good to review and apply the issues partially if the ignore ones already provided all that he can.

[2019-11-26 11:35] Mister-Hope commented on #2006
After reading the source code, I thought I found a way to solve it(but it can’t after I test it)

I was thinking that since vuepress accept the entrance us content as first Param, If a just pass require(‘xxx’), it can solve it, but it doesn’t....... maybe because #2022

[2019-11-26 11:57] thepassle commented on #2035
I tried with vuepress 1.2.0 as mentioned in the original post, and seems to be the most recent version according to npm https://www.npmjs.com/package/vuepress

[2019-11-26 13:12] kefranabg commented on #2022
No answer does not mean your issue is ignored. I saw your issue and didn't answer yet because it requires me to check your reproduction repo, check if it's a real bug and so on.

Also I won't label the issue as a bug as I'm not sure that it's a real one. And this requires some time.

[2019-11-26 13:14] kefranabg commented on #2035
Oops, I read to fast 😉

[2019-11-26 13:56] xuekai-china opened #2037 "When the page scrolls about one screen high, it will automatically jump to the top"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### page bug

#### When the page scrolls about one screen high, it will automatically jump to the top

#### My project address: http://www.xwbuilders.com:9018/soonspacejs/Docs/api/

- Output of `npx vuepress info` in my VuePress project:

[2019-11-26 14:14] ludanxer commented on #2037
Hi @xuekai-china ,

There is indeed unexpected behavior on the page you provide. But I'm not sure it's VuePress' problem.

Can you pls make your repo public so we can locate the problem? Or build a minimal reproduction?

[2019-11-26 15:28] mponton opened #2038 "Changing `temp` in `config.js` as per https://vuepress.vuejs.org/config/#temp does not work"
- [X] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. Change `temp` to another path in `.vuepress/config.js`
2. Run `vuepress build`
3. Temporary files are still created under `/path/to/@vuepress/core/.temp`

#### What is expected?

Reading https://vuepress.vuejs.org/config/#temp I understand that by changing `temp` in `config.js` like this:

[co

[2019-11-26 18:03] Mister-Hope commented on #2022
Got it :)

Franck Abgrall <notifications@github.com> 于 2019年11月26日周二 21:12写道：

[2019-11-27 01:39] xuekai-china commented on #2037
@ludanxer

My, please wait a moment, I will open the code of the document part to my GitHub account.

[2019-11-27 01:55] xuekai-china commented on #2037
@ludanxer
Hello, the warehouse has been built, and your account has joined the partnership. https://github.com/xuekai-china/soonspacejs-docs

[2019-11-27 02:55] #1967 closed

[2019-11-27 03:03] renqi1996 commented on #2033
I used npm to create my Vuepress project, and I found this problem too. Still do not know how to fix it...

[2019-11-27 03:07] meteorlxy commented on #2035
It would be nice if you can provide a __direct__ reproduce repo/branch for this 😅

[2019-11-27 03:12] ludanxer commented on #2037
Well, it seems that you [eject the official theme](https://vuepress.vuejs.org/theme/default-theme-config.html#ejecting)  and customized it. Ejecting does give you lots of freedom but as the document warns:

Don't have time to dig deep into your project. But I think the bug may be caused by your customization or it may be a VuePress' bug, I'm not sure. My suggestion is: try to use [Theme Configurat

[2019-11-27 03:17] ludanxer commented on #2033
@renqi1996 As warned in the [document site](https://vuepress.vuejs.org/guide/getting-started.html#inside-an-existing-project), try to yarn instead of npm. And as @Buydens suggested, run `yarn add -D @vuepress/plugin-back-to-top` to add the dependency. If the problem is still there, can you provide more context?

[2019-11-27 04:11] xuekai-china commented on #2037
Okay, thank you！

[2019-11-27 04:11] #2037 closed

[2019-11-27 06:23] #2017 closed

[2019-11-27 06:49] meteorlxy commented on #2035
WTF

https://github.com/open-wc/open-wc/blob/745c945918760067ecb97b0785ad6eb5e9c8aba3/docs/.vuepress/config.js#L149

[2019-11-27 06:49] #2035 closed

[2019-11-27 06:58] thepassle commented on #2035
Well damn. Sorry about that guys, I totally missed that. Thanks for taking a look, I appreciate it!

[2019-11-27 07:26] #2038 closed

[2019-11-27 08:27] meteorlxy commented on #2022
You are wasting our time. Check your file name `enhanceAppFIle.js` => `enhanceAppFile.js`

[2019-11-27 08:27] #2022 closed

[2019-11-27 08:30] meteorlxy commented on #2006
Please check your code again due to #2022

[2019-11-27 08:30] #2006 closed

[2019-11-27 08:31] meteorlxy commented on #2020
#2022 #2006

[2019-11-27 08:31] #2020 closed

[2019-11-27 08:35] meteorlxy commented on #2015
Close as it's not followed the issue template

[2019-11-27 08:35] #2015 closed

[2019-11-27 08:44] meteorlxy commented on #2016
It's not a bug, but something related to the limitation of current VuePress workflow.

- The sidebar headers is extracted from markdown files __before__ transform them into Vue SFC.
- The Vue template syntax will take effect __after__ it's transformed into Vue SFC.
- Thus, the Vue template syntax will be treated as raw string when extracing sidebar headers.

[2019-11-27 08:47] #2016 closed

[2019-11-27 08:52] meteorlxy commented on #731
Close as it's stale.

[2019-11-27 08:52] #731 closed

[2019-11-27 08:55] meteorlxy commented on #913
Close as it's stale

[2019-11-27 08:55] #913 closed

[2019-11-27 09:13] #1802 closed

[2019-11-27 09:13] #1929 closed

[2019-11-27 09:14] meteorlxy commented on #1929
Not sure if this issue is related to algolia search.

If yes, it's fixed by #2007

[2019-11-27 12:57] mponton commented on #2038
@ludanxer @meteorlxy Wow! Incredible turnaround! 😃 Thanks a lot!

[2019-11-27 16:59] SeanMcTex commented on #1099
Also here:

VuePress version: 1.2
Your OS: Mac OS 10.15.1
Node.js version: v10.16.3
Browser version: Safari 13.0.3
Is this a global or local install? global
Which package manager did you use for the install? yarn

[2019-11-27 20:00] IdkWhosThis opened #2042 "Title is being rewrited with VuePress"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

Hello,
I just started with using VuePress for my API docs and I have one problem rn.
I set image in navbar instead of title (in config.js):
[code]
and its working. When I used vuepress build command, I hade site title VuePress. I went into index.html and edited
[code]
to
[code]
but it still keep showing VuePress as title

[2019-11-28 03:20] meteorlxy commented on #2042
https://vuepress.vuejs.org/config/#title

[2019-11-28 03:20] #2042 closed

[2019-11-28 09:16] RecuencoJones opened #2043 "Support for Bitbucket server in Edit Link"
## Feature request

#### What problem does this feature solve?

From what I've seen in #1235, bitbucket cloud is now supported. However, bitbucket server uses a different format for the repository URL, it would be great to support this as well.

#### What does the proposed API look like?

In `themeConfig`, we could have something like this:

[code]

#### How should this be implemented in your opin

[2019-11-28 10:29] renepardon commented on #796
Same problem here. Why the heck you need a server to run simple HTML files with a bit of Javascript and Styles? I wrote a documentation for a project which should be shipped with the project and not being hosted somewhere, so the customer must be able to open the documentation without development skills.

[2019-11-28 13:24] ryanccn opened #2045 "EPERM when running scandir"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

I don't know whether this is a macOS-specific issue.

[code]

#### What is expected?

The expected thing was that Vuepress was supposed to build up a fully working Vue-powered website and be able to serve Markdown files.

#### What is actually happening?

[![asciicast](https://asciinema.org/a/284

[2019-11-29 02:53] #768 closed

[2019-11-29 03:28] hq001 opened #2046 "Does not support dependencies that depend on core-js@3"
## Bug report

#### Steps to reproduce

If I use the following configuration it won't compile.
 `Core-js@3` is already installed in the package I depend on, but it still prompts me that I cannot find the corresponding` core-js` module. I tried to change `core-js` to a top-level dependency, but some modules were not found. I found out that this was caused by the` core-js` version. I guess it is bec

[2019-11-29 06:52] ludanxer commented on #2045
Hi @ryanccn

I can indeed reproduce this error when I try to run `vuepress` in my HOMEPATH on Windows 10, create a new folder and run the command inside it seems to solve the error:

[code]

However, I'm confused about what you are trying to do. Please check out the [getting-started](https://vuepress.vuejs.org/guide/getting-started.html) for more detail and find all available CLI commands in the [

[2019-11-29 10:26] AjitZero opened #2047 "Links to commits by users still use older link in README.md"
The [Core Team section](https://github.com/vuejs/vuepress#core-team) in the README.md is using the original Ulivz's repo address in the links for commits by the members.

This should be using `.../vuejs/vuepress/...` now.

- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Try clicking on the emoji links under the member's name in [this section](

[2019-11-29 10:34] meteorlxy commented on #699
Hey guys, we have created a plugin to partially support TypeScript in VuePress:

- TS in Markdown
- TS in Vue SFC
- enhanceApp.ts

See [vuepress-plugin-typescript](https://vuepress.github.io/plugins/typescript)

[2019-11-29 11:44] ryanccn commented on #2045
@ludanxer The [getting-started](https://vuepress.vuejs.org/guide/getting-started.html) talks about playing around with Vuepress globally, and this

[code]

did not work.

I tried this in a separate folder and it worked, but the Getting Started talks nothing of this error. Maybe can edit the Getting Started to create a new folder or change the `scandir` in the Vuepress code?

[2019-11-29 13:03] florevallatmrf opened #2049 "SidebarGroup does not use @theme alias"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
* Using the default theme
* Shadow the `SidebarLinks` component

#### What is expected?
All instances of `SidebarLinks` in the app should use the shadowed version

#### What is actually happening?
Only first level groups are using the shadowed version, because `SidebarGroup` is not using the `@the

[2019-11-29 13:05] ryanccn commented on #2045
`vuepress` was just something used to invoke the error. I wasn't trying to do anything. :smile:

[2019-11-30 06:24] ludanxer commented on #2045
You can try to open a PR that adds something like `mkdir my-doc-site && cd my-doc-site`, I'm not sure if it will get merged.

I recall that I see a [blog](https://medium.com/@_ulivz/intro-to-vuepress-1-x-7e2b7885f95f) mentions a quick start `yarn create vuepress`, it also requires you to run the command **inside an empty directory**. However, the project [create-vuepress](https://github.com/vuepre

[2019-11-30 07:23] xiaoojun opened #2050 "@vuepress/back-to-top Can't work."
@vuepress/back-to-top Can't work.

[2019-11-30 07:32] ludanxer commented on #2050
@xiaoojun Please use the issue template.

See #2033 , run `yarn add -D @vuepress/plugin-back-to-top` to add the dependency.

Provide more detail if that doesn't work for you.

[2019-11-30 07:37] ryanccn commented on #2045
Okay. Thanks! This is pull request #2051.

[2019-11-30 07:37] #2045 closed

[2019-11-30 09:34] xiaoojun commented on #2050
Thank you for your reply, but  it still can't wrok.
code:
# package.json
"devDependencies": {
    "@vuepress/plugin-back-to-top": "^1.2.0",
    "vuepress": "^1.2.0"
  }
# config.js
module.exports  = [
    '@vuepress/back-to-top',
]

[2019-11-30 10:02] ludanxer commented on #2050
Please check out the [document > using-a-plugin](https://vuepress.vuejs.org/plugin/using-a-plugin.html#using-a-plugin), your `config.js` is wrong.

[2019-11-30 10:22] xiaoojun commented on #2050
I found the cause of the error. I put the plugin under the themeConfig, 😂
 Thank you very much.

[2019-11-30 10:51] ludanxer commented on #2050
@xiaoojun Can you close this issue if your problem is solved? Thanks.

[2019-11-30 11:48] #2050 closed

[2019-11-30 11:50] meteorlxy commented on #2050
@ludanxer Thanks for your help to answer questions :heart:

[2019-12-01 09:13] stardustrain opened #2054 "Is slot working in ParentLayout?"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. I'd made theme folder at under .vuepress folder.
2. Make index.js file at under theme folder and write this:
[code]
3. And make layouts folder at under .theme, Layout.vue file at layouts folder and write this:
[code]

#### What is expected?
I will render disqus component every page.

#### What

[2019-12-01 09:33] ludanxer commented on #2054
Hi @stardustrain ,

Thanks for the report. I think it's fixed by #1951 , and hasn't come out yet. Please patiently wait for the next release.

[2019-12-01 11:47] stardustrain commented on #2054
@ludanxer Thank you for your notice! Therefore is it possible to close this issue?

[2019-12-01 12:14] Lukasiniho opened #2055 "Variable for content width on hero pages"
## Feature request

It would be awesome if there was a variable to change the width of pages that contain hero images. Normal "content" pages can be sized with:

**$contentWidth**

#### What problem does this feature solve?

Allows for more flexible hero pages.

#### What does the proposed API look like?

Add a variable heroContentWidth (or similar name)

#### How should this be implemented in you

[2019-12-02 01:34] ludanxer commented on #2054
I'm not sure. You can wait for the core contributors to come across this issue. There are quite a few commits after 1.2.0, maybe it's time for a new release.

[2019-12-02 04:25] EmiyaYang opened #2058 "Fail to resolve JSX"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

[code]

#### What is expected?

Recongnize the jsx and run successfully.

#### What is actually happening?

The running code couldn't recongnize the JSX.

[code]

[2019-12-02 06:23] ludanxer commented on #1099
Same problem when trying to override `.site-name` in VuePress 1.2.0

But it also **not works in production**

![capture](https://user-images.githubusercontent.com/27280733/69935116-e55ca180-150e-11ea-9e6f-afba3aadb292.png)

My Reproduction:

- [repo > override-color branch](https://github.com/ludanxer/vuepress-support/tree/override-color)
- [reproduction](https://vuepress-support-git-override-colo

[2019-12-02 17:23] m-mohr commented on #1392
Same problem here...

[2019-12-03 08:31] #2049 closed

[2019-12-03 10:35] #1962 closed

[2019-12-04 13:45] mcamiano commented on #796
https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/markdown/lib/link.js#L20
seems to suggest that the presence or absence of an absolute path (starting with the http protocol), is being used to infer whether or not the link is intended to be an internal (via vue router) or external link.
This may not be the only place this assumption was made, and there may be other slightly tenuou

[2019-12-05 13:47] worships opened #2060 "[Bug Report] files are not transpiled correctly"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- https://worships.github.io/vuepress-1.x/
- Click SidebarButton on mobile phone

#### What is expected?

- Sidebar appears

#### What is actually happening?

- When click SidebarButton it does not work, the sidebar has not appears

#### Other relevant information

- On mobile phone
    -  iphone

[2019-12-05 14:02] worships opened #2061 "Official website layout error"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### What is actually happening?

- IE
![ie](https://user-images.githubusercontent.com/37874612/70241838-b4989880-17aa-11ea-8724-81e74010e6af.png)

- firefox
![firefox](https://user-images.githubusercontent.com/37874612/70241878-c9752c00-17aa-11ea-8674-9eef035b64fb.png)

[2019-12-05 20:23] psi-4ward commented on #1173
Indeed, same here

[2019-12-06 05:31] Linkontoask opened #2062 "Cannot import json file"
## Bug report

#### Steps to reproduce

Modify the configuration file `config.js`

[code]

Importing json file with `import` in a MD file failed

`Uncaught (in promise) Error: Cannot find module 'util/ttf.json'`

But I created a new `vue` file under the` util` folder, and this vue file can be imported successfully.

#### What is expected?

Compile and get the correct data

#### What is actually ha

[2019-12-06 05:40] meteorlxy commented on #2062
Please provide a reproduction repo.

BTW, you do not need `json-loader` to import json files

[2019-12-06 05:42] kevinwchn opened #2063 "Question about using vuepress in existing project"
Hi all,

Vuepress is pretty awesome to generate static blog quickly. However, we have an existing Vue project and we just want to add vuepress to it for generating static pages such as FAQ. For the rest of the project we still want to use the previous implementation. Is it possible to hook vuepress up to generate only part of the pages? How can I configure the routing? I'm not able to find an exam

[2019-12-06 05:46] meteorlxy commented on #2060
Sorry but I cannot reproduce this issue.

[2019-12-06 06:46] meteorlxy commented on #2060
Can only confirm that vuepress 1.x docs site failed in ie 11.

Seem that codes from 3rd party packages are not transpiled correctly (e.g. vuepress-plugin-flowchart, vuepress-plugin-smooth-scroll, etc.)

[2019-12-06 09:12] Linkontoask commented on #2062
Sorry, it was my fault that I can load the `json` file correctly

[2019-12-06 09:12] #2062 closed

[2019-12-06 09:21] meteorlxy commented on #2060
#2064 can partially fix the failure in IE 11.

But `Object.assign` is still not polyfilled.

[2019-12-06 23:50] ellipticcurv3 opened #2065 "Dev works, build gets stuck at undef. window"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

The error occurs at https://github.com/ellipticcurv3/www/commit/fcd4ee6435cf6fee2e9df71d3d162133bf9b9a5c

[code]

#### What is expected?

I expect my site to build, but it fails at the stage of rendering the static HTML.

#### What is actually happening?

I seem to get the following message:

[co

[2019-12-07 12:50] bencodezen opened #2066 "Improve theming documentation"
## Problem

Currently, the theming documentation is difficult to navigate and understand.

## Proposal

Update theming documentation with more examples and reduce any assumed knowledge when someone jumps into theming right after installation.

[2019-12-07 14:25] kkdg opened #2067 "Build without escape"
## Feature request
Please provide a way to skip _escape_ process for `vuepress build`. It is OK with `vuepress dev` but why I don't have an option to skip escaping when I deploy it?

#### What problem does this feature solve?
An user might need unescaped chars and this allows the user to choose whether to use it or not.

#### What does the proposed API look like?
It might look like as follows :
[c

[2019-12-08 05:52] bestony opened #2069 "How Can i get a rendered content at plugin Ready?"
I build a plugin to find all invalid hyperlink ,but i couldn't get rendered content on my cotext .

I only can use markdown-it render it, just like this.

https://github.com/bestony/vuepress-plugin-cleanmylink/blob/c45429784e99ee6f6e56a96afc9c367be5c2390a/src/index.js#L39-L46

So, How can i get renderd  content?

[2019-12-08 09:25] worships commented on #2060
Thanks, i don't know how to fix it.

[2019-12-08 21:34] thedamon commented on #1804
@JorgeMorata I don't think an example repo is necessary to demonstrate this.
It would just be nice for the build to continue in spite of missing assets.. sort of like how if you have one broken link to an image on your entire website your browser won't refuse to load it. This can be really useful for things like when you're trying to convert an existing folder of markdown files to using vuepress a

[2019-12-08 22:01] thedamon commented on #1529
This "fix" worked for me once I found it, but for a project that wants to work simply "out of the box", I'm wondering if there's a way we can make it not necessary?

I installed it in the docs folder of a monorepo project that was not made using the vue-cli (just guessing that's common so the babel-preset most people will be using coming into this situation will satisfy what this repo needs). is t

[2019-12-08 23:04] oupala commented on #1829
It works quite well.

Try this command:

[code]

You should get something quite optimized.

[2019-12-09 03:50] Otto-J opened #2071 "markdown.extractHeaders config option does not work"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

** English is not very good **

try change option `config.js` to be: `markdown.extractHeaders:["h1", "h2", "h3"]`, on Post page, try to get `this.$page.headers` still return h2 and h3

and I changed the file: `node_modules/@vuepress/core/lib/node/Page.js` line117:

[code]

it worked.

so, I think

[2019-12-09 05:15] ludanxer commented on #2071
Hi @Otto-J

Thanks for the report, `markdown.extractHeaders` option is currently not available in the `1.2.0` release.

This feature is implement by #1945 ,which is after the release of `1.2.0`, please patiently wait for the next release. Thanks.

This issue is also related to #1931 , the document is updated faster than the release.

[2019-12-09 05:46] samanthaming opened #2072 "Improve documentation to use libraries"
## Feature request

Just wanted to share how I was finally able to add [Vue Fontawesome](https://github.com/FortAwesome/vue-fontawesome) to VuePress. The trick is to add it to `enhanceApp.js`👍

Here are the exact steps:

1. Install vue-fontawesome (this was pulled from their readme)

[code]

2. Register it as a global component (again, the example is from vue-fontawesome readme)

[code]

3. Now yo

[2019-12-09 07:22] xiaoyusu opened #2073 "if figure title is chinese, web page will print error."
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?

When i use vuepress to release a web page with markdown docs, if the title of the figure is in chinese, the web page will print errror. And the figure will not display .

#### What is actually happening?
support chinese figure name and its figure path.

#### Other relevant

[2019-12-09 08:43] meteorlxy commented on #2072
The docs of `enhanceApp.js` is here:

https://vuepress.vuejs.org/guide/basic-config.html#app-level-enhancements

Yes it's better to provide more examples for newcomers.

[2019-12-09 09:03] Otto-J commented on #2071
@ludanxer Thanks.

[2019-12-09 09:03] #2071 closed

[2019-12-09 09:59] ludanxer commented on #2073
Hi @xiaoyusu

I'm sorry I not sure what do you mean. Are you saying that something like the code snippet below is giving your error?

[code]

It works fine for me on VuePress `1.2.0` and Windows 10.

Can you provide more detail about how to reproduce the problem, your development environment, and the error message?

I suggest you double check the document about [Asset Handling](https://vuepress.vu

[2019-12-09 10:01] staghouse opened #2074 "enhanceApp does not always await all promises on page refresh"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. Create enhanceApp.js
2. Add 1 or more Promises
3. Store promises in Vue.prototype, siteData, etc, for example, `Vue.prototype.myPromisedData = await myPromiseFunction()`, though it doesnt matter if its a function or try/catch with storage on success
4. Retrieve, for example, `this.myPromisedDa

[2019-12-09 10:29] meteorlxy commented on #2074
Currently, enhanceApp does not handle async functions:

https://github.com/vuejs/vuepress/blob/c2bd6ded5015ede13a24252ca8f726f126e91073/packages/%40vuepress/core/lib/client/app.js#L93-L97

Maybe something like this, or use `Promise.all()` ?

[code]

[2019-12-09 10:36] staghouse commented on #2074
As a note, I have tried Promise.all as well, with some variation in consistency: Either all promises resolve, or none.

[2019-12-09 11:08] meteorlxy commented on #2060
Duplicate #1990

[2019-12-09 11:08] #2060 closed

[2019-12-09 11:11] meteorlxy commented on #1990
#2064 can partially fix this issue.

But I found `Object.assign` is still not polyfilled. Those polyfills are splitted into other bundles, which are not imported by webpack correctly.

[2019-12-09 11:31] xiaoyusu commented on #2073
The version of vuepress i use is 1.2.0
But envirment is Windows 7
If there are any methods to support as below?
[code]

[2019-12-09 11:41] meteorlxy commented on #1168
I've created a new branch to help find the bug:

https://github.com/meteorlxy/vuepress/tree/fix/polyfill

** Steps to repro **

- clone the repo and checkout to `fix/polyfill` branch.
- `yarn`.
- `yarn build:docs`, which will generate `vuepress/` folder in the project root.
- check `vuepress/assets/js/100.d7be016a.js`, which includes the polyfill of `Object.assign` that comes from `core-js`:

  ![

[2019-12-09 12:19] staghouse commented on #1514
This issue was a god send. `enhanceApp.js` currently does not support async data fetching so Vuex was my likely solution. Here is an example of async data on initial render of a component/page for the global state that does not re-fetch on route change and loads initially on page refresh (currently a problem with `enhanceApp.js` async fetching when working locally).

enhanceApp.js
[code]

store.js

[2019-12-09 14:10] ludanxer commented on #2073
Thanks a lot, I just successfully reproduce this on Mac.

Reproduction:

- [repo > chinese-image-name branch](https://github.com/ludanxer/vuepress-support/tree/chinese-image-name)

Walkaround:

- Rename the file to English
- Put all of your static assets in the [Public Files](https://vuepress.vuejs.org/guide/assets.html#public-files), and reference them by `[test](/测试.png)` instead of `[test](./测试

[2019-12-09 15:34] YujinGaya commented on #1703
Workaround for now:

[code]

[2019-12-09 16:08] #1921 closed

[2019-12-09 17:03] tretapey commented on #1606
Hello, I haven't tried this yet but I'm pretty sure that your browserslist is not including IOs 9, and there when it bundles is not supported.

Your actual browserslits configuration is: https://browserl.ist/?q=%3E1%25

I don't think that giving support for IOs 9 is needed though

[2019-12-10 15:25] bretterer commented on #2071
Thank you for this work as I tried to implement this in #1111 ... Is there any idea when the next release will happen which will include this work?

[2019-12-10 18:59] ellipticcurv3 commented on #2065
Fixed in https://github.com/ellipticcurv3/www/commit/4c5d2c77fa6af081d7da935fce62833ff87dd140. It was caused by an unnecessary import of `foundation-sites` (the javascript bundle), which obvs. caused a call to the `window` object, while it is not present in the node environment.

[2019-12-10 18:59] #2065 closed

[2019-12-11 07:58] atilkan opened #2076 "Network First Strategy for Service Worker"
## Feature request
Use **Network First Strategy** for Service Workers. It is annoying to see if there is a new version on every visit ( daily cache probably ).  It is on every docs site. I see it 5 times a day which i do visit 5-10 vue/plugin docs site a day. It is like a ad banner 5 times a day for year since vuepress.

![Screenshot_17](https://user-images.githubusercontent.com/1254613/70602095-a

[2019-12-11 21:38] sullivanpt opened #2077 "Import markdown content from non .md files, such as .raml"
## Feature request

#### What problem does this feature solve?

Currently much of the built in "magic goodness" of Vuepress such as auto generating sidenav menus and content search assume the raw page "_content" is markdown; (a reasonable simplifying assumption).  This proposed feature allows the raw page markdown _content to be transpiled from other file formats beyond just strictly ".md" files.

[2019-12-12 02:34] lindelof commented on #1857
First I recommend you use this library, [https://github.com/lindelof/particles-bg-vue](https://github.com/lindelof/particles-bg-vue).

Then the problem you mentioned is solved here https://github.com/nordicgiant2/vue-nice-homepage/blob/master/docs/.vuepress/components/Homepage.vue

[2019-12-12 04:39] JessicaSachs commented on #2046
Also having this issue.

[2019-12-12 07:33] huiminxu opened #2078 "Chinese title in sidebar is not properly highlighted after refresh"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Bug：When the address bar refreshes the page, the left side is no longer selected

#### What is expected?
Expected： When the address bar refreshes the page, the left side is selected
#### What is actually happening?
![image](https://user-images.githubusercontent.com/33274229/70692268-ed2dfa00-1cf5

[2019-12-12 07:36] huiminxu commented on #2078
![image](https://user-images.githubusercontent.com/33274229/70691826-fe2a3b80-1cf4-11ea-80e6-f1a89d5cf945.png)
![image](https://user-images.githubusercontent.com/33274229/70691830-02eeef80-1cf5-11ea-89e3-de56827c5969.png)

When the address bar refreshes the page, the left side is no longer selected

[2019-12-12 08:02] ludanxer commented on #2078
Hi @huiminxu ,

Can you provide more detail about how to reproduce this problem? or a minimal reproduction?

[2019-12-12 14:10] oupala opened #2079 "compress assets after static generation"
## Feature request

As some static server does not support on-the-fly compression, but can serve pre-generated compressed asset, it would be great if VuePress can generate a compressed version of each generated asset. This would ease hosting in solution like [GitLab pages](https://docs.gitlab.com/ee/user/project/pages/introduction.html#serving-compressed-assets).

#### What problem does this featu

[2019-12-13 00:59] huiminxu commented on #2078
When developing a page, the menu bar on the left shows the secondary title, click on a title, the right side of the display the contents of the title, the selected color on the left and the address bar is # 2 titles 。but refreshed in the address bar , the right still can display the contents of the corresponding title, but not on the left side of the selected state

[2019-12-13 02:10] ludanxer commented on #2078
Thanks a lot, this is also happening on the official website.

I think this problem is happening whenever the **URL contains Chinese characters**. Try [this Chinese translation](https://vuepress.vuejs.org/zh/config/#%E5%9F%BA%E6%9C%AC%E9%85%8D%E7%BD%AE), when you open the page, the title in the sidebar is not highlighted with green. When you click on the `基本配置` in the sidebar, it's highlighted but

[2019-12-14 03:59] showmethecode9527 opened #2080 "Why warning in custom container bu warn in built-in component Badge?"
## Feature request

#### What problem does this feature solve?
When using warning custom containers, we write like this:
[code]

and when using warn(warning) Badge, we write like this:
[code]

in custom containers is `warning` but in built-in component Badge is `warn`, why?

#### What does the proposed API look like?
[code]

#### How should this be implemented in your opinion?
use `warning` as a o

[2019-12-15 03:42] iLoveBug opened #2081 "vuepress dev docs不支持https"
## Feature request

#### What problem does this feature solve?
本地调试时采用https，可以调试一些特定组件如定位组件，这需要https，否则会被拒绝访问

#### What does the proposed API look like?
在config.js中可以这样写：
configureWebpack: (config, isServer) => {
    if (!isServer) {
      return {
        devServer: {
          open: true,
          https: true
        }
      }
    }
  }

#### How should this be implemented in your opinion?

##

[2019-12-15 05:31] bosens-China opened #2082 "How to debug with Visual Studio Code and add a property value of Lang"
## Feature request

I also saw chainwebpack in vuecli's document. It has a property, Vue inspect, which is convenient for me to check the configuration of internal webpack. Will vuepress add this property?
At the same time, for multiple languages, I can configure the attribute value of Lang to apply to the page, but if I just want to change the lang attribute of HTML page, such as lang = "zh", the

[2019-12-15 11:31] bosens-China opened #2083 "Hi, why does this text prompt errors? What is the correct way"
- [x] I confirm that this is an issue rather than a question.

## Bug report
  Errors compiling template:

  tag <T> has no matching end tag.
#### Steps to reproduce
[code]

#### What is expected?
By compiling
#### What is actually happening?
error
#### Other relevant information
[code]

[2019-12-15 12:49] ludanxer commented on #2083
@bosens-China Interesting use case, change:

[code]

into:

[code]

[2019-12-16 00:40] bosens-China commented on #2083
虽然这样做没问题，但是有没有更优雅的方式，这应该不是vuePress本身的问题

[2019-12-16 02:27] ludanxer commented on #2083
Sorry, I don't know if there is another way, so it's important that you **use English** here. People who could solve your problem may not speak Chinese.

Actually, if you put `Array<T>` directly in the comment and click preview, you will find the `<T>` disappeared, so I'm not sure that there is a better way.

[2019-12-16 05:18] bosens-China commented on #2083
Thank you. I found that escape characters can be used to solve this problem
Array&lt;t&gt;

[2019-12-16 05:18] #2083 closed

[2019-12-16 15:20] viktorsmari commented on #1021
This is a top hit on Google, but how do you use README.md as a 'normal readme' and not as a website?
I wanted to use the README.md as a guide how to set up the project.

So, I want to disable what VuePress does out of the box (converting a README.md to an index.html)
and simply use a index.md instead.

Is this easily possible? (And why on earth is it not the default behaviour)

[2019-12-17 01:48] tolking commented on #2082
locales: { '/': { lang: 'zh-CN' }},

[2019-12-17 03:43] bosens-China commented on #2082
Thank you, locales: {'/': {Lang: 'zh CN'}}, valid

[2019-12-18 10:24] #2047 closed

[2019-12-18 10:26] kefranabg commented on #2054
The fix will be available in the next release

[2019-12-18 10:26] #2054 closed

[2019-12-18 11:00] kefranabg commented on #2067
I don't really get what your problem is. Could you provide a concrete example?

[2019-12-18 11:04] #2082 closed

[2019-12-18 14:13] ludanxer commented on #2081
Hi @iLoveBug , please try to use English next time, so everyone can understand you.

---

`vuepress dev docs` do not support `https`

**What problem does this feature solve?**

While developing locally, some components need `https` to work.

**What does the proposed API look like?**

You can write in the `config.js` like:

[code]

[2019-12-18 21:55] JorgeMorata commented on #1804
It's like @thedamon said. I think it's not needed a repo to explain the failure. However, now i fix the problem deleting the broken link, but i think it would be nice to solve it or make it configurable in future releases of vuepress.

Thank you!

[2019-12-19 10:38] kid1412621 opened #2084 "Official github action support?"
## Feature request

#### What problem does this feature solve?
I've found an [unofficial Github action workflow](https://github.com/marketplace/actions/deploy-to-vuepress) which enables to deploy vuepress project via Github action.
#### What does the proposed API look like?
An official workflow.
#### How should this be implemented in your opinion?
Create one.
#### Are you willing to work on this y

[2019-12-19 14:27] kefranabg commented on #2084
From what I've seen, it's just using https://github.com/grasilife/github-pages-deploy-action project.

But maybe having a GitHub action that builds and deploy VuePress to GitHub pages is an interesting idea.

[2019-12-19 14:29] kefranabg commented on #2081
🤔

@iLoveBug can you provide more context?

[2019-12-19 14:34] kefranabg commented on #2080
Actually `warning` value is already supported for the type property, but documentation is not up to date. I'll do an update.

[2019-12-19 15:50] kefranabg commented on #1804
Why would you want to continue the build process, if a resource cannot be found?

Adding an option that allows users to continue the process even if there is broken link does not like a good idea. It would be like "encouraging" users to do mistakes, and don't explicitly notify them know about it.

[2019-12-19 15:55] kefranabg commented on #1992
Hi @nimitbhargava are you still working on this one?

[2019-12-19 18:12] JorgeMorata commented on #1804
@kefranabg  The app, allows to a multibackend (and multi-git repo) ecosystem developers to publish their app documentation. The publish process is centralized in a pipeline that extract all the repositories documentation and publish in a "marketplace" (vuepress app).

If an app fails to create its documentation (that is completly alien from anothers apps), all the others app are affected and canno

[2019-12-19 20:41] mattcotter commented on #251
I found a pretty simple solution that doesn't require any additional workarounds and uses packages already built in Vuepress. Since this was the first thing that popped up in google, I'll go ahead and document my solution here.

You can route your YAML through a simple custom component like this:

**Component.vue**
[code]

**Your markdown file will look something like this:**
[code]

You should al

[2019-12-20 02:17] iLoveBug commented on #2081
I am developing a vue-based map library, and plan to use VuePress as the documentary tool. During the development, I found I need HTTPS support, for example, I need call the location API to do the further route planning. But recently, location API is forbidden by default for HTTP request, and only allowed for HTTPS. That means I could not do local debugging.

So I prefer to have an easy config met

[2019-12-20 10:12] kefranabg commented on #2081
You can't get HTTPS in a local environment. If you're talking about the [html Geolocation API](https://developer.mozilla.org/fr/docs/Web/API/Geolocation_API) you can use it with localhost.

[2019-12-20 10:12] #2081 closed

[2019-12-21 13:46] EmiyaYang commented on #2058
怎么过了这么久都没合上去

[2019-12-21 19:55] thedamon commented on #1804
Say you have an error that makes one link on one page out of 100000 not
work. It’s nice if that doesn’t stop the whole site from working. Sure it’s
nice to fix it, but I’m a large project with lots of work to get done it’s
nice to be able to prioritize the work that has the biggest impact.

I think it’s okay and normal to launch software with known bugs (also
important to fix them)

I’d still be a

[2019-12-21 20:15] hustjiangtao opened #2087 "Support footer link for beian"
## Feature request

#### What problem does this feature solve?

Add footer link for beian in China.

#### What does the proposed API look like?

Just add a <a> link in footer container which can config by  YAML front matter.

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

No.It will be a necessary in China from now on, so it's a better idea to

[2019-12-22 01:35] ludanxer commented on #2087
@hustjiangtao I don't think that the particular footer format for Chinese website would be supported, but allow users to add a unified footer for the whole website may be quite handy.

For now, I think you can try to use [theme inheritance](https://vuepress.vuejs.org/theme/inheritance.html#theme-inheritance) like the [official website](https://github.com/vuejs/vuepress/tree/master/packages/%40vuep

[2019-12-23 04:33] jetaimefrc opened #2088 "Support linear-gradient color in styles"
## Feature request
Yes, like title, I can not use linear-gradient color in `$accentColor` or something! Now I just saw that Vuepress support RGBA or HSLA color

[2019-12-23 06:55] #2080 closed

[2019-12-23 12:11] talltotal commented on #77
**add `config.resolve.alias` for `@temp/override.styl`**

vuepress@1.x 会加载 `main` of `package.json`（vuepress@0.x 不会）

[code]

[2019-12-23 13:34] zzyyxxww commented on #1869
thank you @itellboy @PeppeL-G for reproducing this issue and finding a workaround.
I think it's non obvious and should be mentioned in the documentation.

[2019-12-23 13:37] SanaviaNicolas opened #2089 "How to create a dynamic vue component and include it on vuepress"
I would like to create a dynamic vue component handle by an input text.

For example I have this phrases:

- My name is ` `
- ` ` has all root privileges

If an user insert his name in the component I would like to read:

- My name is `John Doe`
- `jdoe` has all root privileges

How can I integrate this in a vuepress .md file?

Thank  you for your support.

[2019-12-23 16:46] favoyang opened #2090 "Solve ChunkLoadError issue after new deployment"
## Feature request

#### What problem does this feature solve?
I use Netlify to deploy a vuepress website. If I leave the website open in browser, then have a new deployment right after, the existing web page will be no longer functional. i.e. search in the existing web page, click on one item. It was hanging.

The console shows the issue of 404

![image](https://user-images.githubusercontent.com/

[2019-12-23 17:50] favoyang commented on #2090
Related posts
- https://community.netlify.com/t/keep-js-chunks-from-old-deploys/5991
- https://github.com/gatsbyjs/gatsby/issues/18866

Seems the suggestion is either
- Catch the chunk error then do a reload
- Starts a service to check etag of index.html regular, then do a reload
- The reload can be a graceful alert like the pwa plugin did

[2019-12-23 17:55] favoyang commented on #2090
Maybe related https://github.com/vuejs/vuepress/issues/2076

[2019-12-23 20:30] fangbinwei opened #2091 "@vue/component-compiler-utils should be dependency of @vuepress/shared-utils"
- [x] I confirm that this is an issue rather than a question.

## Bug report
#### Steps to reproduce

[github repo](https://github.com/fangbinwei/vuepress-dep-issue)
[code]
error:
[code]
#### What is expected?
vuepress build successfully

#### What is actually happening?
Affected by devDependencies of my repo, `@vuepress#core#vue-loader#@vue/component-compiler-utils` won't be hoisted. so `parseVue

[2019-12-24 02:45] meteorlxy commented on #2089
https://vuepress.vuejs.org/guide/using-vue.html

[2019-12-24 02:45] #2089 closed

[2019-12-24 06:46] veaba opened #2092 "Can the sidebar support custom fields?"
Like:

[code]

Missing field：
![image](https://user-images.githubusercontent.com/8652596/71398586-d96e8600-265b-11ea-99e3-206c700b271b.png)

The source code should be limited, or can you tell me how to support it?

Sometimes, I may need to make a mark, such as:

![image](https://user-images.githubusercontent.com/8652596/71398670-218da880-265c-11ea-8cf1-14f907a62ac4.png)

[2019-12-24 06:58] ludanxer commented on #2092
You can try to use [Theme Inheritance](https://vuepress.vuejs.org/theme/inheritance.html#theme-inheritance) to [override ](https://vuepress.vuejs.org/theme/inheritance.html#override-components)the relavent components

[2019-12-24 08:27] veaba commented on #2092
Reload  CLI ,  will be see it.
Remember to modify the util/index.js file

[2019-12-24 08:27] #2092 closed

[2019-12-24 08:45] jetaimefrc opened #2093 "Using plugin like a slot with props"
## Feature request
Like title, assuming I use `vuepress-plugin-tabs` like this:

[code]
In a lot of page, I write it many times. How can I write 1 time with the props:

[code]
and use it like a slot

[code]

[2019-12-25 18:23] AntoineAugusti commented on #2054
Hello!

Any way to use the `master` version with this unreleased fix?

I've tried pulling the master version in `package.json` with `"vuepress": "vuejs/vuepress#master",` but the `vuepress` CLI is unavailable after installation.

[2019-12-26 11:17] nimitbhargava commented on #1992
I got stuck while running VuePress locally.
@kefranabg Is it possible to pair up for sometime?

[2019-12-27 06:52] adarshmadrecha opened #2094 "[Suggestion] Offline Google Analytics"
## Feature request
Can we enable offline analytics through [Google Workbox](https://developers.google.com/web/tools/workbox/guides/enable-offline-analytics) ?

#### What problem does this feature solve?
Send Analytics data to Google, even when PWA is enabled

#### What does the proposed API look like?
There would be a configuration to enable sending the data.

#### How should this be implemented i

[2019-12-27 10:25] Mister-Hope opened #2095 "Test Components"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I was tring to test my theme conponents like [this](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/theme-default/__tests__/components/NavLink.spec.js)

But I can't find documentations about `@vuepress/test-utils`。

And I got

[code]

## Feature Request

Add a document about @vuepress/test-utils

[2019-12-27 12:49] NickolasBoyer opened #2096 "SCSS SourceMaps are not being generated correctly"
- [x] I confirm that this is an issue rather than a question.

## Bug report
SCSS/SASS sourcemaps are not being generated correctly when SCSS or SASS from `.vue` files is used. The line numbers do not match because of the lack of empty lines to offset the start line.  Usually Vue projects solve the problem of having other content(`template`, `script`) in the same file by adding empty lines before

[2019-12-27 14:15] Hill-98 opened #2097 "Front Matter: inconsistent date property"
- [x] I confirm that this is an issue rather than a question.

## Bug report

![1.png](https://i.loli.net/2019/12/27/eZXsVTC1ODq7Rja.png)
![2.png](https://i.loli.net/2019/12/27/m1ArDanbixezG3P.png)

As shown, if a two-digit date, $frontmatter.date have different performance behaviors.

This problem affects how the subject developer handles time

#### Steps to reproduce

https://github.com/Hill-98/

[2019-12-28 01:11] itsxallwater commented on #1560
Agreed, would be nice to see your solution @JimmyVV!

[2019-12-28 10:31] Axieum opened #2098 "Move layout components outside of Vue instantiation"
## Feature request

#### What problem does this feature solve?

Ability to change root level components.

#### What does the proposed API look like?

[code]

#### How should this be implemented in your opinion?

Move hardcoded components such as `.global-ui` into the `GlobalLayout.vue` component, this almost every aspect is manageable.

#### Are you willing to work on this yourself?

Being new to

[2019-12-30 02:29] meteorlxy commented on #1878
Maybe related to #1560

[2019-12-30 08:06] newsbielt703 opened #2100 "--debug goes with --no-clear-screen automatically in dev mode"
## Feature request

#### What problem does this feature solve?

Anyone who run `vuepress dev --debug` want to see the logs. But if they don't run with `--no-clear-screen`, logs will be cleaned.

#### What does the proposed API look like?

`--debug` goes with --no-clear-screen automatically in dev mode.

#### How should this be implemented in your opinion?

#### Are you willing to work on this your

[2019-12-30 08:36] sustained opened #2101 "Jekyll collections."
## Feature request

[Jekyll collections](https://jekyllrb.com/docs/collections/) are a wonderful feature and I recommend that you read those docs as it will explain it better than I can.

They allow you to group related pages, like "members of a team" or "talks at a conference" and then to use that data in *other pages*.

By default collections don't render their own pages / generate their own rou

[2020-01-01 13:21] yuicer opened #2104 "[gray matter] will default transform date format string to utc time"
vuepress `"version": "1.2.0"`

well , I find that if I write
[code]
into the MD file.
the $frontmatter.date will be `date: "2019-06-16T17:32:27.000Z"`
it seems the package `"gray-matter": "^4.0.1",` will transform the Date into UTC time.
`vuepress/packages/@vuepress/shared-utils/src/parseFrontmatter.ts`

this is definitely unfriendly to the blog powered by vuepress.
can we have some configuration

[2020-01-02 08:31] upcwangying opened #2105 "How to set the value of threshold in the back-to-top plugin?"
- [x] I confirm that this is an issue rather than a question.

How to set the value of `threshold` in the `back-to-top` plugin?

[2020-01-02 08:34] meteorlxy commented on #2105
It's not available yet.

---

So why you check this?

[2020-01-02 08:53] upcwangying commented on #2105
Thanks. Is this not a bug?

[2020-01-02 08:54] meteorlxy commented on #2105
It's not listed in the docs: https://vuepress.vuejs.org/plugin/official/plugin-back-to-top.html

You can only find it in the source code.

If you want this feature, you can open a Feature Request, or create a Pull Request for it.

[2020-01-02 08:54] #2105 closed

[2020-01-02 09:08] upcwangying commented on #2105
In my opinion, properties defined in props are for modification by third parties, unless defined in data or in the form of constants

[2020-01-02 14:33] sdaitzman opened #2106 "README.md unpredictably sometimes takes priority over index.md"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
1. Create index.md in project root // *site builds from index.md*
2. Create README.md in project root // *site still builds from index.md locally and on my Netlify deploy*
3. Continue working // *site sometimes builds from README.md now, and sometimes builds from index.md*

#### What is expected?

[2020-01-02 23:51] itsxallwater commented on #1560
I've got an overload to `core/lib/node/build/index.js` and an addition of `core/lib/node/build/worker.js` to leverage Node's `worker_threads` that I've been testing out.

For background, we've got a repo with ~2250 pages (producing a `dist` of ~4800 files / 350 MB) that was building in 1 hour, 20 minutes with the current release of Vuepress. With these changes in, I'm now getting the following tim

[2020-01-03 01:53] JimmyRice opened #2107 "details block doesn't seem to work"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

I entered in the Markdown file as instructed by the documentation

[code]

It doesn't seem to work

#### What is expected?

Details box can appear

#### What is actually happening?

VuePress parsed into ordinary text, no details box appeared

#### Other relevant information

My vuepress version:

[2020-01-03 02:00] meteorlxy commented on #2107
This feature is unreleased now. It will be available in v1.3.0.

[2020-01-03 02:00] #2107 closed

[2020-01-03 02:00] ludanxer commented on #2106
Hi @sdaitzman , currently both `README.md` and `index.md` will be built into `index.html`, so I think you should try to avoid putting both of them in the same location. I didn't try your scenario a lot, but in my case, `index.md` never get build.

If you want to use the `README.md` simply to describe your project and don't want vuepress to build it. You can try to use [patterns](https://vuepress.v

[2020-01-03 14:05] sdaitzman commented on #2106
@ludanxer thank you, that sounds reasonable! I'll work around this.

[2020-01-03 14:05] #2106 closed

[2020-01-03 14:10] sdaitzman commented on #2098
I'm very interested in this. Specifically, I'd like to add a <Transition> element that exists as a parent of the router element <GlobalLayout>. The GlobalLayout component is one layer too far down in the tree to be useful for this, and the devTemplate/SSRTemplate is one layer too high, if I understand correctly.

[2020-01-03 14:58] sdaitzman commented on #1884
@CodesOfRa are you still planning to work on this? I'm considering writing a plugin from scratch, but don't want to duplicate your work, especially if there's any work I could do to help.

The simplest implementation I've come up with so far would just involve adding a Vue <Transition> component as a parent of the <GlobalLayout>, which (if I understand correctly) should handle timing and expose th

[2020-01-03 15:04] Axieum commented on #2098
Yes, this feature is mostly so that I can have full control of the DOM. For example, achieve a structure like:

[code]

[2020-01-03 15:11] sdaitzman commented on #2098
@Axieum for your use case, I think the current implementation may already work. You should be able to modify your devTemplate and ssrTemplate to include a parent div of the Vue root (div#App), vary the class of that, and style according to whether the elements you’re working with are a descendant of that. Let me know if you’d like more specifics/explanation of what I mean.

None of what I just des

[2020-01-03 23:32] itsxallwater commented on #1560
We ran this in prod okay today but I've got some work to be done on prepping that PR, including things I'd like to smooth over with my implementation:

1. Make the thread count and verbose flags config driven
2. Extend the worker logging to include progress bars
3. Perhaps even do some Node version sniffing to allow it to build as-is without requiring Node's `worker_threads` for better backwards c

[2020-01-04 04:25] sdaitzman commented on #1884
A much-refined proof-of-concept version of the idea I describe, written by @jdtzmn as a patch rather than a plugin, is here: https://github.com/jdtzmn/vuepress

This implementation would also meet #2098, I think (@Axieum confirm?). It allows for any custom root combination of Vue components to replace the default router setup.

Tomorrow, I'll try to get an example live. If this is a useful feature

[2020-01-04 06:20] Axieum commented on #1884
Yes, this appears to solve #2098, however will need modifying to remove a couple set in stone elements; see comment on commit jdtzmn/vuepress@aa638ee8411cacb28f51f1ef42acfbc12ae23a78#r36658709

[2020-01-04 10:29] upcwangying commented on #1957
I have the same problem, how do you solve it ?

[2020-01-04 13:38] sdaitzman commented on #1884
@Axieum can you describe your use case for those additional modifications?

[2020-01-04 15:58] newsbielt703 opened #2108 "Rename palette.styl"
## Feature request

`palette.style` should be renamed since it's not only relevant to colors.

See [config.styl](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl).

#### What problem does this feature solve?

The name may confuse developers.

#### What does the proposed API look like?

rename  `palette.style` to `variables .style` or something el

[2020-01-04 16:30] newsbielt703 opened #2109 "The contribution guideline is duplicated to the local development section of the Docs"
## Feature request

#### What problem does this feature solve?

[The contribution guideline](https://github.com/vuejs/vuepress/blob/master/.github/CONTRIBUTING.md) is duplicated to [the local development section of the Docs](https://vuepress.vuejs.org/miscellaneous/local-development.html).

#### How should this be implemented in your opinion?

sync them.

[2020-01-05 01:29] captainAldi opened #2110 "Why I can't use plugins in vuepress ?"
- [ ] I confirm that this is an issue rather than a question.

## Bug report
I can't use plugins in my vuepress

#### Steps to reproduce

1) make a empty folder
2) create readme.md and some folder then sub *.md file
3) install a plugins that refer to official docs of vuepress and some youtube videos
4) It says i dont have pakcage.json
5) i create it, and add "script.."
6) i install the plugin agai

[2020-01-05 01:36] ludanxer commented on #2110
@captainAldi can you share your repo? So that I can better understand what you are doing.

[2020-01-05 02:02] ludanxer opened #2111 "Refine getting started documentation"
## Feature request

The [Getting Started](https://vuepress.vuejs.org/guide/getting-started.html#getting-started) section does not contain the situation described in #2110 (Start from scratch, local install). And it doesn't mention nor provide a link about [Using a plugin](https://vuepress.vuejs.org/plugin/using-a-plugin.html) or [Using a theme](https://vuepress.vuejs.org/theme/using-a-theme.html).

[2020-01-05 03:54] #2088 closed

[2020-01-05 03:54] #2093 closed

[2020-01-05 04:20] captainAldi commented on #2110
https://github.com/captainAldi/vuepress-test

Thats my repos

[2020-01-05 19:25] Buydens opened #2112 "Using Vue components with slot in Markdown files."
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
Create a component "MyComponent" under .vuepress/components like so:
[code]

#### What is expected?
That when the component is used in a .md file as such:
[code]
The text _"My text for in this component"_ is **rendered as a p tag.**

#### What is actually happening?
The text is **rendered as a cod

[2020-01-05 21:25] AntoineAugusti opened #2113 "Using the master version of VuePress"
Hello there 👋

I'm interested by the fix in #1951, but it hasn't come out yet. While waiting for the next release with this fix, **I'd like to use the `master` version of VuePress.**

I've tried pulling the master version in `package.json` with `"vuepress": "vuejs/vuepress#master",` but the `vuepress` CLI is unavailable after installation. Running `npm install github:vuejs/vuepress` gives an error

[2020-01-06 00:28] liudonghua123 commented on #1957
@upcwangying You should fix the file path in markdown snippets.

[2020-01-06 01:45] ludanxer commented on #2110
I'm not sure which specific plugin are you referring to. Can you provide more detail to indicate that this is a VuePress' bug?

[2020-01-06 01:50] ludanxer commented on #2112
The project created by `yarn create vuepress` has the version `1.1.0` if I remember correctly.

Can you upgrade it to `1.2.0` and give it a go again?

[2020-01-06 02:40] captainAldi commented on #2110
when i using
https://vuepress.vuejs.org/plugin/official/plugin-medium-zoom.html#install
and follow the docs, its not working..

when i use
https://vuepress.vuejs.org/plugin/official/plugin-medium-zoom.html#install
and follow the docs, restart the dev.. its working..

why is that ?

[2020-01-06 02:49] ludanxer commented on #2110
Well, there is a known issue regarding the hot reload problem: #1283 . You can find more information there.

Basically, if something is not working, try to restart the service.

If this solves your problem, please close this issue, thanks.

[2020-01-06 03:50] captainAldi commented on #2110
sorry but the seecond link is different plugin, i updated it..my fault that i wrong paste it before to the same link in the first place...

i still cant use the official plugin medium zoom or back to top..

[2020-01-06 05:36] ludanxer commented on #2110
Run `yarn add -D vuepress` to **install VuePress locally**, your problem should be solved. Check out [install inside an existing project](https://vuepress.vuejs.org/guide/getting-started.html#inside-an-existing-project) for more detail.

Thanks for your report.

BTW, you forget to enable [plugin back to top](https://vuepress.vuejs.org/plugin/official/plugin-back-to-top.html) in the `config.js`.

[2020-01-06 06:24] newsbielt703 commented on #2104
It's the intended behavior of [yaml](https://yaml.org/type/timestamp.html).

[2020-01-06 06:53] captainAldi commented on #2110
Thanks, when i install vuepress locally in my project with yarn its success..
but not with npm.. i dont know why.. (i see in this docs, that to install on existing project using yarn instead)

but i think, i'm not add vuepress in existing project..

i just installed globally and then i think i dont have to install it locally again (cause i start from scratch)

thanks for your help, sorry that i pe

[2020-01-06 06:53] #2110 closed

[2020-01-06 08:46] RyanGreenup commented on #289
If anybody else is facing a similar problem and really wants to use MathJax rather than KaTeX (in order to support `\label{}` in an `align` environment rather than merely `\tag{]` in an `\[ aligned \]` environment for instance) a similar thing can be done by injecting the [*cdnjs* MathJax script](https://docs.mathjax.org/en/v2.7-latest/start.html):

[code]

Which can be acheived in *VuePress*, as

[2020-01-06 09:03] zhengxiaodong502 opened #2114 "Html Webpack Plugin is error"
TypeError: Cannot read property '0' of undefined

  - index.js:14 exports.normalizeHeadTag
    [myBlog]/[@vuepress]/core/lib/node/util/index.js:14:22

  - HeadPlugin.js:23 tags.forEach.tag
    [myBlog]/[@vuepress]/core/lib/node/webpack/HeadPlugin.js:23:28

  - Array.forEach

  - HeadPlugin.js:22 compilation.hooks.htmlWebpackPluginAlterAssetTags.tapAsync
    [myBlog]/[@vuepress]/core/lib/node/webpa

[2020-01-06 10:03] #2055 closed

[2020-01-06 10:10] newsbielt703 commented on #2114
Please use issue template.

[2020-01-06 10:10] #2114 closed

[2020-01-06 10:53] meteorlxy commented on #2108
Breaking change

[2020-01-06 10:56] meteorlxy commented on #2108
To avoid a major version release, we can keep the `palette.styl` and display a deprecation notice if `palette.styl` exists.

[2020-01-06 11:01] meteorlxy commented on #2113
Vuepress repo is a monorepo, so it cannot be installed via github source.

BTW, please follow the issue template

[2020-01-06 11:01] #2113 closed

[2020-01-06 11:10] newsbielt703 commented on #2108
Sounds good.👌

[2020-01-06 12:42] meteorlxy commented on #2058
JSX is not a default feature of vuepress. The JSX support from babel will be disabled if `evergreen` is set to `false`. So I'm not sure if this feature will be added to core.

[2020-01-06 14:39] yuicer commented on #2104
@newsbielt703
thanks, I think I will get it transformed myself

[2020-01-06 16:04] mariofriz commented on #1168
Any updates on this ? It looks like some polyfills make it in but not all required.

I was able to resolve it temporarly using polyfill.io. For me I was only missing: `Object.assign, Promise and NodeList.forEach`.

[code]

[2020-01-07 07:25] at15 commented on #2084
Since this comes up first in search result, I thinkhttps://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-static-site-generators-with-nodejs, it has better documentation. Maybe it should be added to https://github.com/vuejs/vuepress/blob/master/packages/docs/docs/guide/deploy.md ?

[2020-01-07 11:45] zhengxiaodong502 opened #2115 "Html Webpack Plugin is error"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?
### I hope to search my keywords through the crawler
#### What is actually happening?
### I configure it in config.js
[code]
#### Other relevant information
TypeError: Cannot read property '0' of undefined

index.js:14 exports.normalizeHeadTag
[myBlog]/[@vuepress]/core/lib/

[2020-01-07 15:25] Mister-Hope commented on #2038
When can this be publish? 😭
This is the second bug I met since the 1.2.0 release @ulivz , please spend a couple of minute publishing a new version. It has been almost three month.

[2020-01-07 19:40] Buydens commented on #2112
Hey,

Upgraded, but it didn't seem to do the trick:

[code]

Still renders the slot as a code tag.

[2020-01-08 03:18] changeLong commented on #1591
the same problem

[2020-01-08 03:30] jjangga0214 opened #2117 "Auth"
Maybe adding an Authentication tutorial or guide for private Vuepress websites would be good?

[2020-01-08 05:28] #2104 closed

[2020-01-08 05:34] newsbielt703 commented on #2117
Please use issue template.

[2020-01-08 07:51] fsodano commented on #222
Is there a better way to achieve this nowadays? For now I'm forced to do:

`<Content :page-key="$site.pages.find(p => p.path === '/my-page.html').key"/>`

Cheers.

[2020-01-08 09:56] jjangga0214 opened #2118 "Allow "Partial" `Import Code Snippet`"
## Feature request

#### What problem does this feature solve?

`Import Code Snippet` feature is cool. Users don't have to copy and paste code from the original file. It does not require "syncing" when the the referred file is modified.

However, in most cases, I'd want to import just a few lines from the source code. Because the entire file would be obviously "long" in many cases, and contains "u

[2020-01-08 14:45] jjangga0214 commented on #2117
@newsbielt703 I updated the issue by themplate with more context.

[2020-01-08 17:15] jamesgeorge007 opened #2119 "[CLI]: 🔔Notify users if they're using an older version"
## Feature request

#### What problem does this feature solve?
Users are notified about a newer release and they no longer have to stay on an outdated version.

#### How should this be implemented in your opinion?
[update-notifier](https://www.npmjs.com/package/update-notifier) serves the purpose here. As from the tagline, `Inform users of your package of updates in a non-intrusive way`.

#### Are

[2020-01-08 17:38] m-mohr commented on #1803
This is really annoying as it breaks a lot of links after the migration. I though it works and deployed, but now all my redirects are not working and users are stuck with a 404 (in my case). Is there any workaround? Please fix asap.

[2020-01-09 06:33] orieg opened #2120 "Support for Component-level Caching in vue-server-renderer"
## Feature request

This feature request is to support, during vuepress build, the component-level caching of vue-server-renderer as documented in https://ssr.vuejs.org/guide/caching.html#component-level-caching.

Currently, vuepress use createBundleRenderer from vue-server-renderer without implementing the cache parameter. The feature request is to add support for the cache parameter via the site

[2020-01-09 06:44] orieg commented on #2079
I don't think it needs any changes in Vuepress. You can use the vuepress config and configureWebpack to configure the webpack compression plugin. See https://webpack.js.org/plugins/compression-webpack-plugin/

[2020-01-09 10:46] kefranabg commented on #2119
Thanks for the report @jamesgeorge007 , feel free to work on it if you're interested 👍

[2020-01-09 19:58] artmarydotir opened #2122 "vuepress installation success, but faild to run vuepress dev"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

- yarn global add vuepress # OR npm install -g vuepress
- mkdir vuepress-starter && cd vuepress-starter
- echo '# Hello VuePress' > README.md
- vuepress dev

#### Version
vuepress: 1.2.0
OS: Ubuntu 18.04

#### What is expected?
vuepress works

#### What is actually happening?
[code]
#### Other re

[2020-01-09 21:19] realityfilter commented on #79
We hit the same problem. We want to use urls in the frontmatter for use in custom components like image sliders. Is there any workaround for this except putting assets in the public folder?

The use of the public folder is problematic for us for the following reasons

- the typical maintainer should have no access to the hidden public folder
- most images are localized and should be near their cor

[2020-01-10 13:08] xr0master commented on #2117
You can see how I did it for my website [EmailJS](https://www.emailjs.com/) In short, vuepress is good for a home site. If you need authorization somewhere, then it is better to do it where it is needed. IMO

[2020-01-10 14:33] jjangga0214 commented on #2117
@xr0master
In my company, I want to maintain our internal docs by Vuepress.
Because Vuepress support markdown well, it's a good choice for our development docs.
However, docs are private. That's why I want to implement auth with Vuepress.

[2020-01-10 20:48] xr0master commented on #2117
For my company, I did a similar thing through IP restrictions. All go through VPN...
Otherwise, it is relatively difficult to do this without your own server, which will give certain permissions to certain users.

[2020-01-11 06:31] jjangga0214 commented on #2117
@xr0master
Well, I think we would not want to rely on VPN.
For example, we want to let "temporarily authenticated user", who is not our employee or admin, access to our docs. I'd be not suitable to require the user to connect our VPN.

But thanks for the sharing!

[2020-01-11 06:40] jjangga0214 commented on #2117
By the way, it seems webpack output does not fit with route-based authorization.

![Screenshot from 2020-01-11 15-20-29](https://user-images.githubusercontent.com/28584151/72199974-db6f7c00-3486-11ea-8f35-197a0f8c4a19.png)

Every compiled js files are in a single directory, `assets/js`.
I can't apply route-based reverse proxy policy, for example, because I don't know which files belong to  which r

[2020-01-11 08:49] iashraful commented on #79
This is a good hack. But not a good solution I guess. 😞

[2020-01-11 09:37] s2265681 opened #2124 "部署到github.io上样式不生效"
![image](https://user-images.githubusercontent.com/41536679/72202322-ecc18400-3498-11ea-9b15-f406debf06af.png)

source里面显示html没有加载css文件，不知道哪里出了问题，本地dist文件里面的html也不能正常显示，vuepress dev . 本地运行是对的

[2020-01-11 09:38] s2265681 commented on #2124
https://s2265681.github.io/

[2020-01-11 10:56] ludanxer commented on #2124
@s2265681 Please use the **issue template**, and **use English** so everyone can understand you. Thanks.

And there is no source code on your repo, so I don't know how to help you.

Please go through the document carefully, especially the [Github Pages](https://vuepress.vuejs.org/guide/deploy.html#github-pages) section. And make sure that you Set correct base in docs/.vuepress/config.js.

[2020-01-12 10:06] fengxinming opened #2127 "can not override config.styl globally"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. create a file 'config.styl'
[code]

2. edit file '.vuepress/config.js`
[code]

#### What is expected?

initialized `$textColor` `#2c3e50` is replaced with `#000000`

#### What is actually happening?

nothing happens

#### Other relevant information

look up code in file `@vuepress/core/lib/nod

[2020-01-12 10:44] ludanxer commented on #2127
Hi @fengxinming , are you trying to change the [default preset varibles](https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl)? Can you try to override them in the `palette.styl` as the [document](https://vuepress.vuejs.org/config/#palette-styl) suggested?

[2020-01-12 11:39] fengxinming commented on #2127
@ludanxer I am going to develop a custom theme that base on `theme-default` like `vuepress-theme-xxx`, so I would like to override some default preset variables like
[code]

[2020-01-12 12:26] Buydens commented on #2112
Hello,

I started a new project, this time not using `yarn create vuepress` .
Now it looks to work just fine. However I cannot identify what went wrong in the earlier project on which I based this topic.

[2020-01-12 16:02] #2119 closed

[2020-01-13 00:47] pattrickrice commented on #134
These anchor tags can be hidden by placing the following in your .vue-press/theme/Layout.vue
[code]

[2020-01-13 02:35] meteorlxy commented on #2117
This feature can be achieved by this plugin: [vuepress-plugin-named-chunks](https://vuepress.github.io/en/plugins/named-chunks/)

[2020-01-13 03:34] CaiPeng1989 commented on #2122
[temp](https://vuepress.vuejs.org/config/#temp)

Specify the temporary directory for client.

[2020-01-13 04:19] meteorlxy commented on #2122
@CaiPeng1989 has provided the valid solution.

We may need to refine the documentation about this.

[2020-01-13 04:20] #2124 closed

[2020-01-13 04:43] meteorlxy commented on #2127
Use `palette.styl`.

But it's somthing can be enhanced. See #2129

[2020-01-13 06:31] Balmat opened #2130 "Not generating page, it shows 404 page"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### Page should redirect to the respective page

#### Its only showing home page and other internal pages not showing
1. I have created three pages Home, Guides, Info
2. Guides, Info page when redirect it shows 404 page

Here is the source code, please rename "vuepress" to ".vuepress"  folder
ht

[2020-01-13 07:43] meteorlxy commented on #2118
See #1336

For now, you can try this markdown-it plugin: https://github.com/fabbballin/markdown-it-vuepress-code-snippet-enhanced

[2020-01-13 08:44] heiyehk opened #2131 "Prev / Next Links display abnormally and cannot be disabled"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
I don't know how this problem appeared.this is my github address.
[github address](https://github.com/heiyehk/githubio)

#### Versions
node:12.13.1
npm:6.12.1
vuepress: ^0.14.8-1.2.0
OS: Windows 10

#### What is expected?
I want stable Prev / Next Links.
#### What is actually happening?
Prev / Nex

[2020-01-13 09:09] kefranabg commented on #2131
Hi,

prevLinks & nextLinks are not available in `0.14.8`. Please try it with a new fresh project with an updated version of VuePress. If it does not work, please provide to the repos.

[2020-01-13 09:09] #2131 closed

[2020-01-13 09:26] heiyehk commented on #2131
Hello
the screenshot above is the latest version of `1.2`. All articles are copied from `0.14.8`

[2020-01-13 09:35] heiyehk commented on #2131
![image](https://user-images.githubusercontent.com/33891067/72245262-19a5a080-362b-11ea-9bee-f4d5e13bd870.png)

[2020-01-13 10:06] fengxinming commented on #2127
@meteorlxy 我主要想定制一套主题基于`theme-default`，我在主题的index.js里面覆盖掉预置变量，当我在其它的文档里面引入我的主题后，又可以通过覆盖我的样式，`palette.styl`这个主要被开发者定制，我在插件中不能覆盖。

[2020-01-13 10:43] meteorlxy commented on #2127
`themePath/styles/palette.styl` is also supported

[2020-01-13 11:27] fengxinming commented on #2127
@meteorlxy 不错，这个方式也行，我之前没有看到。不过这个自定stylus参数覆盖先后顺序的问题可以看看。

[2020-01-13 16:32] MartinMuzatko commented on #79
Most headless CMS do it that way actually nowadays.
ForestryCMS is putting everything in the public path.

[2020-01-14 09:51] kefranabg commented on #2130
Your guides and infos folders should not be placed under .vuepress folder.

[2020-01-14 09:51] #2130 closed

[2020-01-14 10:02] kiviaj commented on #546
[vuepress-plugin-export](https://github.com/ulivz/vuepress-plugin-export) looks great for pdf export indeed, but what about the epub format? Is there any plan to evolve vuepress-plugin-export to support epub as well, unless the feature should rather be developed in a distinct plugin, what's your view on this?

[2020-01-14 14:10] kefranabg commented on #2115
Your config format is not correct. Use this instead
[code]

[2020-01-14 14:10] #2115 closed

[2020-01-14 14:13] kefranabg commented on #2111
Thanks for the report @ludanxer. Feel free to open an PR if you're willing to on work on this 👍

[2020-01-14 14:56] kefranabg commented on #1992
@nimitbhargava sorry for the delay 😅I just made the PR as it was just an html tag to add to the template. see #2133 Hope it's ok for you! Feel free to do a code review if you want to

[2020-01-14 16:23] ludanxer commented on #2111
Hi @kefranabg , Thanks for your reply! I have a question about the official way to quickly set up a VuePress site.

I know about the command `yarn create vuepress`, however, that package has not been updated for quite a while. Do you know if there is any plan to update it? Or a new CLI command `vuepress new docs` is expected?

[2020-01-14 20:53] cschweda commented on #1623
Is there an example of where to put this?
[code]

Where in ```config.js``` does this go?

[2020-01-15 03:09] whmmm opened #2134 "` git editLinks ` is not correct on the gitea"
## Feature request

#### What problem does this feature solve?
` git  editLinks `  is not correct on the gitea !

#### What does the proposed API look like?
![image](https://user-images.githubusercontent.com/22763406/72401312-9d27d480-3786-11ea-8523-26b7ca6cc282.png)

#### How should this be implemented in your opinion?
Add a paramter in `themeConfig`
#### Are you willing to work on this yourself?

[2020-01-15 03:30] MagicGary opened #2136 "Strictly followed the docs, but build failed"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Followed exactly the documentation here on deploying. But it failed for both Netfly and Heroku.

https://github.com/MagicGary/DouglasCourses

https://v1.vuepress.vuejs.org/guide/deploy.html
https://v1.vuepress.vuejs.org/guide/deploy.html#netlify
https://v1.vuepress.vuejs.org/guide/deploy.html#her

[2020-01-15 09:55] ludanxer commented on #2136
Hi @MagicGary , I notice your question on the [stackoverflow](https://stackoverflow.com/questions/59744648/vuepress-deployment-to-netfly-failed). As the answer said:

And when you deploy it to Netlify, you won't need to set `base` in the `config.js`, check out the [document](https://vuepress.vuejs.org/config/#base) for more detail.

[2020-01-15 14:57] venimus commented on #134
you would need to set
[code]
in `.vuepress/theme/config.js`

[2020-01-15 21:05] MagicGary commented on #2136
Hi @ludanxer

Thanks for the reply. I did take out the ``base `` in my ``config.js``. I first pushed to heroku, built succeeded but still showed the wrong index page.
I checked the Netlifty since it deployed automatically and that showed the correct index.
Went back to heroku site 5 mins later and it showed correctly, guess it has a tiny bit delay, huh?

[2020-01-15 21:05] #2136 closed

[2020-01-16 01:34] sunziping2016 commented on #1878
I have encountered the same problem when using vuepress with vuetify theme. And adding `<ClientOnly>` to the header and drawer components successfully solve this problem. Thanks a lot.

[2020-01-17 17:19] ozguruysal commented on #2112
I face the same issue too and noticed that it happens only when you use four-space indentation.

No indentation or 2-space indentation or wrapping the component in a `div` tag seems to work fine.

#### 4-space indentation doesn't work
[code]

#### 2-space indentation works
[code]

#### Wrapping the component in a div tag works regardless of the indentation used
[code]

[2020-01-18 03:52] pokitpeng commented on #2124
兄弟，你是怎么解决的，我也遇到了

[2020-01-19 08:36] Axieum commented on #1884
I just implemented `Content` level transitions very easily. I'm assuming this issue is related to being able to transition upper level elements closer to the `#app`?

[2020-01-19 15:59] stemount commented on #1757
As somebody who doesn't specialise in the frontend, when initially trialing Vuepress I was disappointed by its lack of out-of-the-box SCSS capability. I'd like to +1 this issue as we have an existing site using SASS and it seems like I am using a bit of a hack to import stylesheets.

Inside Vue components I was hoping to use `<style lang="scss">` as well.

[2020-01-20 08:04] zhixinpeng commented on #1173
same here, 1.2.0

[2020-01-20 08:10] meteorlxy commented on #1173
In current version, the cause of `Unknown Custom Element - <v-#####>` could be different from the original issue.

If anyone still meet with this problem, please open another issue and provide the reproduction steps / repo.

[2020-01-20 08:58] zhixinpeng opened #2139 "Unknown custom element: <v-xxxxxxx>"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

.vuepress/theme/Layout.vue

[code]

./a.md

[code]

./b.md

[code]

#### What is expected?

correct render

#### What is actually happening?

The first page I went to can render correctly, when I click link,The following error occurred

![image](https://user-images.githubusercontent.com/24643457/

[2020-01-20 09:47] #2100 closed

[2020-01-20 09:55] jenkey2011 opened #2140 "Cannot resolve `::: Vue` code block"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce
In the. MD file, if you use `::: Vue` code block, it cannot be parsed correctly, just like `README.md` in this project

#### What is expected?
I hope `::: Vue` code block can be parsed correctly, just like the official documents

#### What is actually happening?
`::: Vue` code block  cannot be par

[2020-01-20 12:56] sdaitzman commented on #1884
The issue is that, to implement smooth transitions between different routes (and, therefore, layouts) requires including a direct parent of the router-view Vue element and specifying transitions in the same Vue file.

[2020-01-20 15:05] vvni commented on #2139
这个问题我也遇到了，看到之前修复过这个问题，但是为什么v1.2.0还有这个问题呢？

[2020-01-21 05:49] newsbielt703 commented on #2140
It's not a feature of VP or default theme.

You might want to check out [vuepress-plugin-container](https://vuepress.github.io/en/plugins/container/).

And here's how we configure the docs - [source](https://github.com/vuejs/vuepress/blob/master/packages/docs/docs/.vuepress/config.js#L80)

[2020-01-21 10:04] jenkey2011 commented on #2140
Thanks @newsbielt703!  It works!
I will close the issue, thanks again!

[2020-01-21 10:04] #2140 closed

[2020-01-21 12:39] Maxhodges opened #2141 "Please remove the words "TIP" and "WARNING" from custom containers"
## Feature request
For the customer containers plugin, please don't insert the words "TIP" or "WARNING" into the container!

#### What problem does this feature solve?
That makes the container much less flexible in how it could be used. I might want to use the yellow container to highlight something. But it always says "WARNING". Also, inserting these English words makes it much harder if I want t

[2020-01-21 12:43] Maxhodges commented on #2141
Ah I see you can do it like this

`<div class="warning custom-block"><p class="custom-block-title">IMPORTANT</p> <p>Make sure a custom component’s name either contains a hyphen or is in PascalCase. Otherwise it will be treated as an inline element and wrapped inside a <code>&lt;p&gt;</code> tag, which will lead to hydration mismatch because <code>&lt;p&gt;</code> does not allow block elements to b

[2020-01-21 13:02] bencodezen commented on #2141
Hey @Maxhodges. Is the concern that there is default titles for these custom containers? Or did you just want the ability to override it?

[code]

Or are you saying you want to be able to use the styling with no title at all?

[2020-01-21 13:34] #1992 closed

[2020-01-21 16:00] ptandler opened #2142 "Is it possible to use markup in frontmatter or config texts (themeConfig) in VuePress?"
## Feature request

I did ask [this question on StackOverflow](https://stackoverflow.com/questions/58737945/is-it-possible-to-use-markup-in-frontmatter-or-config-texts-themeconfig-in-vue) a while ago and didn't get any reply.

So I guess that this is rather a feature request and not a question - right? ;-)

#### What problem does this feature solve?

The text for e.g. the language dropdown or serv

[2020-01-21 16:10] Maxhodges commented on #2141
Ideally, yes, I'd like to be able to supply my own title (in Japanese or French or example); or, use it with no title at all!

I didn't realize you could override like that! Great! My bad. I'll close this issue.

[2020-01-21 19:37] bretterer commented on #1560
@itsxallwater I am trying to implement this into my project to help with our build times.  I am attempting to replace the `build/index.js` file and add the `worker.js` file.  I have a script that copies my build and worker script over to the vuepress core library, but when I do it throws an error during build saying that it `cannot find modules dist/manifest/client.json`

How were you successful i

[2020-01-21 20:44] itsxallwater commented on #1560
@bretterer I'm excited to hear you're trying my changes out! Apologies to all that I've not been able to come back to get an official PR in yet.

Outside of the replacement of `../node_modules/@vuepress/core/lib/node/build/index.js` and addition of `worker.js`, we're not doing anything special. I've run the build two ways with our project `package.json` npm build script set as:

1. `vuepress build

[2020-01-22 06:14] s2265681 commented on #2124
我最后也没找到解决方法。我怀疑版本问题 去github拉了别人的基础代码。比较了一下。除了版本没有区别。 后来实在找不到。用了github中一个代码基础上写的

| |
sjw
|
|
邮箱：s2265681@163.com
|

Signature is customized by Netease Mail Master

在2020年01月18日 11:52，pokitpeng 写道：

https://s2265681.github.io/

兄弟，你是怎么解决的，我也遇到了

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-22 10:04] Mister-Hope commented on #2139
I met this too, it seems that [commit 2a5980](https://github.com/vuejs/vuepress/commit/2a598006776dd8f6d7dc13e811f7bdc56281aa80) had solved this issue. Maybe we can figure out.

[2020-01-22 10:42] ozguruysal commented on #2139
I've been having this issue and here are the steps to reproduce it in Chrome.

### Tested with
VuePress 1.2.0
Vue.js devtools 5.3.3

### Reproduction Steps
1. Run the project in `dev` mode.
2. Open it in browser in a fresh tab.
3. Open Chrome dev tools but only go to **Console** tab.
4. Navigate between routes `/route-a` and `route- b`. Everything works well, no errors.
5. Open **Vue** tab in Chro

[2020-01-22 12:48] bencodezen commented on #2141
No worries at all. We should try to highlight that feature better in the docs. I'm going to reopen this issue so we address it.

[2020-01-22 19:50] Buydens commented on #2112
hey @ozguruysal ,

Thanks, this helps a lot.
The double indent doesn't work for me, it gives the same issue:
`rrors compiling template:

  tag <p> has no matching end tag.

  3  |  <p>Test</p>
  4  |  <h2 id="secundair"><a class="header-anchor" href="#secundair">#</a> Secundair</h2>
  5  |  < MyComponent >
     |
  6  |  <p>Plop
     |  ^^^
  7  |  </MyComponent></p>`

[2020-01-22 20:23] ozguruysal commented on #2112
@Buydens I'm just getting faimilar with VuePress and noticed that it's possible to use Markdown syntax inside components. Maybe you already know that. For example:
[code]

**Just notice the empty lines after the opening and before the closing tags**. So I think it's best and logical to avoid HTML tags in a markdown file and if you nest components, use no indentation.

[2020-01-23 06:02] Mister-Hope commented on #2139
I am able to reproduce it, not surprice to find the official are keeping silence as they allways did.

[2020-01-23 06:18] Mister-Hope opened #2144 "Publish new version"
I am curious that since this project is well introduced in Vue 3.0 's speech, why did vuepress only have one maintainer(@ulivz ) has right to publish it. He hasn't show up for three month, so that we have to bear the bugs by using the 1.2.0 which publish 3 months go.

You get thousands of stars, because we think it's a good project maintained by a professianl team, but now you really act as it's a

[2020-01-23 09:55] acmoles commented on #2139
I have also have this problem.

I don't experience the problem without following the Chrome repro steps, so, perhaps the issue relates to Vue devtools? Or the interaction between Vuepress and devtools?

[2020-01-23 11:55] yyong008 opened #2145 "a typescript declaration file?"
I think vuepress need a declaration file.

[2020-01-23 12:35] meteorlxy commented on #2145
Currently you can try [vuepress-types](https://vuepress.github.io/tools/types/)

[2020-01-23 13:25] favoyang commented on #1560
Disable the plugin-last-updated, may reduce half build time. For a repo with less than 200 (dynamic generated) docs:
- turn on: 45.51s
- turn off: 23.76s

[code]
The plugin need spawn a child process to run a local git query on each file, which can be especially slower on cloud with slow disk.
https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/plugin-last-updated/index.js

[2020-01-23 14:57] yyx990803 commented on #2144
Maintainers have priorities in life. I have currently focused on Vue 3, and @ulivz is probably busy with real life.

BTW, this is open source - here's the more constructive ways you could have handled this:

- You are free to fork and publish with your own fixes if you are in urgent need of the fix.
- You can offer to join the team and take up the maintenance responsibility.

The worst way possibl

[2020-01-23 16:11] ChristianKienle commented on #2144
@yyx990803 Agreed. This is an open source project and every second someone works on any open source project is a second we should be thankful for.

You are probably correct: @ulivz seems to be busy with other things – which is totally fine. :)

I am using VuePress myself for some of my side-projects and in general I am very happy with VuePress.

That all being said I would like to mention that you

[2020-01-23 16:15] yyx990803 commented on #2144
To be clear, I will eventually allocate time to get VuePress maintenance back on track (and in case ulivz can no longer lead the maintenance, I will work on finding a new lead for VuePress), but it has to wait until work on Vue 3 is completed.

[2020-01-23 16:33] Mister-Hope commented on #2144
Thanks, after all it's not good that a team leader left this project behind while not gives his teammates the rights to publish the package. It' midnight in China(If you are in it now) Take a good rest.

[2020-01-23 16:36] Mister-Hope commented on #2144
Agree with that, often gets no response from ulivz and his team.

[2020-01-23 16:46] meteorlxy commented on #2144
We still have some active collaborators like @kefranabg @newsbielt703 @meteorlxy , and some active contributors like @ludanxer .

Things are still working, the problem is that we cannot publish version, and cannot make some major decisions.

For me I'm still willing to help maintain this project.

[2020-01-23 16:50] Mister-Hope commented on #2144
Yes, specially appreciate for you vuepress-types, which helped me moved my theme and plugins to typescript. I noticed a few of you are contributing day by day, especially you, working on the vupress comunity.

[2020-01-23 16:56] meteorlxy commented on #2144
@Mister-Hope I know you are an active developer, But being a problem solver is much better than being a grumbler.

And I hope you can understand we are all "full free time" open source developers. ulivz had spent lots of months on VuePress last year. Maintaining an open source project is not a easy work.

可以看看尤大前两天发的文章 https://zhuanlan.zhihu.com/p/103632957

[2020-01-23 16:56] Mister-Hope commented on #2144
But fork and publish a vuepress is not simple as you say. @yyx990803

It's a monorepo. It's package are requiring others. That means I have to be extra carefully replacing any import files from _at_vuepress/core to _at_mr-hope/vuepress-core, and so is the theme-default package and the 2 markdown package Also, I have to fork a few repos from others which their PR have not been accepted, and merged

[2020-01-23 17:36] bencodezen commented on #2144
Hey @Mister-Hope. Thank you for sharing your feedback with the team. Your frustrations are heard and understandable. To be honest, we have also been disappointed with our lack of progress and have been trying to figure out a better path moving forward.

While it's completely understandable that it looks like a personal project for @ulivz, VuePress has always been an open-source project that is bui

[2020-01-24 05:28] davydnorris opened #2148 "Vuepress does not work with versions of vue-cli and vuetify that use sass 8"
- [x] I confirm that this is an issue rather than a question.

## Bug report
The default options supplied for sass-loader break Sass 8, and cannot be overridden in config.js
#### Steps to reproduce
1. Create a vuepress project and add the latest Vuetify, which will trigger webpack to use Sass.
2. Execute `npm run build`
3. The process will fail with the error:
[code]

#### What is expected?
The si

[2020-01-24 09:52] kefranabg commented on #2144
@Mister-Hope are you ok with these answers?

If so I'll close this issue.

[2020-01-24 17:57] #2145 closed

[2020-01-25 11:47] newsbielt703 commented on #2097
Hi @Hill-98,

FYI, VuePress' using `gray-matter` which depends `js-yaml` which follows standard yaml types, so all available formats are [here](https://yaml.org/type/timestamp.html).

Currently, we've handled both 2-digits and single-digit in default blog theme, but if it's possible, we should support both format in VuePress.

[2020-01-25 11:58] Hill-98 commented on #2097
I think in all writing formats, the date attribute should return a uniform format.

[2020-01-25 15:04] KongValley opened #2150 "The navbar last item always exists"
- [ ] I confirm that this is an issue rather than a question.

## Bug report
#### Version
vuepress@1.2.0

#### Steps to reproduce
![1](https://user-images.githubusercontent.com/30281453/73122992-bc640480-3fc5-11ea-8369-e65105e57158.gif)
In [VuePress Community](https://vuepress.github.io/en/), I repeat the problem
![2](https://user-images.githubusercontent.com/30281453/73123028-24b2e600-3fc6-11ea-9

[2020-01-25 16:36] sdaitzman commented on #2106
Here's an example of how this can work: https://github.com/sdaitzman/Olin-PIT-site/commit/75ed3d0397b84d462284cd831522bf872000c972#diff-1d7df657215ba8fd3a42fe5342bc3ee6R21

[2020-01-26 01:04] ludanxer commented on #2150
Hi @KongValley , thanks for your report, this issue is fixed in #1952 . Please wait for the next release.

[2020-01-26 03:23] #2150 closed

[2020-01-26 10:12] kefranabg commented on #2134
This issue should not be fixed with an extra field on `themeConfig` because it makes the users configuration more complex.

We had the same problem with bitbucket, [here is how we fixed this](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/theme-default/components/PageEdit.vue#L82).
It should be the same process for gitea 😉

[2020-01-26 14:42] sdaitzman opened #2152 "Images with spaces in name do not render"
- [x] I confirm that this is an issue rather than a question.

## Bug report
Images with spaces in name are not rendered at all.

#### Steps to reproduce
1. Name an image with spaces in its name.
2. Reference it in a Markdown file.

Here's the repo at the commit where the issue appears: https://github.com/sdaitzman/sam.daitzman.com/tree/dc79228452fd0bf8cd65f799ed3cf711ee32145a

And here's a commit

[2020-01-26 15:07] Mister-Hope commented on #2144
Yes, of course, actually I just want the team make in contact with ulivz, gain the publish access and make the publish cycle shorter. That's all I want actually. And my anger is only to ulivz and a liitle to Mr yo since he really preached this project on the Vue Conf Shanghai.  I take fully understrand of your situation after @bencodezen intrroduce your team situation.

But I am still curious abou

[2020-01-26 15:07] Mister-Hope commented on #2144
And since Mr. 尤 suggested me to publish my vuerpess, so I tried actually, but you see it's a monorepo, and I probably missed something when dealing the packages require or package.json when tring to publish it. So....

[2020-01-26 15:08] #2144 closed

[2020-01-26 20:28] samanthaming opened #2153 "Set Metadata on component level"
## Feature request

Currently the way to set custom metadata is through the frontmatter in the markdown file. It'd be very helpful if we could set this on the component level.

### The Problem

Here's a scenario of why this is important. I use Cloudinary to store my images and I use a gulp task to upload the images. Which then populates a single javascript object with all of the ID of the images.

[2020-01-26 21:15] ptandler commented on #1944
I also stepped over the issue (with VuePress cli.js/1.2.0 win32-x64 node-v12.13.0) that using `--debug` with build creates a site that is not fully functional.

@tskrynnyk For me it *does* work without "--debug".

I did notice that [no `mounted` hooks are called, see my stackoverflow question](https://stackoverflow.com/a/59908818/1480587). The `--debug` option works fine with `dev`.
This causes th

[2020-01-26 21:49] avivace commented on #736
Any update on this?

[2020-01-26 22:09] darrenjennings commented on #736
@avivace it was fixed with https://github.com/vuejs/vuepress/pull/1707/files

[2020-01-26 22:47] avivace commented on #736
@darrenjennings Got it. I was mixing this problem up with the styles "code.styl" is pushing on the default them.

Thanks.

[2020-01-26 23:48] ludanxer commented on #1944
@ptandler Nice Catch! Never notice that 👍

[2020-01-27 07:10] kid1412621 opened #2154 "back-to-top plugin won't work in Safari 13"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. enable `back-to-top` plugin then run `vuepress dev docs`
2. browse in Safari 13

#### What is expected?

show back-to-top icon when scroll to bottom

#### What is actually happening?

nothing shows up

#### Other relevant information

[code]

[2020-01-27 07:28] ludanxer commented on #2154
@kid1412621 Can you provide more details to reproduce the problem?  It seems to be fine on the official documentation site.

BTW, you may need to manually install the `back-to-top` plugin to make it work, check out more detail in the [documentation](https://vuepress.vuejs.org/plugin/#out-of-the-box).

[2020-01-27 07:43] kid1412621 commented on #2154
I've installed the plugin via npm.
And tried on Chrome, it's fine. But comes to Safari 13, it won't show up(even the official site).

[2020-01-27 07:52] ludanxer commented on #2154
Can you share your repo? Preferably a minimize one.

And you can also try to switch from npm to yarn as suggested in the documentation site:

[2020-01-27 08:38] francoisromain opened #2155 "vuepress custom theme and postcss plugins"
- [X ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. make a custom vuepress theme using postcss plugins and publish it on npm.

The postcss plugins are :
- in the `dependencies` of the theme's package.json
- in the theme's `index.js`:

[code]

2. import it in a vuepress project: the theme shows up.

#### What is expected?

The postcss plugins r

[2020-01-27 08:49] kid1412621 commented on #2154
[try this](https://github.com/kid1412621/kid1412621.github.io), just about to start up.

I thought npm doesn't suck anymore nowadays. 😂

[2020-01-27 09:15] ludanxer commented on #2154
I use Yarn to install all my dependencies, and it works fine for me. You may want to check your Safari Preference.

[code]

<img width="1275" alt="Screen Shot 2020-01-27 at 5 08 15 PM" src="https://user-images.githubusercontent.com/27280733/73162304-7d01f900-4128-11ea-93e0-8caada0a4540.png">

<img width="1275" alt="Screen Shot 2020-01-27 at 5 06 38 PM" src="https://user-images.githubusercontent.co

[2020-01-27 09:35] kid1412621 commented on #2154
sorry! my bad, turns out it's a safari plugin I've installed to block ads.

<img width="817" alt="image" src="https://user-images.githubusercontent.com/26278054/73163607-51344280-412b-11ea-9557-c98adf4f4fb3.png">

[2020-01-27 09:35] #2154 closed

[2020-01-27 10:02] kid1412621 commented on #2154
@ludanxer btw, is there possible to support mobile site?

[2020-01-27 10:28] ludanxer commented on #2154
I'm not sure, but I think it would be great.

You can create a feature request in another issue.

[2020-01-27 12:14] newsbielt703 commented on #2152
URL with spaces is not valid because that's for setting link title attribute.

[2020-01-27 12:17] sdaitzman commented on #2152
That totally makes sense, and I'm aware it violates the Markdown spec. But in terms of allowing user-submitted images (like supporting the blog plugin, for example) it's a pretty big issue.

[2020-01-27 12:32] newsbielt703 commented on #2152
I thought it should work fine with `%20`, but it turns out I'm wrong. So, right, it's an issue.

[2020-01-27 20:28] mistic100 opened #2156 "Back top top when changing page."
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

1. go to the official documentation https://vuepress.vuejs.org/guide/
1. scroll to the bottom of the page
1. click "Getting Started →" in the footer

#### What is expected?

I navigate to the **top** of the "Getting started" page

#### What is actually happening?

I navigate to the **bottom** of

[2020-01-28 08:22] kid1412621 commented on #597
is this possible config via yaml?

[2020-01-28 09:08] ptandler commented on #1944
Oh, well, it took me quite a while to figure out what was wrong with my build ;-)

[2020-01-28 13:45] kissu commented on #2117
Another way of doing things would be to simply remove `SSR` from the build and keep it as an SPA (on top of some Auth0 ofc). :smile:

[2020-01-28 16:41] f3ltron commented on #2122
Please consider to install vuepress on your project package. We should avoid using vuepress globally. I think the doc was not update on this part.

Thank's for you question @artmarydotir

[2020-01-28 16:41] #2122 closed

[2020-01-28 16:43] f3ltron commented on #1631
@meteorlxy answered to the question thx i am closing the issue

[2020-01-28 16:43] #1631 closed

[2020-01-28 20:36] bencodezen commented on #2156
@mistic100 Great observation. Scroll behavior should not carry over to the next page.

For those wanting to see a reproduction of it, I have a screen recording here:

https://share.getcloudapp.com/v1umkwA7

[2020-01-29 13:01] loffa opened #2158 "Use different indexes for nested numbered list"
## Feature request

#### What problem does this feature solve?
Currently, vuepress does not number nested lists with other symbols. This can lead to a bit of confusion when creating step-by-step instructions.
Consider the following block of Markdown
[code]
Both normal numbers are used to describe the list in a list and vuepress renders this correctly, restarting the numbering on the indented block

[2020-01-29 14:04] pisandelli commented on #2148
I had a similar issue (see my question in [stackoverflow](https://stackoverflow.com/questions/59957111/using-sass-syntax-with-vuepress-renders-blank-page))

I was just trying to use the `.sass` syntax instead of `.scss`. But always got a blank page.
[code]
Using `lang="scss"` everything goes fine.
The browser console shows the same error pointed by @davydnorris. And I tried everything in my `confi

[2020-01-29 15:14] bencodezen commented on #2153
Thanks for filing this @samanthaming! We really appreciate the time and effort you took to investigate this and will add this our list of items to discuss for our roadmap! Would you be interested in sharing your current plugin implementation so we can figure out a best path forward?

[2020-01-29 16:00] bencodezen commented on #2158
Thanks for filing the issue @loffa! From just preliminary research, it sounds like the best solution to solve this would be for us to implement a markdown extension that detects alpha-ordered lists with roman numerals as well as letters.

For now though, I wanted to at least suggest that a temporary workaround for you (while we figure out our strategy as a team) is to use CSS to target sub-list it

[2020-01-29 16:29] loffa commented on #2158
Thanks for the reply!
I can confirm that the workaround is working. I will use that and look forward to the feature update.

[2020-01-29 20:52] bencodezen commented on #2155
Hey @francoisromain. Could you send us the theme you're using so we can try to replicate the issue you're having?

[2020-01-29 22:39] davydnorris commented on #2148
Thanks for the reply - I was able to get my vuepress working with Vuetify by doing the following:
 - edit vuepress core/lib/node/webpack/createBaseConfig.js, line 257 as above
 - I then got a version mismatch error, so i had to explicitly upgrade vue to 2.6.11
 - I then added the following to my .vuepress/config.js

[code]
 - install fibers

After that everything worked perfectly.

[2020-01-30 07:48] francoisromain commented on #2155
Hello @bencodezen here is the theme: https://github.com/francoisromain/vuepress-theme-system

[2020-01-30 08:00] aliartiza75 opened #2159 "details custom container is not working"
## Bug report
details custom container is not working

#### Steps to reproduce

I have added a container in my project with the following details but it is not working

[code]
:::
[code]

[2020-01-30 09:52] newsbielt703 commented on #2159
Because the feature has't been released, we should have add a version badge in the documentation.

No worries, the next minor version will be released very soon.

[2020-01-30 09:52] #2159 closed

[2020-01-30 10:13] newsbielt703 commented on #2142
I'm not sure if it can be not a huge effort to implement. Besides, IMO, you should override its styles instead.

[2020-01-30 10:33] aliartiza75 commented on #2159
@newsbielt703 thank you

[2020-01-30 16:39] newsbielt703 commented on #1638
Apologies for the delayed response. Close it as a duplicate of #1558.

[2020-01-30 16:39] #1638 closed

[2020-01-30 17:25] newsbielt703 commented on #1889
Apologies for the delayed response. `index.styl` will be imported by the file in temporary directory for client. Therefore, the `.css` file cannot be resolve with relative path.

But you're able to import/require stylus files because they'll probably be complied before that. In which scenario do you need to import literal css?

[2020-01-30 18:54] bencodezen commented on #2061
@worships Which version of IE are you using? And what system are you on?

[2020-01-30 19:58] meteorlxy commented on #2139
@acmoles vue-devtools has some problems with dynamic components  https://github.com/vuejs/vue-devtools/issues/943 . Not sure if it's fixed

[2020-01-30 20:05] meteorlxy commented on #2139
I cannot reproduce this issue without opening vue-devtools.

So this is a issue that comes from vue-devtools: https://github.com/vuejs/vue-devtools/issues/944

[2020-01-31 04:06] samanthaming commented on #777
I'm having the same problem too @lorisleiva 😣. I'm setting the metadata in my own custom plugin, programmatically setting the frontmatter object. Hope this get resolved 🤞

[2020-01-31 04:09] samanthaming commented on #2153
Thanks @bencodezen for looking into this 👏  Absolutely! I'll reach out to you and we can set something up 🙌

[2020-01-31 05:39] newsbielt703 commented on #1923
Apologies for the delayed response. I guess it's an expected value since timestamp starts at the Unix Epoch on January 1st, 1970 at UTC.

Your suggestion is using the timestamps from git to as default values, right?

[2020-01-31 05:41] newsbielt703 commented on #1922
I suppose it's duplicate of #1923.

[2020-01-31 05:41] #1922 closed

[2020-01-31 09:50] meteorlxy commented on #2139
Closing this as this has been filed in https://github.com/vuejs/vue-devtools/issues/944.

Anyone else who encounter this problem, please check if it's related to your vue-devtools first.

[2020-01-31 09:50] #2139 closed

[2020-01-31 09:59] j0Shi82 commented on #2046
Was having the same issue. Have `core-js@3` in the main `package.json` so Vuepress is unable to find the differently named modules from `core-js@2`.

My workaround is tweaking the script that builds Vuepress to first remove core-js and re-add it afterwards. It's a bit of a mess, but I haven't found a batter solution to use Vuepress in a project that relies on core-js@3.

`yarn remove core-js && vu

[2020-01-31 12:11] worships commented on #2061
IE: 11.0.9600.19596
system: win7

[2020-01-31 12:28] ludanxer commented on #2112
Hi @Buydens , is this problem still bothering you?

I can re-create your problem when I **add 4 spaces and an empty line**

[code]

and as @ozguruysal says, it's possible to use MarkDown syntax inside components, so that code above will be treated as a code block.

If this helps you, can you help close this issue? If not, can you share your repo that still has the problem?

[2020-01-31 13:00] bencodezen commented on #2142
Hey @ptandler! Thanks for filing the issue. Just to confirm, what you would like to do is use markdown syntax to style text from different areas of VuePress outside of the Markdown file itself. Is that correct?

[2020-01-31 13:04] bencodezen commented on #2127
@fengxinming I agree that `palette.styl` is not the most intuitive considering it contains many more variables than simple color. This is something we will most likely have to change in the future.

In the meantime, did @meteorlxy help to solve your problem?

[2020-01-31 13:05] bencodezen commented on #2111
@ludanxer We definitely plan on providing an official CLI for scaffolding VuePress projects for sure. We know that this is a major pain point as a new user.

[2020-01-31 13:08] bencodezen commented on #1993
Hi @wesgro! Sorry for the delay in getting to your question.

As far as I'm aware, we don't have any options at the moment that make it easy to disable uglification. I can see how that would be useful though, so I'll label this issue accordingly so the team can review it at some point.

If you have any other questions in the meantime, let us know!

[2020-01-31 13:28] bencodezen commented on #640
@MacZel Thanks for your work on the initial proposal on this.

I could see how sidebar toggling could be useful when it comes to providing users the option to decide when they need the sidebar or not. I'll make sure to label this accordingly for the team to review.

[2020-01-31 13:57] favoyang commented on #1889
@newsbielt703 thanks for the explanation. My intention is to import other CSS libraries and keep everything into the default theme stylus file. I managed to rename the CSS library to `.styl`, and load that instead.

I guess this is not considered as a bug, but a limitation of the system? Then I will close the issue.

[2020-01-31 14:12] newsbielt703 commented on #1889
Well, IMO, it needs to be docmented. Anyway, thanks for the report.

[2020-01-31 14:14] favoyang commented on #1889
Okay I will leave this open. Feel free to close it when the documentation get updated.

[2020-01-31 20:27] ptandler commented on #2142
Hey @bencodezen! I'm glad I can clarify.

There are some texts defined in config.js, e.g.:

[code]

And I guess there might also be some variables defined in the frontmatter where this could be helpful, but this is for me lower priority.

[2020-01-31 20:32] bretterer commented on #1560
@itsxallwater it seems that with the release of 1.3.0 today, your fix no longer functions correctly?  I am being presented with errors from the build when I try to run it, are you seeing that as well?

[2020-02-01 03:41] wanmaoor commented on #2159
When the new version will release? just curious about that, I thought this a good feature.

[2020-02-01 03:48] ludanxer commented on #2159
It's already been released. In vuepress 1.3.0, checkout https://github.com/vuejs/vuepress/releases

[2020-02-01 18:01] #2058 closed

[2020-02-02 11:25] meteorlxy commented on #2141
I think our docs has already "highlighted" this feature:

![image](https://user-images.githubusercontent.com/18205362/73607507-b7203e80-45f1-11ea-86d0-9de04211ea0e.png)

[2020-02-02 15:15] #2074 closed

[2020-02-02 15:55] #2127 closed

[2020-02-02 20:56] bencodezen commented on #2141
@meteorlxy Agreed, but I think the fact that it was missed means that it could be rewritten in a way that's more obvious. I'm going to experiment a bit with this to see what I can come up with.

[2020-02-03 00:40] wanmaoor commented on #2159
thanks.

[2020-02-03 05:52] aliartiza75 commented on #2159
@ludanxer thank you :+1:

[2020-02-03 06:09] aliartiza75 commented on #1671
@xr0master waiting for your response.

[2020-02-03 15:41] #2046 closed

[2020-02-03 16:02] jabby commented on #1861
Please add this support.
@kefranabg  if you want, we can work on this together 😄

[2020-02-03 17:04] #2078 closed

[2020-02-03 17:50] kefranabg commented on #1861
I'll discuss this topic with the team and we'll consider adding AsciiDoc support on VP.

For now I don't know what the impacts would be on VuePress core, but we have to make sure it's worth it. For example, if we know that AsciiDoc syntax will be used by 0.5% of VuePress users, we'll probably never implement it.

[2020-02-03 23:39] Rowdster commented on #108
This doesn't solve the problem if you need {{ inline in your text and don't want to change font/layout format

[2020-02-04 15:24] Livven commented on #2079
Unfortunately there is an issue using the CompressWebpackPlugin with VuePress. The compressed `app.xxx.js.gz` file is missing `(window.webpackJsonp = window.webpackJsonp || []).push([[0], []]);` at the beginning which the `app.xxx.js` contains. This causes all of the JavaScript to stop working.

Minimal repro `config.js`:

[code]

Create two `.md` files that link to each other and observe how foll

[2020-02-04 18:12] YunYouJun opened #2168 "[Feature request] add toLocaleString options for @vuepress/plugin-last-updated"
## Feature request

add options config for @vuepress/plugin-last-updated

#### What problem does this feature solve?

In @vuepress/plugin-last-updated, [toLocaleString](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleString) is the default transformer.
`toLocaleString` has some options, so sometimes we don't need use custom [transformer](https://vuepre

[2020-02-04 19:07] itsxallwater commented on #1560
Just had a chance to update to 1.3 and try @bretterer and you're correct. Given that @kefranabg has picked this up odds are his path will carry us to victory ;)

[2020-02-05 01:29] itsxallwater commented on #1560
Just to call out https://github.com/vuejs/vuepress/pull/2163#issuecomment-582196046, worth mentioning here that our build ran in 24 minutes with version 1.3 + @kefranabg's updates from that PR, **without** my worker_threads stuff. I may still re-work them in to see if they further help things since rolling with 16x threads was yielding 7.5 minutes, but it seems like there's a good official path fo

[2020-02-05 08:10] ghana04 opened #2169 "Report base URL in analytics plugin"
- [x ] I confirm that this is an issue rather than a question.

## Bug report

When using Google Analytics plugin, the base Url configured in the config.js file is not returned by the plugin.

It seems that a fix for this was introduced in v0.14.4 which is not carried over to version 1.x.x. --> [fix](https://github.com/vuejs/vuepress/commit/559888bbb1119a3123feb87f928803fd76d41e72) | [current 0.x

[2020-02-05 19:42] pisandelli commented on #1885
Still a (big) problem... any hope to see a fix for this soon?
I have plenty of `!importants` in my sass code...

[code]

[2020-02-06 20:03] Buydens commented on #2112
Hello @ludanxer and @ozguruysal ,

Thank you both for the insight.

Using the MarkDown helps, feels a bit like a bandaid instead of a cure, but it does the job.

[2020-02-06 20:03] #2112 closed

[2020-02-06 23:49] eeriksp opened #2171 "Add hook to modify markdown before it is rendered by markdown-it"
Consider the following usecase: I have a Vue component, which I need to use very frequently in my markdown text. In my case, it links a term used in the text with a glossary entry. Because it is too verbose to write `<Term term="my_term">`, I added my own shortcut syntax `:my_term:`. Then I use regular expression to convert it into the Vue component.

This has to happen before the text gets parsed

[2020-02-07 08:08] nuochong opened #2172 "@vuepress/pwa 无法弹出 updatePopup"
在更新Chrome浏览器后打包上线后无法显示更新对话框 updatePopup

·sw-updated· 无法被触发

VuePress官网也存在该情况

有关参数
···
chrome浏览器版本 80.0.3987.87（正式版本） （64 位）
"@vuepress/plugin-pwa": "^1.2.0",
"vuepress": "^1.2.0",
···

[2020-02-07 08:21] mgnfcnt opened #2173 "Vuepress Public Folder Host"
I have an existing vuejs application and I want to add vuepress support to create documentation. So I have added it as in documentation.
To server output documents under site I just changed output directory as

[code]
Everything is Ok untill now:

[code]

But when I  go to http://localhost:8080/documentation/index.html , web server can't find css and js files:

[code]

I have changed base director

[2020-02-07 08:35] qinzitong commented on #1718
可以这么解决：我的vuepress版本是1.3.0
enhanceApp.js
[code]

[2020-02-07 08:36] ludanxer commented on #2173
Try to change `base` according to the [documentation](https://vuepress.vuejs.org/config/#base).

From your description, I think the correct `base` would be `'/documentation/'`

[2020-02-07 08:44] mgnfcnt commented on #2173
'/documentation/' is working thanks

[2020-02-07 08:44] #2173 closed

[2020-02-07 10:31] ludanxer commented on #2172
@nuochong Thanks for the report.
Please use English next time so everyone could understand and help you.

---

Translation:

@vuepress/plugin-pwa stop showing popup after updating Chrome

`sw-updated` can't be triggered

This is also happening on VuePress official document site.

Relevant information

[code]

[2020-02-07 10:58] kefranabg commented on #2172
If you've updated Chrome, you've probably reloaded your VuePress website and get the latest version, this is why the popup does not show up anymore. Feel free to comment you think something is uncorrect. Thanks @ludanxer for the translation 👍

[2020-02-08 06:58] wwavelet commented on #2172
I also can't see the refresh button popup when I set {updatePopup:true}, but sw-updated works to me，as the [docs](https://www.vuepress.cn/zh/plugin/official/plugin-pwa.html#vuepress-plugin-pwa) say, you must close all the client, webpage tabs and installed application window then open the page again and you will see the updated content.

[2020-02-08 23:18] EqualMa commented on #2148
Finally fix this by _overwriting_ loader options:

[code]

[2020-02-09 00:03] eeriksp commented on #574
I am currently working on a Vuepress specific glossary plugin.
I will give a link as soon as I get it published.

[2020-02-09 04:32] yibhou opened #2175 "[Bug report] markdown-it plugin cant load by using `config.markdown.plugins` config."
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?

Using config below can correctly load markdown-it plugin like the [doc](https://vuepress.vuejs.org/config/#markdown-plugins).
[code]
Actually it cant load any markdown-it plugins. But loading correctly in using `markdown.extendMarkdown` like:
[code]

#### What is actually

[2020-02-09 15:25] kefranabg commented on #2175
Please provide a reproduction repository so we can help you.

[2020-02-09 15:44] AjitZero commented on #2156
Just confirming: I can reproduce this on **Firefox**, but not in Google Chrome or Safari.

[2020-02-09 15:47] mistic100 commented on #2156
Correct, on Chrome there is an animation that brings the scroll to the top.

(I am not a fan of this animation by the way, it is laggy when it's the first load of a page)

[2020-02-09 16:03] kefranabg commented on #2156
Hi, I confirm that this bug occurs on Firefox 👌

[2020-02-10 02:36] Hsueh-Jen commented on #1099
The only way is add `!important`.  I think it needs to be fixed.

[2020-02-10 09:34] yibhou commented on #2175
Hi, @kefranabg. This is a [reproduction repository](https://github.com/yibhou/vuepress-reproduction).

[2020-02-10 10:03] mgnfcnt opened #2176 "Navigating to Static Files"
I have a static folder as Java Documentation generated with using Dokka at my services project. I am putting these outputs under following folder:

`docs\.vuepress\public\api\-my-service`

Then running npm command:

`npm run docs:build`

Everything works well untill now, and it is putting all documents into necessary place:

`public\documentation\api\-my-service`

I want to navigate user to this f

[2020-02-10 10:24] rookieHcy commented on #2176
+1

[2020-02-10 10:55] ludanxer commented on #2176
Hi @mgnfcnt @rookieHcy   Can you try to rename the `public` folder to something else and give it a go again? Because the `.vuepress/public` is used for [ static assets](https://vuepress.vuejs.org/guide/assets.html#public-files) in VuePress.

And if the problem is still there, can you help provide a minimal repo that reproduces the problem? Thanks.

[2020-02-10 11:22] mgnfcnt commented on #2176
Hello @ludanxer  First I tried with docs/.vuepress/api/my-service and docs/api/my-service folders. In this way vuepress does not create a folder under public/documentation

[2020-02-10 15:34] kefranabg commented on #2176
@mgnfcnt your link path is wrong, use this instead:

[code]

[2020-02-10 15:34] #2176 closed

[2020-02-10 15:38] kefranabg commented on #2175
`extendMarkdown` should be placed at the root of the config object. Not under `markdown`.

[2020-02-11 07:57] yibhou commented on #2175
See the [document](https://vuepress.vuejs.org/config/#markdown-extendmarkdown), that is under `markdown`. And its actually correct.

[2020-02-11 08:59] mohong commented on #743
@Quilljou how to solve this problem?

[2020-02-11 10:01] veidenberg commented on #1021
After some digging, I found that fortunately the default filename selection is slightly different for VuePress and Github. To target readmes for both, rename the GitHub readme as `README.markdown` and Vuepress file as `index.md` or `readme.md`.

[2020-02-11 22:15] eeriksp commented on #574
I have implemented a Glossary plugin for Vuepress. Check it out here: https://www.npmjs.com/package/vuepress-plugin-glossary

All feedback welcome :)

[2020-02-12 06:38] yiliang114 opened #2178 "[Bug report] personal theme set 'layouts/Layout.vue' to main field can not load index.styl"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

you can see the [package.json](https://github.com/yiliang114/vuepress-theme-resume/blob/vuepress%401.x/example/.vuepress/theme/package.json) for my theme, if i just `yarn start` in local , maybe the package.json is not necessary.  The[`theme/index.js` ](https://github.com/yiliang114/vuepress-them

[2020-02-12 07:04] meteorlxy commented on #2178
Sorry but I cannot reproduce this issue. Please provide a "minimal" reproduce repo

[2020-02-12 07:30] hyvyys commented on #903
It still doesn't work for me at version 1.3.0.  This should be straightforward and not black magic! Please create a working example demo instead of claiming it works...

[2020-02-12 07:40] hyvyys commented on #903
For anyone having this issue: in my case, it seems I need to restart the dev server anytime I change a single permalink... As I do whenever I create a new scoped style. Talk about hot-reloading.

[2020-02-12 12:19] Goodbye-Youth commented on #1718
找了好多方法，就你这个有用 :smile:

[2020-02-12 18:43] kefranabg commented on #574
@eeriksp any link to a VP site that is using your plugin?

[2020-02-12 19:18] kefranabg commented on #2175
`markdown.plugins` looks deprecated. Can't find any reference to it in the VuePress code. We'll investigate. Thanks for the report !

[2020-02-12 23:51] itsxallwater commented on #1560
@bretterer if you're so inclined, I updated my fork to 1.3 and made a few adjustments to get my worker_threads version working again. You can find it at https://github.com/itsxallwater/vuepress/tree/feat/implement-node-worker-threads

Haven't had a chance to revisit the contribution guide to work out my issues getting Yarn and the monorepo/workspace stuff sorted out, which would lend itself toward

[2020-02-13 05:10] newsbielt703 commented on #2169
Nice catch!

[2020-02-13 15:03] hyvyys commented on #296
So yes, I am writing a custom theme... Where do I put extra logic around generating title meta attribute? I want to build it from more than just site title and page title.

[2020-02-13 16:56] realtebo opened #2180 "Vue Package version mismatch"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

[code]

Simply, it must start dev server, I think. It's my first time here

#### What is actually happening?

As you can can see above, I  have a blocking error.

#### Other relevant information

I am on Windows 10 Pro. Never tried to install vuepress first of today, so I expect all is fresh and

[2020-02-13 16:59] hyvyys commented on #1283
Any updates on this? This is very irritating if you're trying to use vuepress to something beyond docs.

[2020-02-13 19:53] binnymaster commented on #1692
Hey I'm also getting same error, My application is based on vue.js
![Screen Shot 2020-02-13 at 2 52 15 PM](https://user-images.githubusercontent.com/14200541/74472798-7eddf300-4e70-11ea-8613-501171f1ce31.png)

[2020-02-13 23:33] itsxallwater commented on #1560
![image](https://user-images.githubusercontent.com/13155413/74488120-7db3c280-4e7e-11ea-80e2-a3db7e7fa380.png)

[2020-02-14 11:23] yiliang114 commented on #2178
@meteorlxy  I temporarily created a minimal reconstruction project [link](https://github.com/yiliang114/vuepress-reproduction-demo.git) . You can just git clone it , then run `npm install` and `npm start`. when you open `http://localhost:8080` , you can see a simple resume which like the following picture1.
![picture1](https://user-images.githubusercontent.com/11473889/74526326-1e2ce400-4f5e-11ea-

[2020-02-14 13:57] lhj233 commented on #2172
I also can't see the refresh button popup when I set {updatePopup:true}

[2020-02-14 14:52] oupala commented on #2079
Is this issue coming from the VuePress side or from the CompressWebpackPlugin side?

[2020-02-14 17:04] bretterer commented on #1560
@itsxallwater Ill take a look on tuesday!  Thank you!

[2020-02-14 19:38] samanthaming opened #2182 "Support `css` option in config to solve Font Awesome Icon loading incorrectly (very large)"
So I found out on my site, the font awesome icons loads super big initially and snaps back into proper size after (thank you @Maybach91 for letting me know 👍)

![image](https://user-images.githubusercontent.com/16507205/74560829-44ca2b00-4f1c-11ea-94c0-4459bdcc9bd0.png)

### Why is this happening?

Check out the response from @robmadole, he explains it in this issue:

https://github.com/FortAwesom

[2020-02-14 21:11] binnymaster opened #2183 "vue.esm.js:4458 Uncaught DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method."

[2020-02-14 21:13] binnymaster opened #2184 "vue.esm.js:4458 Uncaught DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method. TypeError: Cannot read property '$scopedSlots' of undefined"
I'm getting this error in my qa and Prod environment. This error is only seen in mobile not in desktop mode.
![Screen Shot 2020-02-13 at 2 52 15 PM](https://user-images.githubusercontent.com/14200541/74567933-e36a8200-4f44-11ea-915f-894ad28e51a5.png)

It would be create if someone is able to help me out.

[2020-02-15 15:15] Livven commented on #2079
Not sure where the issue lies, didn't look into it too much since there was an easy workaround with the `gzip` command.

[2020-02-15 15:56] sdaitzman commented on #2106
Update: another, even easier solution is just to rename your `readme.md` to `readme.markdown`, which GitHub etc. will still recognize (but will not get built by VuePress). ✨

[2020-02-16 05:59] Nastradoomus opened #2186 "&shy; and &hyphen; not marked down correctly"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Add hyphens manual to styles. Add `&shy;` or `&hyphen;` to .md file(s).

#### What is expected?
Word wrap break word with hyphens.

#### What is actually happening?
HTML is rendered as `&amp;shy; `

#### Other relevant information
[markdown-it](https://markdown-it.github.io/) demo works properly.

[2020-02-16 08:26] wuyuehui commented on #2172
I can't see the popup either,but the browser console prompt me Content was updated.
Unless I force the browser cache to clear, new content will appear.

[2020-02-16 08:59] lhj233 commented on #2172
we got the same question

[2020-02-16 20:03] kefranabg commented on #2172
Indeed.

The bug was introduced by this commit https://github.com/vuejs/vuepress/commit/6f9e478

@meteorlxy could you take a look?

[2020-02-17 01:37] meteorlxy commented on #2172
Sure

[2020-02-17 01:39] meteorlxy commented on #2182
See https://github.com/FortAwesome/vue-fontawesome/issues/86

[2020-02-17 02:54] meteorlxy commented on #2172
Figured out the reason.

The default options are set in `ready()` hook, which will have no effect in `globalUIComponents` option.

Fix and make further refactor in #2187

[2020-02-17 03:39] meteorlxy commented on #2172
For someone want a workaround: set `popupComponent: 'SWUpdatePopup'` option to make the popup component work in current version.

[2020-02-17 05:13] meteorlxy commented on #2184
Please follow the template and provide more context

[2020-02-17 05:13] #2184 closed

[2020-02-17 05:14] #2183 closed

[2020-02-17 05:17] meteorlxy commented on #2180
You might have installed vue@2.6.10 globally (via some other package, maybe `vue-cli`).

1. Install vuepress locally, instead of globally.

2. Or, if you still want global installation, try `yarn global add vue@2.6.11`.

[2020-02-17 05:17] #2180 closed

[2020-02-17 05:23] meteorlxy commented on #2186
Sorry but I cannot reproduce this issue. Things seem to work properly in my case.

In the home page of official docs:

![image](https://user-images.githubusercontent.com/18205362/74625827-9e369200-5188-11ea-9c51-3f1a00ac1947.png)

Result:

![image](https://user-images.githubusercontent.com/18205362/74625837-a989bd80-5188-11ea-9ac9-410a1893d0c0.png)

[2020-02-17 08:32] kefranabg commented on #2172
Awesome, thanks @meteorlxy 👍

[2020-02-17 08:37] #2172 closed

[2020-02-17 08:37] kefranabg commented on #2172
Will be in the next minor release

[2020-02-17 08:53] meteorlxy commented on #2178
Confirmed. That's an issue about resolving theme path.

Well, I personally decline `'layouts/Layout.vue'` way, as it's more for compatibility with 0.x themes. That might be dropped in the future

[2020-02-17 09:30] #1606 closed

[2020-02-17 09:30] #1990 closed

[2020-02-17 09:54] meteorlxy commented on #2178
Figured out the reason. This issue was caused by #1564, which did not fix the corresponding issue correctly.

[2020-02-17 10:02] realtebo commented on #2180
![image](https://user-images.githubusercontent.com/1268699/74643348-d9c76100-5174-11ea-97c4-81b17d6ec85d.png)

I did what I wrote in the issue. And I did what your "getting started" told me to do.

So please, instead of easily close the issue, understand that something is wrong by your side

[2020-02-17 10:03] meteorlxy commented on #2180
Can't you see that?

[2020-02-17 10:10] realtebo commented on #2180
We haven't vue installed locally

Yarn
[code]

NPM
[code]

Anyway
[code]

[2020-02-17 10:37] meteorlxy commented on #2180
Have you tried `yarn global add vue@2.6.11` ?

If it does not work, you can try to check the version of vue that installed in the `C:\Users\Utente\AppData\Local\Yarn\Data\global\node_modules\` path.

Or, try something like:
- Clean the cache
- Remove everything and re-install
- ...

---

Anyway, it's not suggested to install vuepress globally if you want to use it in a real project.

[2020-02-17 10:55] wenbinke commented on #1286
I fixed this issue after I installed vuepress from global to local.

[2020-02-17 16:02] robmadole commented on #2182
@samanthaming yeah, this is a good solution. would you be interested in putting up a PR that adds VuePress? https://github.com/FortAwesome/vue-fontawesome#integrating-with-other-tools-and-frameworks

[2020-02-17 17:26] itsxallwater commented on #1560
FYI @bretterer latest updates to that fork include allowing a configurable number of worker threads from the CLI. When you run the `build` command, `-w` will allow you to set that number. I also took out my `verbose` flag and have things respecting the `--silent` option that `build` has.

I got through all of my other obstacles so I'll get a PR in on these updates formally :)

[2020-02-17 20:48] tylerbutler commented on #1560
@itsxallwater I tried your fork on some internal API documentation. It's ~4000 markdown files. Previously our build took 4-5 hours, but with your fork, it's ~20 *minutes*. Thanks! I'm looking forward to seeing this in master. Your command line additions will be welcome as well.

[2020-02-18 06:03] KieranHunt opened #2190 "Errors in console about deeply nested sidebar"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

Have sidebar that is nested more than 3 items deep.

#### What is expected?

No errors in the console output.

#### What is actually happening?

Errors on first page load and on navigating between pages.

#### Other relevant information

Found the line here: https://github.com/vuejs/vuepress/blob

[2020-02-18 06:12] KieranHunt commented on #2190
Created a pull request for this here: https://github.com/vuejs/vuepress/pull/2191

[2020-02-18 10:28] Nastradoomus commented on #2186
I was blaming markdown-it but the problem really lies in templating. Sorry for wasting your time. I wasn't thinking clearly.

Please modify index.md

[code]

[2020-02-18 13:44] kefranabg commented on #1560
While I'm working on VuePress build time improvement, using @itsxallwater might be a good woarkaround https://github.com/itsxallwater/vuepress/tree/feat/implement-node-worker-threads 👍

[2020-02-18 14:06] CodesOfRa commented on #1884
Hi 👋 @sdaitzman  I am still planning to work on this, but I am a bit busy at the moment so if you have the time feel free to take it over

[2020-02-18 14:08] sdaitzman commented on #1884
@CodesOfRa thanks for letting me know! Do you have any work-in-progress somewhere that I could start from?

[2020-02-18 17:08] ddazal commented on #2106
Hi guys,

I know that we shouldn't place a `README.md` file and a `index.md` file in the same folder but, playing around, I get the content of the `index.md` file on build. Do you think the priority or lookup order should appear somewhere in the docs?

[2020-02-18 17:20] sdaitzman commented on #2106
@ddazal I actually think that it's pretty reasonable for the root to contain a `README.md` file, intended for information about the documentation/website/blog and how to build it, and an `index.md` file, intended for specifying the actual contents of the homepage.

The pattern I've observed is that the `index.md` file will take priority, but only *sometimes*. This makes me think there's a race con

[2020-02-18 20:46] youngpirate32 commented on #1815
This error has affected me too, can you please see please

[2020-02-19 12:23] Axieum commented on #1018
Another thing to take into account, is the combination of locale and version. I believe the URL should show as `en-GB/1.0/*`, but the file structure should be `1.0/en-GB/*`. This may cause issues with the VuePress path resolving as the URL would not reflect the relative path.

[2020-02-20 09:07] lilisako commented on #1434
How did you solve this? I'm having a same issue...

[2020-02-20 15:57] Mister-Hope commented on #699
@meteorlxy  I noticed an issue here, when supporting in this way, the compile speed will slow down greatly, beacause before enable it, vue files are handled by `cache-loader >> vue-loader`, but after we enabled, will be `ts-loader >> cache-loader >> vue-loader` ,so is the markdown files.

can we let the cache-loader catch the result generated by ts-lodaer?

[2020-02-20 16:41] meteorlxy commented on #699
Nice catch, forgot to add cache-loader before ts-loader. It will be supported in 0.2.0

Sorry I cannot get your point, you can open an issue on the plugin repo for that.

[2020-02-21 08:19] yulei521 opened #2194 "vuepress build，cannot find '/dist/manifest/client.json'"
![image](https://user-images.githubusercontent.com/13927415/75016404-e2e26600-54c5-11ea-82fe-0bdd205edc96.png)

[2020-02-21 08:45] ludanxer commented on #2194
Hi @yulei521 , could you please follow issue template and provide more context?

And please use English so everyone could understand and help you.

[2020-02-21 09:44] xqin opened #2195 "Allow cli pass siteConfig to vuepress/core"
## Feature request

`@vuepress/core`  can receive `siteConfig` parameters, but cli does not declare this command line parameter.

i have been test on local, just modify `lib/registerCoreCommands.js`, add one line code.

![image](https://user-images.githubusercontent.com/1265888/75021672-bf241d80-54cf-11ea-9c07-ff1116061682.png)

relative issue:

https://github.com/vuejs/vuepress/issues/1955

**It’

[2020-02-21 14:11] Rain120 opened #2197 "Open index.html always location to 404 after build?"
## Question Description

Location is ok, but open location build file index.html is 404

**Location**
![image](https://user-images.githubusercontent.com/20939839/75041224-1be6fe80-54f7-11ea-8239-6f37eca26bd3.png)

**line**
![image](https://user-images.githubusercontent.com/20939839/75041177-0671d480-54f7-11ea-977a-3d65664f03c8.png)

## Link

[Demo](https://rain120.github.io/vuepress-plugin-awesome

[2020-02-21 14:20] ludanxer commented on #2197
Check the document site about how to set [base](https://vuepress.vuejs.org/config/#base) correctly when [deploying to GitHub pages](https://vuepress.vuejs.org/guide/deploy.html#github-pages).

[2020-02-21 14:48] Rain120 commented on #2197
@ludanxer It did not work, I had to try it

[2020-02-21 14:56] ludanxer commented on #2197
In your case, try `/vuepress-plugin-awesome-gitalk/dist/` or `/vuepress-plugin-awesome-gitalk/`.

[2020-02-21 15:00] Rain120 commented on #2197
@ludanxer Both did not work

- [/vuepress-plugin-awesome-gitalk/ commit](https://github.com/Rain120/vuepress-plugin-awesome-gitalk/commit/698de05e74bf167d45a9c7999df970b7a1e0a383)

- [/vuepress-plugin-awesome-gitalk/dist/ commit](https://github.com/Rain120/vuepress-plugin-awesome-gitalk/commit/6f674a73e48a087f8448efbf0e0c28877ce5bb55)

[2020-02-22 00:16] ludanxer commented on #2197
`/vuepress-plugin-awesome-gitalk/dist/` is working in my case, check out my [fork](https://github.com/ludanxer/vuepress-plugin-awesome-gitalk) and [deploy](https://ludanxer.github.io/vuepress-plugin-awesome-gitalk/dist/index.html).

Close this issue if your problem is solved.

[2020-02-22 02:46] Rain120 commented on #2197
@ludanxer It's work, thx

[2020-02-22 02:46] #2197 closed

[2020-02-22 04:10] uniquejava commented on #2180
I have the same issue, I should have a clean mac.
I followed the document

[code]

and then i tried `vue --version`

I fixed this by running ` yarn global add vue@2.6.11`. so if it's not a bug I think you'd mention please run the following command together in the getting started guide.

[code]

[2020-02-22 14:11] kngako commented on #2194
- [x] I confirm that this is an issue rather than a question.

## Bug report

Vuepress fails to build on Ubuntu 18.04.4 even though dev works successfully.

#### Steps to reproduce

[code]

#### What is expected?

This should build successfully.

#### What is actually happening?

The build fails and produces this error:
[code]

#### Other relevant information

- Output of `npx vuepress info` in my

[2020-02-22 15:23] kngako commented on #2194
Looks like this issue doesn't occur when `NODE_ENV` is set to `production`. So running
[code]

Lets everything work as it should.

The check for production was [introduced 2 years ago](https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/node/webpack/createClientConfig.js#L35) and it looks like it's a feature instead of a bug.

[2020-02-23 12:06] yulei521 commented on #2194
@kngako get it，thank you。

[2020-02-23 12:06] #2194 closed

[2020-02-24 10:28] realtebo commented on #2180
I absolutely disagree.

It's not a solution to add vue globally, absolutely. In a server, or a complex dev environmente, we could have a lot of conflicts

[2020-02-25 09:49] ludanxer commented on #2030
I made a [demo](https://vuepress-support.netlify.com/) with `vuepress-plugin-table-of-contents`.

I think it also works well in #1985 's situation, but it will not display the badge.

Any idea why it's reverted in the first place?

Also, it's a breaking change

[code]

[2020-02-25 10:05] meteorlxy commented on #2030
I remembered that it was not a complex issue. @ludanxer if you are intereted, I could help to find the history:

- #1375 original PR
- fbbd677f567860772337cf96068ae600a747c752 reverted commit

[2020-02-25 10:10] meteorlxy commented on #2030
#1375 Tried to replace the `[[toc]]` syntax to avoid introducing breaking changes, which caused a ssr-mismatch issue.

As I remembered, the `[[toc]]` syntax will generate HTML like `<p><div></div></p>`, which is [invalid](https://ssr.vuejs.org/guide/hydration.html#hydration-caveats)

[2020-02-25 14:03] vvni commented on #699
So I can't use typescript to build a theme yet, can I?

[2020-02-25 23:56] sabicalija opened #2200 "Case insensitive routing not working/beforeEach hook not called (with wrong paths)"
- [x] I confirm that this is an issue rather than a question.

## Bug report

We need a hook in the vue router before a site is requested from the server, because we want to achieve case insensitive routing. From the documentation of vue router we found the [`beforeEach`](https://router.vuejs.org/guide/advanced/navigation-guards.html) hook, which should be called before every routing request, when

[2020-02-26 00:09] sabicalija commented on #2200
I just saw the router-link to the index page in the response (Chrome, Network Tab).

![image](https://user-images.githubusercontent.com/13609768/75299034-4f49c600-5834-11ea-985e-1c28caca3a1d.png)
![image](https://user-images.githubusercontent.com/13609768/75299058-5f61a580-5834-11ea-8996-9716f14ac9a7.png)

This answers one question. I understand now why the link was displayed with the 2. link.

Bu

[2020-02-26 12:43] alex-w0 opened #2201 "Yarn run docs:dev stops execution after changing config.js"
- [x] I confirm that this is an issue rather than a question.

## Bug report

Hi, when I'm starting vuepress on a local webserver and editing the config.js the execution of the yarn script will be stopped.

#### Steps to reproduce

1. Clone the minimalistic project from my repository and install the dependencies
https://github.com/alex-w0/test_vuepress

2. Run the webserver which will be accessibl

[2020-02-26 12:47] Roy-Kid opened #2202 "build之后，public中的文件移动到根目录下，但生成的html中路径没有改动"
- [x] I confirm that this is an issue rather than a question.

## Bug report
我将所有的照片当到了.vuepress/public 下面，所有引用都写成/logo.png的形式，然后vuepress dev，一切正常。但是build之后，html中主logo和左上角brand路径都是正常的，变成了xx/logo.gif，但是md中的路径仍然是/logo.gif。请赐教，不太清楚中间发生了什么。
#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my VuePress

[2020-02-26 14:19] henrikdahl opened #2203 "Importing SCSS mixins fail"
I've created a component library and documented it using `VuePress`. Things worked smoothly until I wanted to also use the docs for debugging components. Instead of loading the built library, I'm importing the an index file that includes components and everything else. It works besides the fact that it fails on SCSS mixins. It appears it never loads the mixin at all.

In my `vue.config.js` I do:

[2020-02-26 15:08] henrikdahl commented on #2203
Seems the fix was to have the `@` webpack alias before the sass data in the config.

[2020-02-26 15:08] #2203 closed

[2020-02-27 04:09] ludanxer commented on #2202
Hi, could you please use English so everyone could understand and help you? Thanks!

And I'm not very sure what your problem is, but I think [baseURL](https://vuepress.vuejs.org/guide/assets.html#base-url) in the document would help?

If not, could you please provide `Steps to reproduce` as the issue template suggests? Thanks.

[2020-02-27 05:28] nisarhassan12 opened #2205 "setup yarn boot does not work."
![image](https://user-images.githubusercontent.com/46004116/75414584-d5f0c700-594a-11ea-8fb3-86b18f158a33.png)

I have also tried `yarn install` before running `yarn boot` but that also does not seems to be working.

[2020-02-27 08:48] zpfz opened #2206 "Why does VuePress configure externals failed?"
- [x] I confirm that this is an issue rather than a question.

## Bug report
My project uses Antd of Vue components, and configures the following code in enhanceApp.js:
[code]
Configure the following code under .vuepress / config.js:
[code]
The console then prompts the following message:
Cannot read property 'use' of undefined
Antd is not undefined
So I want to konw how to use externals correctly？

[2020-02-27 09:33] skafendre opened #2207 "Plugins don't register when running on a docker image"
- [x] I confirm that this is an issue rather than a question.

## Bug report

I encountered an issue when I tried to hook my repo with ci tools.
Registering plugins via Vue.use() does not seem to work on a docker image, as both vuepress dev and vuepress build will not register it.
The issue does not appear in my local dev environnement though.
I am writing a custom theme.

#### Steps to reproduce

[2020-02-27 10:26] Roy-Kid commented on #2202
sorry about that. I have removed all the globe modules include vuepress and then, use yarn add them locally, and it worked. i think this is due to the conflict of npm and yarn maybe. Sorry for bothering you again, i am the freash man of js...

[2020-02-27 10:26] #2202 closed

[2020-02-27 14:16] pajachiet commented on #1208
Maybe a duplicate of https://github.com/vuejs/vuepress/issues/544 ?

[2020-02-27 14:23] z3by commented on #668
This is a very important feature! we have about 1000 files and there is much more to come, and the build time is going beyond 30 minutes, this feature could make the build time less than one minute.

[2020-02-28 11:52] tarvos21 commented on #597
For new user of Vuepress:

1. `yarn add markdown-it-footnote`
2. add code below to `.vuepress/config.js`:

[code]

[2020-02-28 22:13] fredericpfisterer commented on #2203
Can I see your config.js because I'n trying to achieve the same by importing globally include-media in my VuePress project but no luck so far.

Cheers

[2020-02-29 06:10] meteorlxy commented on #2206
`enhanceApp` will be called in [both server and client](https://vuepress.vuejs.org/guide/basic-config.html#app-level-enhancements).

[code]

[2020-02-29 06:10] #2206 closed

[2020-02-29 06:13] meteorlxy commented on #2207
EnhanceApp.js => enhanceApp.js

[2020-02-29 06:13] #2207 closed

[2020-02-29 06:21] meteorlxy commented on #2205
#2052

[2020-02-29 06:21] #2205 closed

[2020-03-01 04:30] nanyuantingfeng commented on #1604
我也遇到了这个问题, 因为markdown-it在转换资源路径的时候做了一次encode , 导致资源路径没有找到, 所以我写了一个 markdown-it 插件,把中文路径转换回来, 就可以使用了

https://github.com/nanyuantingfeng/markdown-it-disable-url-encode

// config.js
  markdown: {
    extendMarkdown: md => {
      md.use(require("markdown-it-disable-url-encode"));
    }
  }

[2020-03-01 04:56] nanyuantingfeng opened #2209 "The relative path of the resource must be start with "./" ?"
-----
  |---assets
            |--image.png
  |----hellod.md

// hello.md
use   `![image](assets/image.png)`    :
 is build
`<p><img src="assets/image.png" alt="image" /></p>`

use `![image](./assets/image.png)` :
 is build
  `<p><img src="/assets/img/image.8d698338.png" alt="image" /></p>`

why ?

i use typora write md file, and the first ( without './' ) is its resource reference rule. I'm tired

[2020-03-01 05:15] nanyuantingfeng commented on #1237
i wrote a markdown-it plugin to fix this issue.
please check `markdown-it-disable-url-encode` in npm
and  add
[code]
to ` config.js`

[2020-03-01 08:16] ludanxer commented on #2030
Found two other related history #1436 , #1596

[2020-03-03 04:41] meteorlxy commented on #2201
Related to #1283 (may be duplicated)

[2020-03-03 10:15] Nastradoomus commented on #2186
In templates use:
`        <h2
          v-html="feature.title">
        </h2>
        <p
          v-html="feature.details"

        </p>`
instead of:
`        <h2>{{ feature.title }}</h2>
        <p>
          {{ feature.details }}
        </p>`
Now you can use <a> tags and such with frontmatter.

[2020-03-03 10:15] #2186 closed

[2020-03-03 14:31] jsliu-null opened #2213 "关于主题开发的基础问题"
你好，
我想自己开发一个主题，一直不知道怎么下手，
自己比较菜，文档看不太懂，
希望能有一个大牛帮助一下
如果可以希望能微信沟通一下
微信：13283394579
打扰了
  祝好

[2020-03-04 07:19] findix commented on #1604
Thanks @nanyuantingfeng
It works well~

[2020-03-04 21:11] bml104 commented on #1800
Did you ever find a resolution or workaround to this? I have the same exact issue.

[2020-03-05 00:17] ludanxer commented on #1800
@bml104 can you provide a reproduction repo? thanks.

@kiwicopple 's website seems to be working fine right now

[2020-03-05 00:50] ludanxer commented on #2142
@Nastradoomus brought up an interesting idea in  #2186

[2020-03-05 01:15] ludanxer commented on #2073
May be duplicate #1604

[2020-03-05 08:18] henrikdahl commented on #2203
@fredericpfisterer

[code]

[2020-03-05 10:26] bml104 commented on #1800
https://bml104.gitlab.io/vuepress-ext-test/

https://gitlab.com/bml104/vuepress-ext-test

[2020-03-05 10:49] fvanwijk opened #2215 ""theme-default-content" class is rendering too late"
- [x] I confirm that this is an issue rather than a question.

## Bug report

When serving the project from `dist`, the following styles are not applied on the main content div:
[code]
This is because the `theme-default-content` class is not applied on the `<Content />` component. See Page.vue.

After interaction, the class is suddenly added.
This issue does not happen when running in dev mode.

#

[2020-03-05 11:36] ludanxer commented on #1800
@bml104 In your case, change your `base` into `/vuepress-ext-test/`, see more detail at [gitlab-pages-and-gitlab-ci](https://vuepress.vuejs.org/guide/deploy.html#gitlab-pages-and-gitlab-ci)

[2020-03-05 14:50] bml104 commented on #1800
@ludanxer  Worked, thank you so much!

[2020-03-06 21:25] ianwalter commented on #1560
Can I recommend https://github.com/josdejong/workerpool for a worker threads implementation? It has some nice features that sound relevant from the discussion:
1. Node.js detection to fallback to child processes if worker threads aren't supported
2. Automatically determines thread count based on host's CPU if not specified
Wish I had time to contribute more to this, good luck!

[2020-03-07 08:05] ludanxer commented on #2213
Hi @jsliu-null , I know that VuePress documentation may not be perfect, but there are also many useful resources on the [internet](https://www.google.com/search?q=how+to+develop+a+vuepress+theme), I believe they can at least get you started. And there is a list of [VuePress Themes](https://github.com/vuepressjs/awesome-vuepress#themes) for your reference.

And if you encounter some specific proble

[2020-03-07 08:37] ludanxer commented on #1944
I made some tests. Change this line
https://github.com/vuejs/vuepress/blob/4c6fbcc5736c72f32e4a8208d5cfa46d86b2bf22/packages/%40vuepress/core/lib/node/webpack/createBaseConfig.js#L46

into

[code]

seems to solve the problem.

[2020-03-07 08:50] zpj80231 commented on #2213
Hi @jsliu-null, You can refer to my blog: [https://zpj80231.github.io/znote/](https://zpj80231.github.io/znote/), blog built with vuepress.
And if you have questions, please contact me.

[2020-03-07 10:26] rufuspollock commented on #452
For anyone else looking for this, this is now very much possible thanks to `additionalPages` API:

https://vuepress.vuejs.org/plugin/option-api.html#additionalpages

e.g. in your `config.js` you can have stuff like:

const path = require('path')

[code]

[2020-03-08 09:20] kefranabg commented on #1750
For a full text search, you can use https://vuepress.vuejs.org/theme/default-theme-config.html#algolia-docsearch

[2020-03-08 09:21] kefranabg commented on #1750
Feel free to open a PR for the side bar toc feature

[2020-03-08 16:31] aliartiza75 commented on #1671
@xr0master waiting for your response

[2020-03-09 02:04] #2213 closed

[2020-03-09 02:07] jsliu-null commented on #2213
非常感谢，@ludanxer  @zpj80231
我在努力看看文档和网上的资料
如果有不明白的还要麻烦您@zpj80231

[2020-03-09 02:18] meteorlxy commented on #2213
QQ群 686025154

[2020-03-09 21:15] trolologuy commented on #2072
I would be happy to contribute to the docs.
But I'm struggling with adding other icons then "user secret".
For example "lightbulb" which is in [the repo of fort awesome](https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/regular/lightbulb.svg).
I'm trying to invoke it with `<font-awesome-icon icon="lightbulb" />` what am i missing here?

[2020-03-09 22:01] trolologuy commented on #2072
Okey after lots of trial and error, I finally managed to get it to work, with the exception of the "brand" icons (if anyone has an idea?).
In the **step 2** of the steps described above, in the `enhanceApp.js`, you have to register every icon you wish to use (if there are better ways to do that, I'd be happy to know).
For e.g:
[code]
Allows to use:
[code]
But be aware thet some styling options [de

[2020-03-10 04:49] deancn commented on #610
[code]

![image](https://user-images.githubusercontent.com/1617384/76280663-8bb60100-62cd-11ea-826e-67a853969aed.png)

do not work yet.  Any thing wrong?

[2020-03-10 06:58] mishengqiang commented on #2168
#2192 这个特性可能导致一些第三主题出现Invalid Date的错误，比如[vuepress-theme-ououe](https://github.com/tolking/vuepress-theme-ououe)主题。

相关的[中文文档](https://vuepress.vuejs.org/zh/plugin/official/plugin-last-updated.html#%E9%80%89%E9%A1%B9)及时跟进，现在默认值还是`undefined`。

[2020-03-10 08:04] kefranabg commented on #2168
Has been fixed in https://github.com/vuejs/vuepress/commit/369c31520b48131d1c8dcff6dcc95f2699ed68bb . Will be in the next release

[2020-03-10 08:04] #2168 closed

[2020-03-10 11:43] newsbielt703 commented on #1671
Hey @aliartiza75, let me help you.

Why don't you put what you want to display into `README.md`. You said you want a default page, the truth is `README.md` under the that certain group (folder) is a default page.

[2020-03-10 16:12] neiromendez opened #2217 "When the next release will coming up?"
I have notice that the next release have big improvement, I have curious to test it. If anyone can tell me I'll appreciated.

Thanks For your effort!

[2020-03-10 17:45] aliartiza75 commented on #1671
@newsbielt703 okay

[2020-03-10 17:45] #1671 closed

[2020-03-11 04:27] YunYouJun commented on #1757
@stemount You can try this and just `yarn add -D sass-loader sass`.
It works. `<style lang="scss">` too.

Of course, I also support using scss by default in 2.x.

[2020-03-11 05:14] newsbielt703 commented on #2217
Next week!

[2020-03-11 05:28] WangYuLue opened #2220 "how to set sitelinks in google?"
## Feature request

#### What problem does this feature solve?

how to set sitelinks in google?

#### What does the proposed API look like?

#### How should this be implemented in your opinion?

#### Are you willing to work on this yourself?

[2020-03-11 08:44] #2217 closed

[2020-03-11 12:15] Mister-Hope opened #2221 "[Bug] Memory rolling in Rendering HTML"
It seems there are some problems  with GC when rendering HTML. From the source code, `vue-server-renderer` will parse the html on by one.

[code]

But actually the memory used will increase while rendering which is obviously the proof that there is something wrong with GC.

This issue is affecting me because my project is using more then 10 plugins, and that will take more memory in use and will t

[2020-03-11 12:21] nanxiaobei commented on #239
Be carefull, here is a typo:
`encahnceApp` ❌should be
`enhanceApp` ✅

[2020-03-12 13:45] OrwillT commented on #2134
Gitea's edit link is basiclly the same as source but with an extra `_` before `edit`

For example:

Edit link default generate for source:
`https://random.gitea.com/User/Repo/edit/branch/folder/README.md`

The true edit link gitea use:
`https://radom.gitea.com/User/Repo/_edit/branch/folder/README.md`

Maybe you could just add an extra setting options to add that extra `_`

[2020-03-13 07:23] Nastradoomus commented on #2142
I dug into this a while ago. The double brackets {{ text }} is rendered as text in **Vue**. If you want to render text as HTML you have to use the vue directive v-html="text"

HTML rendering has got nothing to do with vuepress (or frontmatter) and I think that we can close this.

If you want to use html inside .md files you can use syntax:

`<p v-html="text"></p>`

Instead of

`<p>{{ text }}</p>`

[2020-03-13 09:20] ptandler commented on #2142
@Nastradoomus - But is it somehow possible to use the `<p v-html="text"></p>` syntax (or s.th. similar) in the _frontmatter_ of an .md file or (in my case more important) in the `config.js` as in the example as mentioned in https://github.com/vuejs/vuepress/issues/2142#issuecomment-580898111 above?

[2020-03-13 10:07] Nastradoomus commented on #2142
Try DropdownLink.vue:

[code]
If you want to filter only language data check NavLinks.vue:

[code]

[2020-03-13 17:27] sinedied opened #2222 "register-service-worker 1.7.0 broke PWA plugin"
Using version 1.3.0 my website was building fine, no issues.
Just before updating, `npm outdated` shows this:
[code]
After running `npm update`, I get this error when building the website:
[code]
Removing `@vuepress/pwa` plugin from my config removes the error, so it seems something went wrong in the `1.3.1` update.

[2020-03-13 21:10] mspoulsen opened #2223 "Change the code block background and text"
Any chance that you could change the dark code blocks so that they match the code blocks with light (#f8f8f8) background on https://vuejs.org/v2/guide/?

It is so much nicer (and cheaper) when printing :slightly_smiling_face:

[2020-03-13 22:51] Lionad-Morotar commented on #2148
Thanks, It works

[2020-03-14 02:29] ludanxer commented on #2223
Hi @mspoulsen , not sure if they will decide to change it. But currently you can change the background color in [palette.styl](https://vuepress.vuejs.org/config/#palette-styl)

[code]

and change text color in [index.styl](https://vuepress.vuejs.org/config/#index-styl)

[code]

May relate to #1401

[2020-03-14 09:36] mspoulsen commented on #2223
Thanks @ludanxer  :+1:

[2020-03-14 12:20] tarvos21 commented on #2087
I also hope that this feature would be added to VuePress, thanks!

[2020-03-14 18:40] ChangerHe opened #2224 "import sass file success, but compile failed"
- [x] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?

compile scss file successfully

#### What is actually happening?

I had import my component to custom component, but the sass variables and functions cannot compile.
![image](https://user-images.githubusercontent.com/26900876/76688234-f8325680-6665-11ea-8ad0-879dc7c98d8a.p

[2020-03-14 22:36] superusercode commented on #1865
any news on this issue? assuming the offer from Mister-Hope still stands

[2020-03-15 11:17] #2223 closed

[2020-03-15 13:48] LukasHirt commented on #1861
Is there any update on this? I'd be up for contributing to this if you'd be interested.

[2020-03-17 10:24] julien-joe opened #2226 "使用第三方UI框架做主题报错"
使用第三方UI框架  iview，使用layout模板报错

报错：Maximum call stack size exceeded

[2020-03-17 11:11] lauragift21 opened #2227 "Overlap on a Navbar Dropdown"
- [x] I confirm that this is an issue rather than a question.

## Bug report

When one clicks on several options in the navbar, their drop-down menu options overlap.

#### Steps to reproduce

![IMG](https://user-images.githubusercontent.com/17657625/75721348-d74d2700-5c9d-11ea-94ec-c3beff6e8688.png)
![Screenshot 2020-03-17 at 12 12 23 PM](https://user-images.githubusercontent.com/17781315/76850902

[2020-03-17 12:56] sinedied commented on #2222
Adding a bit more details: only updating the `vuepress` package from `1.3.0` to `1.3.1` produce the same issue, so it seems to be related to the core package update.

[2020-03-17 14:49] jerryc127 opened #2228 "Potential security vulnerability found in the minimist dependency?"
- [ ] I confirm that this is an issue rather than a question.

## Bug report

#### Steps to reproduce

#### What is expected?

#### What is actually happening?

#### Other relevant information

- Output of `npx vuepress info` in my VuePress project:

the new version.
i built the Github page using vuepress,
but the GitHub notice me
Potential security vulnerability found in the minimist dependency?

[2020-03-17 15:43] Unbinilium commented on #2222
Seem the same issue here:

[code]

Related with the `pwa` plugin, version detail:

[code]

[2020-03-18 05:41] meteorlxy commented on #2228
upgrade minimist

[2020-03-18 05:41] #2228 closed

[2020-03-18 05:42] meteorlxy commented on #2222
Please provide reproduce repo.

The official docs works well.

[2020-03-18 05:42] #2226 closed